{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block titulo %}{% if not email_editar %}{% trans "Daylisoft: Crear nueva campaña email" %}{% else %}{% trans "Daylisoft: Editar campaña email" %}{% endif %}{% endblock titulo %}
{% block estilos %}
{% endblock estilos %}

<!--Notificacion de productos por debajo del stock-->
{% block notif_prod_numero %}
    {% if notif_stock|length > 0 %}
        <span class="label label-danger">{{ notif_stock|length }}</span>
    {% endif %}
{% endblock notif_prod_numero %}

{% block notif_prod_mensaje %}
    {% for p in notif_stock%}
        <li>
            <a href="{% url 'dashboard_app:url_form_editar_producto' id_prod=p.pro_id %}">
                <div class="pull-left">
                    <img src="{% if p.pro_imagen_principal %}
                    {% for i in p.pro_imagen_principal %}
                        {{ i.img_data.url }}
                    {% endfor %}
                    {% else %}{% static 'daylisoft/dashboard/img/no-imagen.png' %}{% endif %}" class="img-circle" />
                </div>
                <h4 style="padding-bottom:6px; font-weight: 600;">{{ p.pro_nombre|truncatechars:20 }} <span class="label label-danger">{% trans "Stock" %}: {{ p.pro_stock }}</span></h4>
                <p>{% trans "Categoría" %}: {{ p.categorias.cat_nombre}}</p>
            </a>
        </li>
    {% endfor %}
{% endblock notif_prod_mensaje %}

{% block notif_prod_ver %}
    {% if notif_stock %}
        <li class="footer"><a href="{% url 'dashboard_app:url_listar_productos_bajo_stock' %}">{% trans "Ver todas las notificaciones" %}</a></li>
    {% else %}
        <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
    {% endif %}
{% endblock %}

<!--Notificacion de pedidos pendientes-->
{% block notif_pedido_numero %}
    {% if notif_pedidos|length > 0 %}
        <span class="label label-warning">{{ notif_pedidos|length }}</span>
    {% endif %}
{% endblock notif_pedido_numero %}

{% block notif_pedidos_mensaje %}
    {% for p in notif_pedidos%}
        <li>
            <a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}">
                <h4 style="padding-bottom:6px">
                    {% trans "Cód:" %} {{ p.ped_id }} <small>{% trans "Cliente" %}:  {{ p.cliente.us_nombre }} {{ p.cliente.us_apellidos }}</small>
                </h4>
                <p style="padding-bottom:6px">$ {{ p.ped_total_pagar }}
                <span class="label label-{% if p.ped_estado == 'pendiente' %}warning{% else %}info{% endif %}" style="margin-left: 50px; font-size: 12px;">{{ p.ped_estado|capfirst }}</span></p>
            </a>
        </li>
    {% endfor %}
{% endblock notif_pedidos_mensaje %}

{% block notif_pedidos_ver %}
    {% if notif_pedidos %}
        <li class="footer"><a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}">{% trans "Ver todas las notificaciones" %}</a></li>
    {% else %}
        <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
    {% endif %}
{% endblock %}

{% block contenido %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header box-header-background with-border">
                        <h3 class="box-title ">{% if not email_editar %}{% trans "Crear una nueva campaña email" %}{% else %}{% trans "Editar campaña email" %}{% endif %}</h3>
                    </div>
                    <form role="form" enctype="multipart/form-data" id="formulario_camapania_email" onsubmit="return false;" method="post">{% csrf_token %}
                        {% if email_editar %}
                            <br />
                            <div align="center"><a href="{% url 'dashboard_app:url_listar_email' %}" class="btn bg-green" >
                                <i class="fa fa-arrow-left" aria-hidden="true"></i> {% trans "Regresar a la lista de campañas" %}</a>
                            </div>
                            <br/>
                        {% endif %}
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                <div class="box-body">
                                    <!-- Nombre de la campana -->
                                    {% trans "Nombre de la campaña" as i18n_campania_nombre %}
                                    <div class="form-group">
                                        <label>{{ i18n_campania_nombre }} <span class="required">*</span></label>
                                        <input type="text" id="email_campania_nombre" name="email_campania_nombre" placeholder="{{ i18n_campania_nombre }}" value="{{ email_editar.cam_nombre}}" class="form-control" maxlength="100" required>
                                    </div>
                                    <!-- Asunto -->
                                    {% trans "Asunto del email" as i18n_campania_asunto %}
                                    <div class="form-group">
                                        <label>{{ i18n_campania_asunto }} <span class="required">*</span></label>
                                        <input type="text" id="email_campania_asunto" name="email_campania_asunto" placeholder="{{ i18n_campania_asunto }}" value="{{ email_editar.cam_asunto}}" class="form-control" maxlength="100" required>
                                    </div>
                                    <!-- Cuerpo -->
                                    {% trans "Cuerpo del email" as i18n_campania_cuerpo %}
                                    <div class="form-group">
                                        <label>{{ i18n_campania_cuerpo }} <span class="required">*</span></label>
                                        <textarea id="email_campania_cuerpo" name="email_campania_cuerpo" class="form-control autogrow" required
                                                  placeholder="{{ i18n_campania_cuerpo }}">{{ email_editar.cam_cuerpo_email}}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer" align="center">
                            <button id="btn_campania_agregar" class="btn bg-light-blue" type="submit">{% trans "Guardar cambios" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock contenido %}

{% block scripts %}
    <script src="{% static 'daylisoft/dashboard/plugins/editor/js/tinymce/tinymce.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#menu_campania').addClass("active");
            $('#menu_campania_agregar').addClass("active");
            $('#menu_campania_agregar').children('a').removeAttr('href');
        });

        //Editor de texto
        tinymce.init({
            selector: '#email_campania_cuerpo',
            theme: 'modern',
            height: 300,
            plugins: [
                    'autolink link image lists print preview hr anchor',
                    'wordcount insertdatetime table emoticons paste textcolor'
            ],
            content_css: '{% static "daylisoft/dashboard/plugins/editor/js/tinymce/skins/lightgray/content.min.css" %}',
            toolbar: 'undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons'
          });
    </script>
{% endblock scripts %}