{% load l10n %}
<div class="right-sidebar-block">
    <div class="sidepanel widget_search animate" data-anim-type="fadeInUp" data-anim-delay="300">
        {% if respuesta.tipo == "all" or respuesta.tipo == "cantidad" or respuesta.tipo == "tag" or respuesta.tipo == "cat" %}
            <input id="text_busqueda" type="text" name="s" value="" placeholder="Buscar">
        {% else %}
            <input id="text_busqueda" type="text" name="s" value="{{respuesta.id_buscado}}" placeholder="Buscar">
        {% endif %}
        <input type="submit" value="Go">
    </div>
    <div class="sidepanel widget_cart animate" data-anim-type="fadeInUp" data-anim-delay="300">
        <h4 class="title">Carrito de compras</h4>
        <div class="cart_wrap">
            <ul id="listaProductos" class="product_posts">
                
            </ul>
            <div class="subtotal">Subtotal: <span id="subtotal">$0.00</span></div>
            <a href="/shop/ver_carrito/" class=" shortcode_button btn_small btn_type5 mr15">Ver carrito</a>
        </div>
    </div>
    {% load mptt_tags %}
    <div class="sidepanel animate" data-anim-type="fadeInUp" data-anim-delay="300">
        <h4 class="title">Categorías</h4>
        <ul id="tree3">
        {% recursetree categorias %}
            <li>
                {% if not node.is_leaf_node %}
                <li><a style="font-family: times, serif; font-size:14pt;" href="/shop/productos/cat={{node.cat_nombre}}/">{{node.cat_nombre}}</a>
                <ul class="children">
                    {{ children }}
                </ul>
                {% else %}
                    <li class="glyphicon glyphicon-chevron-right"><a style="font-family: times, serif; font-size:14pt;" href="/shop/productos/cat={{node.cat_nombre}}/">&nbsp{{node.cat_nombre}}</a></li>
                {% endif %}
                </li>
            </li>
        {% endrecursetree %}
        </ul>
    </div>
    <div class="sidepanel widget_filter animate" data-anim-type="fadeInUp" data-anim-delay="300">
        <h4 class="title">Filtrar por precio</h4>
        <div class="price_filter_wrap">
            <div class="range-filter-wrapper">
                <div id="slider-range"></div>
            </div>
            {% if respuesta.tipo == 'cantidad' %}
            <div class="cart_widget_total">Precio: <span class="price-filter"><span class="from">${{respuesta.min}}</span> - <span class="to">${{respuesta.max}}</span></span>
            </div>
            {% else %}
            <div class="cart_widget_total">Precio: <span class="price-filter"><span class="from">$0</span> - <span class="to">$200</span></span>
            </div>
            {% endif %}
            <a id="btn_filtro" href="javascript:void(0);" class="shortcode_button btn_small btn_type4">Filtrar</a>
            <div class="clear"></div>
        </div>
    </div>
    <div class="sidepanel widget_products animate" data-anim-type="fadeInUp" data-anim-delay="300">
        <h4 class="title">Productos Destacados</h4>
        <ul class="product_posts">
            {% for producto in productos_destacados %}
                <li>
                    <img src="{{ producto.imagen.url }}" alt="" style="width:50px;height:50px" />
                    <a href="/shop/producto_detalle/{{ producto.producto.pk }}" class="title">{{ producto.producto.pro_nombre }}</a>
                    <div class="price">
                        {% if producto.oferta == True %}
                            <del>$ {{ producto.producto.pro_precio }}</del>
                            <ins>$ {{ producto.pre_oferta }}</ins>
                        {% else %}
                            <ins>$ {{ producto.producto.pro_precio|unlocalize }}</ins>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="sidepanel widget_tag_cloud animate" data-anim-type="fadeInUp" data-anim-delay="300">
        <h4 class="title">Tags</h4>
        <div class="tagcloud">
            {% for tag in tags %}
            <a href="/shop/productos/tag={{ tag.tag_nombre }}/">{{ tag.tag_nombre }}</a> {% endfor %}
        </div>
    </div>
    <div class="sidepanel widget_products widget_toprated animate" data-anim-type="fadeInUp" data-anim-delay="300">
        <h4 class="title">Productos mas Puntuados</h4>
        <ul class="product_posts">
            {% for producto in productos_puntuados %}
                <li>
                    <img src="{{ producto.imagen.url }}" alt="" style="width:50px;height:50px" />
                    <a href="/shop/producto_detalle/{{ producto.producto.pk }}" class="title">{{ producto.producto.pro_nombre }}</a>
                    <div class="star_rating">
                        {% if producto.producto.pro_valoracion == 1 %}
                           <i class="icon-star active"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i>
                        {% elif producto.producto.pro_valoracion == 2 %}
                            <i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i>
                        {% elif producto.producto.pro_valoracion == 3 %}
                            <i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star"></i><i class="icon-star"></i>
                        {% elif producto.producto.pro_valoracion == 4 %}
                            <i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star"></i>
                        {% elif producto.producto.pro_valoracion == 5 %}
                            <i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star active"></i>
                        {% endif %}
                    </div>
                    <div class="price">
                        {% if producto.oferta == True %}
                            <del>$ {{ producto.producto.pro_precio }}</del>
                            <ins>$ {{ producto.pre_oferta }}</ins>
                        {% else %}
                            <ins>$ {{ producto.producto.pro_precio|unlocalize }}</ins>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>