{% extends "base.html" %} {% load l10n %}
{% block css %}
<link rel="stylesheet" href="/static/daylisoft/footable/css/footable.bootstrap.css">
<link rel="stylesheet" href="/static/daylisoft/datatables/css/dataTables.tableTools.min.css">
<style>
	.cart_totals {
	margin-bottom:22px;
	width:100%;
	}

	.cart_totals tr td {
		padding:0 10px 11px 0;
		text-align:left;	
	}

	.cart_totals tr td:last-child {
		padding:0 0 8px 10px;
		text-align:right;
	}

	.cart_totals tr td span {
		color:#2d2e2e;	
	}
</style>
{% endblock css %} 
{% block content %}
<div class="breadcrumbs">
    <div class="container">
        <a href="/">Inicio</a><span>/</span><a href="/shop/pedidos">Pedidos</a><span>/</span> Detalle
    </div>
</div>
<div class="wrapper">
    <div class="container">
        <div class="page_title_block">
            <div class="bg_title">
                <h1>Detalle de pedido: PED-{{pedido_id}}</h1>
            </div>
        </div>
        <div class="row pb75">
            <div class="shop_ordering animate" data-anim-type="fadeInUp" data-anim-delay="300">
                <div class="col-md-12">
                    <label class="control-label">Pedidos del usuario:</label>
                    <span>{{request.user.us_nombre}} {{request.user.us_apellidos}} ({{request.user.username}})</span>
                    <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Buscar">
                    <div class="table-responsive">
	                    <table class="footable table table-stripped toggle-arrow-tiny" data-filter=#filter id="tabla_pedidos">
	                    <thead>
	                        <tr>
	                            <th>Descripción</th>
	                            <th>Precio Unitario</th>
	                            <th>Cantidad</th>
	                            <th>Descuento</th>
	                            <th>Total</th>
	                        </tr>
	                    </thead>
	                    <tbody>
							{% for det_ped in pedidos %}
	                    		<tr>
	                    			<td>
	                    				<a href="/shop/producto_detalle/{{det_ped.pro_id.pk}}">{{det_ped.pro_id.pro_nombre}}</a>
	                    			</td>
	                    			<td>${{det_ped.precio_unit|unlocalize}}</td>
	                    			<td>{{det_ped.cantidad}}</td>
	                    			<td>${{det_ped.descuento|unlocalize}}</td>
	                    			<td>${{det_ped.total_pagar|unlocalize}}</td>
	                    		</tr>                                    
							{% endfor %}
	                    </tbody>
	                </table>
                </div>
                </div>
                <div class="col-sm-offset-4 col-sm-4">
	                <table class="cart_totals">
	                    <tr class="cart_table_item">
	                        <td><label>Subtotal</label></td>
	                        <td>${{subtotal|unlocalize}}</td>
	                    </tr>
	                    <tr class="cart_table_item">
	                        <td><label>IVA ({{iva}}%)</label></td>
	                        <td>${{precio_iva|unlocalize}}</td>
	                    </tr>
	                    <tr class="cart_table_item">
	                        <td><label>Gastos envio</label></td>
	                        <td>${{gasto_envio|unlocalize}}</td>
	                    </tr>
	                    <tr class="cart_table_item">
	                        <td><label>Total a pagar</label></td>
	                        <td>${{total_pagar|unlocalize}}</td>
	                    </tr>
	                </table>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="modalIngresoDeposito" class="modal fade login_popup" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="padding-top: 50px;">
        <div class="modal-content">
            <form  id="form_deposito" name="form_deposito" enctype="multipart/form-data">{% csrf_token %}
                <div class="row">
                   <div class="col-md-12">
                        <label class="control-label">Papel del deposito escaneado:</label>
                            <div class="image-crop" style="max-height: 300px; max-width:100%;">
                                <div id="contenedor_img">
                                 </div>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <center>
                        <div class="btn-group">
                            <label title="Upload image file" for="inputImage" class="btn btn-default">
                                <input type="file" accept="image/*" name="file1" id="file1">
                            </label>
                        </div>
                    </center>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Cod. deposito:</label>
                            <input id="txt_deposito" name="txt_deposito" maxlength="20" type="text" required="required" class="form-control" placeholder="Ingrese el numero del comprobante de deposito ej: 4007298" />
                            <input class="hide" id="txt_id" name="txt_id" maxlength="20" type="text" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-5 col-md-2">
                        <input class="btn-success btn" type="submit" name="btn_enviar" value="Guardar">
                    </div>
                </div>
            </form >
            <button type="button" class="close_popup" data-dismiss="modal"><i class="icon-times"></i></button>
        </div>
    </div>                                    
</div>
{% endblock content %} 
{% block js %}
<script type="text/javascript" src="/static/daylisoft/footable/js/footable.min.js"></script>
<script>
    $("#menu_pedidos").css("color", "#22a1c4");

    $(document).ready(function(){
        $('.footable').footable();
    });
</script>
{% endblock js %}