    {% extends "base.html" %} {% load l10n %} {% block css %}
    <link rel="stylesheet" href="/static/daylisoft/css/shop.css"> {% endblock css %} {% block content %}

    <div class="breadcrumbs">
        <div class="container">
            <a href="/">Inicio</a><span>/</span><a href="/shop/productos/">Compras</a><span>/</span>Detalle de producto
        </div>
    </div>
    <div class="wrapper">
    	<div class="container">
        	<div class="content_block row right-sidebar single_product">
            	<div class="fl-container hasRS">
                	<div class="posts-block">
                        <div class="contentarea">

                            <div class="row">
                            	<div class="col-sm-5 images animate" data-anim-type="fadeInLeft" data-anim-delay="300">
                                	<div class="img_block wrapped_img">
                                        {% for img in imagenes %}
                                            {% if img.img_es_principal %}
                                                <img style="width: 370px;height: 400px;" id="largeImage" src="{{ img.img_data.url }}"  alt="" />
                                            {% endif %}
                                        {% endfor %}
                                        <span class="block_fade"></span>
                                        <div class="post_hover_info">
                                            {% for img in imagenes %}
                                                {% if img.img_es_principal %}
                                                    <a id="zoom_product" href="{{ img.img_data.url }}" class="photozoom view_link"><i class="icon-search"></i></a>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="product_thumbs">
                                        <ul>
                                            {% for img in imagenes %}
                                                {% if img.img_es_principal %}
                                                    <li><a href="javascript:void(0)" class="current"><img style="width: 116px;height: 110px;" src="{{ img.img_data.url }}" alt=""/></a></li>
                                                {% else %}
                                                    <li><a href="javascript:void(0)"><img style="width: 116px;height: 110px;" src="{{ img.img_data.url }}" alt=""/></a></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-7 summary animate" data-anim-type="fadeInRight" data-anim-delay="300">
                                	<h2 id="txtNombre" class="product_title">{{ producto.pro_nombre }}</h2>
                                    <input class="hide" type="text" value="{{ producto.pk }}" id="pro_id">
                                    <div class="star_rating">
                                        {% if valoracion == 1 %}
                                           <i class="icon-star active"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i>
                                        {% elif valoracion == 2 %}
                                            <i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i>
                                        {% elif valoracion == 3 %}
                                            <i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star"></i><i class="icon-star"></i>
                                        {% elif valoracion == 4 %}
                                            <i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star"></i>
                                        {% elif valoracion == 5 %}
                                            <i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star active"></i>
                                        {% endif %}
                                    </div>
                                    {% if oferta %}
                                        <div id="txtPrecio" class="amount">${{ pre_oferta }}<span>${{ producto.pro_precio|unlocalize }}</span></div>
                                    {% else %}
                                        <div id="txtPrecio" class="amount">${{ producto.pro_precio|unlocalize }}</div>
                                    {% endif %}
                                    <p style="color: red;">Precio no incluye iva</p>
                                    <p>{{producto.pro_descripcion_corta}}</p>
                                    <div class="product_btns">
                                    	<div class="product_quantity">
                                        	<form class="cart" method="post" action="javascript:void(0);">
                                                <div class="quantity">
                                                    <a class="minus button" href="javascript:void(0);">-</a>
                                                    <input id="txtCantidad" class="input-text qty text" type="number" title="Qty" value="1" name="quantity" min="1" step="1" disabled>
                                                    <a class="plus button" href="javascript:void(0);">+</a>
                                                </div>
                                                <div class="clear"></div>
                                            </form>
                                            <input type="number" id="ctp" class="hide" disabled value="{{producto.pro_stock}}">
                                    	</div>
                                        {% if oferta %}
                                            <a href="javascript:void(0);" onclick="AddCar({{producto.pk}},'{{pre_oferta}}');" class="shortcode_button btn_small btn_type5 cart_btn"><i class="icon-shopping-cart"></i>Agregar al carrito</a>
                                        {% else %}
                                            <a href="javascript:void(0);" onclick="AddCar({{producto.pk}},'{{producto.pro_precio|unlocalize}}');" class="shortcode_button btn_small btn_type5 cart_btn"><i class="icon-shopping-cart"></i>Agregar al carrito</a>
                                        {% endif %}
                                    </div>
                                    <div class="product_meta">
                                        <span class="posted_in"><span>Categorias:</span>
                                            <a href="javascript:void(0);">{{producto.categorias.cat_nombre}}.</a>
                                        </span>
                                        <span class="tagged_as"><span>Tags:</span>
                                            {% for tag in producto.tags.all %}
                                                {% if forloop.last %}
                                                    <a href="javascript:void(0);">{{tag.tag_nombre}}.</a>
                                                {% else %}
                                                    <a href="javascript:void(0);">{{tag.tag_nombre}},</a>
                                                {% endif %}
                                            {% endfor %}
                                        </span>
                                        <span class="posted_in"><span>Cantidad disponible:</span>
                                            <a href="javascript:void(0);">{{producto.pro_stock}}</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="row control_post_links">
                                <div class="col-sm-6 animate" data-anim-type="fadeInLeft" data-anim-delay="300">
                                    <div class="shortcode_icons_wrapper">
                                        <div class="fb-like" data-href="http://daylisoft.com/shop/producto_detalle/{{producto.pk}}/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>

                                    </div>
                                </div>
                            </div>-->
                            <div class="row">
                                <div class="col-sm-12 module_cont pb33 module_tabs animate" data-anim-type="fadeInUp" data-anim-delay="300">
                                    <div class="shortcode_tabs type1">
                                        <div class="all_head_sizer"><div class="all_heads_cont"></div><div class="clear"></div></div>
                                        <div class="all_body_sizer"><div class="all_body_cont"></div></div>
                                        <div class="shortcode_tab_item_title expand_yes">Detalle</div>
                                        <div class="shortcode_tab_item_body tab-content clearfix">
                                            <div class="ip">
                                                <div class="tab_content">
                                                	{{ producto.pro_descripcion_larga }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="shortcode_tab_item_title expand_no">Info Adicional</div>
                                        <div class="shortcode_tab_item_body tab-content clearfix">
                                            <div class="ip">
                                                <div class="tab_content">
                                                	<div class="additional_info">
                                                        <div class="tab_content">
                                                            {{producto.pro_info_adicional}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="shortcode_tab_item_title expand_no">Comentarios ({{cant_coment}})</div>
                                        <div class="shortcode_tab_item_body tab-content clearfix">
                                            <div class="ip">
                                            	<div class="tab_content">
                                                	<ol id="bloque_comentarios" class="commentlist">
                                                        {% for comentario in comentarios %}
                                                            <li class="comment">
                                                                <div class="stand_comment">
                                                                    <div class="thiscommentbody">
                                                                        <div class="commentava wrapped_img">
                                                                            <img class="avatar" src="
                                                                            {% if comentario.rev_usuario.us_avatar %}
                                                                                {{ comentario.rev_usuario.us_avatar.url }}
                                                                            {% else %}
                                                                                /static/daylisoft/img/sin-imagen-user.png
                                                                            {% endif %}" alt=""/>
                                                                        </div>
                                                                        <div class="comment_info">
                                                                            <div class="comment_author_name"><a href="javascript:void(0);">{{ comentario.rev_usuario.username }}</a></div>
                                                                            <p>{{ comentario.rev_texto }}</p>
                                                                            <div class="comment_meta">
                                                                                <span class="date">{{ comentario.rev_fecha }}</span>
                                                                                <span class="star_rating">
                                                                                    {% if comentario.rev_estrellas == 1 %}
                                                                                	   <i class="icon-star active"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i>
                                                                                    {% elif comentario.rev_estrellas == 2 %}
                                                                                        <i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i>
                                                                                    {% elif comentario.rev_estrellas == 3 %}
                                                                                        <i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star"></i><i class="icon-star"></i>
                                                                                    {% elif comentario.rev_estrellas == 4 %}
                                                                                        <i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star"></i>
                                                                                    {% elif comentario.rev_estrellas == 5 %}
                                                                                        <i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star active"></i><i class="icon-star active"></i>
                                                                                    {% endif %}
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        {% endfor %}
                                                    </ol>
                                                    {% if request.user.is_authenticated %}
                                                    <div id="respond">
                                                        <form class="comment-form" id="form-comment">{% csrf_token %}
                                                            <div class="row">
                                                            <div class="col-md-8">
                                                                <textarea rows="5" cols="45" name="mensaje" id="mensaje" placeholder="Escriba su mensaje aqui..."></textarea>
                                                            </div>
                                                            <div class="col-md-4">
                                                                <label for="valoracion">Valoración: </label>
                                                                <select id="valoracion" name="valoracion">
                                                                  <option value="1">1 estrella</option>
                                                                  <option value="2">2 estrellas</option>
                                                                  <option value="3">3 estrellas</option>
                                                                  <option value="4">4 estrellas</option>
                                                                  <option value="5" selected>5 estrellas</option>
                                                                </select>
                                                            </div>
                                                            <input class="hide" type="text" value="{{request.user.pk}}" id="usuario">
                                                            </div>
                                                            <div class="row">

                                                                <div class="col-md-4">
                                                                    <button type="submit" class="shortcode_button btn_small btn_type5">
                                                                        <span>Agrege un comentario</span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div><!-- #respond -->
                                                {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 module_cont pb50 module_feature_posts">
                                	<h3 class="mb22">Productos Relacionados</h3>
                                	<div class="shop_list_item">
                                        <div class="items3">
                                            <ul class="item_list">
                                                {% for producto_rel in productos_relacionados %}
                                                    <li class="animate" data-anim-type="fadeInUp" data-anim-delay="300">
                                                        <div class="item">
                                                            <div class="item_wrapper">
                                                                <div class="img_block wrapped_img">
                                                                   <img src="{{ producto_rel.imagen.url }}" alt="" style="width:270px; height:350px;">
                                                                   <span class="block_fade"></span>
                                                                   <div class="post_hover_info">
                                                                        <a href="/shop/producto_detalle/{{ producto_rel.producto.pk }}" class="featured_ico_link view_link"><i class="icon-link"></i></a>
                                                                        <a data-toggle="modal" data-target="#modalIngresoCarrito" data-id="{{producto_rel.producto.pk}}" data-nombre="{{producto_rel.producto.pro_nombre}}" data-img="{{producto_rel.imagen.url}}" data-cantidad="{{producto_rel.producto.pro_stock}}" data-oferta="{{producto_rel.oferta}}" data-precio="{{producto_rel.producto.pro_precio|unlocalize}}" data-preoferta="{{producto_rel.pre_oferta}}" class="featured_ico_link view_link"><i class="icon-shopping-cart"></i></a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="shop_list_info">
                                                                <div class="product_categories"><a href="javascript:void(0);">{{producto_rel.producto.categorias.cat_nombre}}</a>
                                                                <h6><a href="/shop/producto_detalle/{{ producto_rel.producto.pk }}">{{producto_rel.producto.pro_nombre}}</a></h6>
                                                                <div class="price">
                                                                    {% if producto_rel.oferta == True %}
                                                                        <del>${{ producto_rel.producto.pro_precio|unlocalize }}</del>
                                                                        <ins>${{ producto_rel.pre_oferta }}</ins>
                                                                    {% else %}
                                                                        <ins>${{ producto_rel.producto.pro_precio|unlocalize }}</ins>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                        	</div>

                        </div>
                    </div>
                </div>
                {% include "shop/menu_derecho.html" %}
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!-- Modal agregar carrito -->
    {% include "shop/modal_carrito.html" %}
    {% endblock content %} {% block js %}
    <script type="text/javascript" src="/static/daylisoft/js/shop.js"></script>
    <script type="text/javascript" src="/static/js/tienda.js"></script>
    <script type="text/javascript" src="/static/js/modalShop.js"></script>
    <script type="text/javascript" src="/static/js/carrito.js"></script>
    <script type="text/javascript" src="/static/js/busquedas.js"></script>

    <script>
        $("#menu_compras").addClass("current-menu-parent");
    </script>
    {% endblock js %}