    {% extends "base.html" %} 
    {% block css %}
    <link rel="stylesheet" href="/static/daylisoft/css/shop.css">
    <style>
        .stepwizard-step p {
            margin-top: 10px;
        }

        .stepwizard-row {
            display: table-row;
        }

        .stepwizard {
            display: table;
            width: 100%;
            position: relative;
        }

        .stepwizard-step button[disabled] {
            opacity: 1 !important;
            filter: alpha(opacity=100) !important;
        }

        .stepwizard-row:before {
            top: 14px;
            bottom: 0;
            position: absolute;
            content: " ";
            width: 100%;
            height: 1px;
            background-color: #ccc;
            z-order: 0;

        }

        .stepwizard-step {
            display: table-cell;
            text-align: center;
            position: relative;
        }

        .btn-circle {
          width: 30px;
          height: 30px;
          text-align: center;
          padding: 6px 0;
          font-size: 12px;
          line-height: 1.428571429;
          border-radius: 15px;
      }
  </style>
  {% endblock css %} 
  {% block content %}
<div class="breadcrumbs">
    <div class="container">
        <a href="/">Inicio</a><span>/</span><a href="/shop/productos/">Compras</a><span>/</span>Carrito de compras
    </div>
</div>
<div class="wrapper">
    <div class="container">
       <div class="page_title_block">
            <div class="bg_title">
                <h1>Su carrito</h1>
            </div>
        </div>
        <div class="content_block row no-sidebar">
           <div class="fl-container">
               <div class="posts-block">
                <div class="contentarea">
                    <div class="stepwizard">
                        <div class="stepwizard-row setup-panel">
                            <div class="stepwizard-step">
                                <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
                                <p>Paso 1: Revisión.</p>
                            </div>
                            <div class="stepwizard-step">
                                <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                                <p>Paso 2: Datos de envio.</p>
                            </div>
                            <div class="stepwizard-step">
                                <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                                <p>Paso 3: Confirmación.</p>
                            </div>
                        </div>
                    </div>
                    <form role="form">
                        <div class="row setup-content" id="step-1">
                            <div style="margin-left: 10px;margin-right: 10px;"> 
                                <h3> Paso 1: Por favor revise si los productos y las cantidades son correctos.</h3>
                            </div>
                            <div class="col-md-12">
                                <div class="shop_cart animate" data-anim-type="fadeInUp" data-anim-delay="300"> 
                                    <table>
                                        <thead>
                                            <tr>
                                                <th >&nbsp;</th>
                                                <th class="product-thumbnail">Item</th>
                                                <th class="product-name">Descripción</th>
                                                <th class="product-price">Precio Unitario</th>
                                                <th >Cantidad</th>
                                                <th class="product-subtotal">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody id="cuerpo">                                    
                                        </tbody>
                                    </table>                           
                                </div>
                                <div class="row pb75">
                                    <div class="col-sm-8"></div>
                                    <div class="col-sm-4 text-right"> 
                                        <h3 class="mb22">Gastos totales</h3>
                                        <input id="iva" type="text" value="{{iva}}" class="hide">
                                        <table class="cart_totals">
                                            <tr>
                                                <td><span>Cart Subtotal</span></td>
                                                <td class="subtotal_carrito"></td>
                                            </tr>
                                            <tr>
                                                <td><span>IVA ({{iva}}%)</span></td>
                                                <td class="subtotal_iva"></td>
                                            </tr>
                                            <tr>
                                                <td><span>Total a pagar</span></td>
                                                <td class="total_carrito"></td>
                                            </tr>
                                        </table>
                                        <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Siguiente</button>
                                    </div>                            
                                </div> 
                            </div>
                        </div>
                        <div class="row setup-content" id="step-2">
                            <div style="margin-left: 10px;margin-right: 10px;">
                                <h3> Paso 2: Ingrese los datos donde se va a enviar su pedido.</h3>
                            </div>
                            <div class="col-md-offset-3 col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Ciudad:</label>
                                    <input id="txt_ciudad" maxlength="20" type="text" required="required" class="form-control" placeholder="Ingrese la ciudad a donde se va a enviar" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Codigo postal:</label>
                                    <input id="txt_cod" maxlength="20" type="text" required="required" class="form-control" placeholder="Ingrese su codigo postal si no lo tiene escriba 0000" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Dirección de envio:</label>
                                    <textarea name="txt_direccion" required="required" id="txt_direccion" cols="30" rows="10" placeholder="Ingrese la direccion exacta a donde se va a enviar y si desea datos adicionales (Telef, #Cedula, etc)"></textarea>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Empresa de envio:</label>
                                    <select name="select_empresa" id="select_empresa" onchange="costo_envio(this.options[this.selectedIndex].value)">
                                        <option selected value="empresa">Lo retirare en el local</option>
                                        {% for transporte in transportes %}
                                        <option value="{{transporte.pk}}">{{transporte.trans_nombre}} (aplica costo adicional)</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="row pb75">
                                    <button class="btn btn-primary nextBtn btn-lg pull-right" type="button" >Siguiente</button>
                                </div>
                            </div>
                        </div>
                        <div class="row setup-content" id="step-3">
                            <div class="col-xs-12">
                                <div class="col-md-12">
                                    <h3> Paso 3: Confirme si los datos son correctos</h3>
                                    <div class="col-md-6">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Descripción</th>
                                                    <th>Precio Unitario</th>
                                                    <th>Cantidad</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody id="cuerpo_tabla2">                                    
                                            </tbody>
                                        </table>
                                        <label class="control-label">Gastos totales</label>
                                        <table class="cart_totals">
                                            <tr class="cart_table_item">
                                                <td><span>Subtotal</span></td>
                                                <td class="subtotal_carrito"></td>
                                            </tr>
                                            <tr class="cart_table_item">
                                                <td><span>IVA ({{iva}}%)</span></td>
                                                <td class="subtotal_iva"></td>
                                            </tr>
                                            <tr class="cart_table_item">
                                                <td><span>Gastos envio</span></td>
                                                <td id="gastos_env">$0</td>
                                            </tr>
                                            <tr class="cart_table_item">
                                                <td><span>Total a pagar</span></td>
                                                <td id="total_carrito" class="total_carrito"></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Nombre:</label>
                                            <span>{{request.user.us_nombre}}</span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Apellidos:</label>
                                            <span>{{request.user.us_apellidos}}</span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Telefono movil:</label>
                                            <span>{{request.user.us_telefono_movil}}</span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Ciudad:</label>
                                            <span id="txt_desc_ciudad"></span>
                                        </div>

                                        <div class="form-group">
                                            <label class="control-label">Codigo Postal:</label>
                                            <span id="txt_desc_codigo"></span>
                                        </div>

                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Direccion:</label>
                                            <span id="txt_desc_direccion"></span>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Metodo de envio:</label>
                                            <span id="txt_envio"></span>
                                        </div>
                                    </div>
                                    <div class="row pb75">
                                        <button class="btn btn-success nextBtn btn-lg pull-right" type="button" onclick="envioData();" >Finalizar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock content %} 
{% block js %}
<script type="text/javascript" src="/static/js/carrito.js"></script>
<script type="text/javascript" src="/static/js/gestionarCarrito.js"></script>
<script>
    $("#menu_compras").addClass("current-menu-parent");

    $(document).ready(function () {
        var navListItems = $('div.setup-panel div a'),
        allWells = $('.setup-content'),
        allNextBtn = $('.nextBtn');

        allWells.hide();

        navListItems.click(function (e) {
            e.preventDefault();
            var $target = $($(this).attr('href')),
            $item = $(this);

            if (!$item.hasClass('disabled')) {
                navListItems.removeClass('btn-primary').addClass('btn-default');
                $item.addClass('btn-primary');
                allWells.hide();
                $target.show();
                $target.find('input:eq(0)').focus();
            }
        });

        allNextBtn.click(function(){
            var curStep = $(this).closest(".setup-content"),
            curStepBtn = curStep.attr("id"),
            nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
            curInputs = curStep.find("input[type='text'],input[type='url']"),
            isValid = true;

            $(".form-group").removeClass("has-error");
            for(var i=0; i<curInputs.length; i++){
                if (!curInputs[i].validity.valid){
                    isValid = false;
                    $(curInputs[i]).closest(".form-group").addClass("has-error");
                }
            }

            $("#txt_desc_ciudad").empty();
            $("#txt_desc_direccion").empty();
            $("#txt_desc_codigo").empty();
            $("#txt_envio").empty();

            $("#txt_desc_ciudad").append($("#txt_ciudad").val());
            $("#txt_desc_direccion").append($("#txt_direccion").val());
            $("#txt_desc_codigo").append($("#txt_cod").val());
            $("#txt_envio").append($("#select_empresa option:selected").html());

            if (isValid)
                nextStepWizard.removeAttr('disabled').trigger('click');
        });

        $('div.setup-panel div a.btn-primary').trigger('click');
    });
</script>
{% endblock js %}