{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load l10n %}
{% load staticfiles %}

{% block titulo %}{% trans "Daylisoft: Administrar productos" %}{% endblock titulo %}
{% block estilos %}
{% endblock estilos %}

<!--Notificacion de productos por debajo del stock-->
{% block notif_prod_numero %}
    {% if notif_stock|length > 0 %}
        <span class="label label-danger">{{ notif_stock|length }}</span>
    {% endif %}
{% endblock notif_prod_numero %}

{% block notif_prod_mensaje %}
    {% for p in notif_stock%}
        <li>
            <a href="{% url 'dashboard_app:url_form_editar_producto' id_prod=p.pro_id %}">
                <div class="pull-left">
                    <img src="{% if p.pro_imagen_principal %}
                    {% for i in p.pro_imagen_principal %}
                        {{ i.img_data.url }}
                    {% endfor %}
                    {% else %}{% static 'daylisoft/dashboard/img/no-imagen.png' %}{% endif %}" class="img-circle" />
                </div>
                <h4 style="padding-bottom:6px; font-weight: 600;">{{ p.pro_nombre|truncatechars:20 }} <span class="label label-danger">{% trans "Stock" %}: {{ p.pro_stock }}</span></h4>
                <p>{% trans "Categoría" %}: {{ p.categorias.cat_nombre}}</p>
            </a>
        </li>
    {% endfor %}
{% endblock notif_prod_mensaje %}

{% block notif_prod_ver %}
    {% if notif_stock %}
        <li class="footer"><a href="{% url 'dashboard_app:url_listar_productos_bajo_stock' %}">{% trans "Ver todas las notificaciones" %}</a></li>
    {% else %}
        <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
    {% endif %}
{% endblock %}

<!--Notificacion de pedidos pendientes-->
{% block notif_pedido_numero %}
    {% if notif_pedidos|length > 0 %}
        <span class="label label-warning">{{ notif_pedidos|length }}</span>
    {% endif %}
{% endblock notif_pedido_numero %}

{% block notif_pedidos_mensaje %}
    {% for p in notif_pedidos%}
        <li>
            <a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}">
                <h4 style="padding-bottom:6px">
                    {% trans "Cód:" %} {{ p.ped_id }} <small>{% trans "Cliente" %}:  {{ p.cliente.us_nombre }} {{ p.cliente.us_apellidos }}</small>
                </h4>
                <p style="padding-bottom:6px">$ {{ p.ped_total_pagar }}
                <span class="label label-{% if p.ped_estado == 'pendiente' %}warning{% else %}info{% endif %}" style="margin-left: 50px; font-size: 12px;">{{ p.ped_estado|capfirst }}</span></p>
            </a>
        </li>
    {% endfor %}
{% endblock notif_pedidos_mensaje %}

{% block notif_pedidos_ver %}
    {% if notif_pedidos %}
        <li class="footer"><a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}">{% trans "Ver todas las notificaciones" %}</a></li>
    {% else %}
        <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
    {% endif %}
{% endblock %}

{% block contenido %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header box-header-background with-border">
                        <h3 class="box-title ">{% trans "Administrar productos" %}</h3>
                    </div>
                    <div class="box-body">
                        <!-- Tabla -->
                        <table class="table table-bordered table-striped" id="tabla_productos" cellspacing="0" width="100%">
                            <thead >
                                <tr>
                                    <th class="active" style="width: 60px;">{% trans "Imagen" %}</th>
                                    <th class="active">{% trans "Nombre del producto" %}</th>
                                    <th class="active" style="width: 60px;">{% trans "Precio" %}</th>
                                    <th class="active">{% trans "Categoría" %}</th>
                                    <th class="active" style="width: 60px;">{% trans "Stock" %}</th>
                                    <th class="active" style="width: 70px;">{% trans "Estado" %}</th>
                                    <th class="active" style="width: 70px;">{% trans "Acción" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for p in productos %}
                                <tr class="custom-tr">
                                    <td class="product-img">
                                        <img src="{% if p.pro_imagen_principal %}
                                        {% for i in p.pro_imagen_principal %}
                                            {{ i.img_data.url }}
                                        {% endfor %}
                                        {% else %}{% static 'daylisoft/dashboard/img/no-imagen.png' %}{% endif %}" class="img-circle" />
                                    </td>
                                    <td class="vertical-td">{{ p.pro_nombre }}</td>
                                    <td class="vertical-td" style="text-align: center; font-size: 15px">${{ p.pro_precio }}</td>
                                    <td class="vertical-td">{{ p.categorias.cat_nombre }}</td>
                                    <td style="text-align: center; font-size: 15px" class="vertical-td">{{ p.pro_stock }}</td>
                                    <td class="vertical-td">{% if p.pro_estado %}<span style="font-size: 13px" class="label label-primary">{% trans "Activo" %}</span>{% else %}<span style="font-size: 13px" class="label label-danger">
                                        {% trans "Inactivo" %}</span>{% endif %}</td>
                                    <td class="vertical-td">
                                        <div class="btn-group">
                                            <a href="#" onclick="abrir_modal_producto({{ p.pro_id }}, '{% url "dashboard_app:url_listar_productos" %}')" class="btn btn-success btn-xs" title="{% trans 'Ver' %}" data-toggle="modal" data-target="#modal_detalle_producto"><i class="glyphicon glyphicon-search"></i></a>
                                            <a href="{% url 'dashboard_app:url_form_editar_producto' id_prod=p.pro_id %}" class="btn bg-navy btn-xs" title="{% trans 'Editar' %}"><i class="glyphicon glyphicon-edit"></i></a>
                                            {% if p.pro_estado %}
                                            <button class="btn btn-danger btn-xs" title="{% trans 'Eliminar' %}" onclick="prod_eliminar_objetos('{% url "dashboard_app:url_eliminar_productos" %}?id={{ p.pro_id }}', 'PR', 'tabla_productos', this)"><i class="fa fa-trash-o"></i></button>
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade modal-wide in" id="modal_detalle_producto" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
        <div class="modal-dialog">
            {% for p in producto_detalles %}
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="font-weight: 600" id="myModalLabel">{{ p.pro_nombre }}</h4>
                </div>
                <div class="modal-body wrap-modal wrap" style="max-height: 900px;">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div style="text-align: center">
                                        <img height="300" width="200" src="{% if p.pro_imagen_principal %}
                                        {% for i in p.pro_imagen_principal %}
                                            {{ i.img_data.url }}
                                        {% endfor %}
                                        {% else %}{% static 'daylisoft/dashboard/img/no-imagen.png' %}{% endif %}" />
                                    </div>
                                </div>
                                <div class="col-md-12" style="text-align: center;">
                                    <span class="label label-info" style="font-size: 18px">{% trans "Stock" %}: {{ p.pro_stock }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div align="center" class="col-md-12">
                                    <br>
                                    <span style="font-size: 13px" class="label label-success">{% trans "Valoración " %}: <b>{{ p.pro_valoracion|cut:".00" }}</b> {% trans "estrellas" %}</span>
                                    <br><br>
                                    {% if p.pro_destacado %}<span class="label label-enviado" style="font-size: 13px">{% trans "Producto destacado" %}</span>{% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <table class="table table-bordered">
                                <thead>
                                    <tr><th class="{% if p.pro_estado %}active{% else %}danger{% endif %}" colspan="2">{% trans "Información general" %}</th></tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="col-sm-3">{% trans "Código del producto" %}</td>
                                        <td>{{ p.pro_id }}</td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-3 ">{% trans "Nombre del producto" %}</td>
                                        <td class="">{{ p.pro_nombre }}</td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-3">{% trans "Descripción corta" %} </td>
                                        <td>{{ p.pro_descripcion_corta }}</td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-3">{% trans "Descripción larga" %}</td>
                                        <td>{% if p.pro_descripcion_larga %}{{ p.pro_descripcion_larga }}{% else %}{% trans "Ninguna" %}{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-3">{% trans "Información adicional" %}</td>
                                        <td>{% if p.pro_info_adicional %}{{ p.pro_info_adicional }}{% else %}{% trans "Ninguna" %}{% endif %}</td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-3 ">{% trans "Categoría" %}</td>
                                        <td class="">{{ p.categorias.cat_nombre }}</td>
                                    </tr>
                                    <tr>
                                        <th class="{% if p.pro_estado %}active{% else %}danger{% endif %}" colspan="2">{% trans "Información de precio" %}</th>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-3">{% trans "Precio de compra" %}</td>
                                        <td class="">$ {{ p.pro_precio_compra }}</td>
                                    </tr>
                                    <tr>
                                        <td class="col-sm-3">{% trans "Precio de venta" %}</td>
                                        <td>$ {{ p.pro_precio }}</td>
                                    </tr>
                                    <tr>
                                        <th class="{% if p.pro_estado %}active{% else %}danger{% endif %}" colspan="2">{% trans "Oferta especial" %}</th>
                                    </tr>
                                    <tr>
                                        {% if not p.pro_oferta %}
                                        <td colspan="2">{% trans "No existen ofertas actualmente" %}</td>
                                        {% else %}
                                        <td class="no-border" colspan="2">
                                            {% for o in p.pro_oferta %}
                                            <table class="table table-bordered nowrap">
                                                <thead>
                                                    <tr>
                                                        <th colspan="2">
                                                            {% trans "Oferta" %} # {{ forloop.counter }}
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>{% trans "Fecha de inicio" %}</td>
                                                        <td>{{ o.ofer_fecha_inicio }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{% trans "Fecha de finalización" %}</td>
                                                        <td>{{ o.ofer_fecha_fin }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>{% trans "Porcentaje en la oferta" %}</td>
                                                        <td>{{ o.ofer_porcentaje }} %</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        {% endfor %}
                                        </td>
                                        {% endif %}
                                    </tr>
                                    <tr>
                                        <th class="{% if p.pro_estado %}active{% else %}danger{% endif %}" colspan="2">{% trans "Etiquetas del producto" %}</th>
                                    </tr>
                                    <tr>
                                        {% if not tags_detalle%}
                                        <td colspan="2">{% trans "No existen etiquetas actualmente" %}</td>
                                        {% else %}
                                        <td colspan="2">
                                        {% for e in tags_detalle %}
                                            <span class="label label-default">{{ e.tag_nombre }}</span>&nbsp;&nbsp;
                                        {% endfor %}
                                        </td>
                                        {% endif %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{% trans "Cerrar" %}</button>
                        <a href="{% url 'dashboard_app:url_form_editar_producto' id_prod=p.pro_id %}" type="button" class="btn btn-primary">{% trans "Editar producto" %}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock contenido %}

{% block scripts %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            var table = $('#tabla_productos').DataTable( {
                pageLength: 15,
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'print',
                        exportOptions: {columns: ':visible'}
                    },
                    {
                        extend: 'excel',
                        exportOptions: {columns: ':visible'}
                    },
                    {
                        extend: 'pdf',
                        exportOptions: {columns: ':visible'}
                    },
                    {
                        extend: 'copy',
                        exportOptions: {columns: ':visible'}
                    },
                    'colvis'
                ]
            } );

            table.buttons().container().appendTo('#tabla_productos_wrapper .col-sm-6:eq(0)');

            $('#menu_productos').addClass("active");
            $('#menu_productos_administrar').addClass("active");
            $('#menu_productos_administrar').children('a').removeAttr('href');
        });
    </script>
{% endblock scripts %}