{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load l10n %}
{% load staticfiles %}

{% block titulo %}{% if not producto_editar %}{% trans "Daylisoft: Agregar producto" %}{% else %}{% trans "Daylisoft: Editar producto" %}{% endif %}{% endblock titulo %}
{% block estilos %}
    <!--Wizard (paso a paso)-->
    <link href="{% static 'daylisoft/dashboard/css/producto_wizard.css' %}" rel="stylesheet" type="text/css" />
    <script src="{% static 'daylisoft/dashboard/js/producto_wizard.js' %}"></script>
{% endblock estilos %}

<!--Notificacion de productos por debajo del stock-->
{% block notif_prod_numero %}
    {% if notif_stock|length > 0 %}
        <span class="label label-danger">{{ notif_stock|length }}</span>
    {% endif %}
{% endblock notif_prod_numero %}

{% block notif_prod_mensaje %}
    {% for p in notif_stock%}
        <li>
            <a href="{% url 'dashboard_app:url_form_editar_producto' id_prod=p.pro_id %}">
                <div class="pull-left">
                    <img src="{% if p.pro_imagen_principal %}
                    {% for i in p.pro_imagen_principal %}
                        {{ i.img_data.url }}
                    {% endfor %}
                    {% else %}{% static 'daylisoft/dashboard/img/no-imagen.png' %}{% endif %}" class="img-circle" />
                </div>
                <h4 style="padding-bottom:6px; font-weight: 600;">{{ p.pro_nombre|truncatechars:20 }} <span class="label label-danger">{% trans "Stock" %}: {{ p.pro_stock }}</span></h4>
                <p>{% trans "Categoría" %}: {{ p.categorias.cat_nombre}}</p>
            </a>
        </li>
    {% endfor %}
{% endblock notif_prod_mensaje %}

{% block notif_prod_ver %}
    {% if notif_stock %}
        <li class="footer"><a href="{% url 'dashboard_app:url_listar_productos_bajo_stock' %}">{% trans "Ver todas las notificaciones" %}</a></li>
    {% else %}
        <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
    {% endif %}
{% endblock %}

<!--Notificacion de pedidos pendientes-->
{% block notif_pedido_numero %}
    {% if notif_pedidos|length > 0 %}
        <span class="label label-warning">{{ notif_pedidos|length }}</span>
    {% endif %}
{% endblock notif_pedido_numero %}

{% block notif_pedidos_mensaje %}
    {% for p in notif_pedidos%}
        <li>
            <a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}">
                <h4 style="padding-bottom:6px">
                    {% trans "Cód:" %} {{ p.ped_id }} <small>{% trans "Cliente" %}:  {{ p.cliente.us_nombre }} {{ p.cliente.us_apellidos }}</small>
                </h4>
                <p style="padding-bottom:6px">$ {{ p.ped_total_pagar }}
                <span class="label label-{% if p.ped_estado == 'pendiente' %}warning{% else %}info{% endif %}" style="margin-left: 50px; font-size: 12px;">{{ p.ped_estado|capfirst }}</span></p>
            </a>
        </li>
    {% endfor %}
{% endblock notif_pedidos_mensaje %}

{% block notif_pedidos_ver %}
    {% if notif_pedidos %}
        <li class="footer"><a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}">{% trans "Ver todas las notificaciones" %}</a></li>
    {% else %}
        <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
    {% endif %}
{% endblock %}

{% block contenido %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header box-header-background with-border">
                        <h3 class="box-title ">{% if not producto_editar %}{% trans "Agregar nuevo producto" %}{% else %}{% trans "Editar producto" %}{% endif %}</h3>
                        <div class="box-tools pull-right">
                            <div class="box-tools">
                                <div class="btn-group" role="group" >
                                    <a href="{% url 'dashboard_app:url_form_agregar_producto' %}" class="btn btn-default "><i class="fa fa-paint-brush"></i> {% trans "Limpiar campos" %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if producto_editar %}
                        <br />
                        <div align="center"><a href="{% url 'dashboard_app:url_listar_productos' %}" class="btn bg-green" >
                            <i class="fa fa-arrow-left" aria-hidden="true"></i> {% trans "Regresar a la lista de productos" %}</a>
                        </div>
                    {% endif %}
                    <div class="wizard">
                        <div class="wizard-inner">
                            <div class="connecting-line"></div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="{% if not producto_editar or producto_editar.0.pro_stock_minimo < producto_editar.0.pro_stock %}active{% endif %}">
                                    <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="{% trans 'General' %}">
                                        <span class="round-tab">
                                            <i class="fa fa-newspaper-o"></i>
                                        </span>
                                    </a>
                                </li>
                                <li role="presentation" {% if not producto_editar %}class="disabled"{% elif producto_editar.0.pro_stock_minimo >= producto_editar.0.pro_stock %}class="active"{% endif %}>
                                    <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="{% trans 'Inventario' %}">
                                        <span class="round-tab">
                                            <i class="fa fa-inbox"></i>
                                        </span>
                                    </a>
                                </li>
                                <li role="presentation" {% if not producto_editar %}class="disabled"{% endif %}>
                                    <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="{% trans 'Oferta' %}">
                                        <span class="round-tab">
                                            <i class="fa fa-usd"></i>
                                        </span>
                                    </a>
                                </li>
                                <li role="presentation" {% if not producto_editar %}class="disabled"{% endif %}>
                                    <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="{% trans 'Detalles' %}">
                                        <span class="round-tab">
                                            <i class="fa fa-tags"></i>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane {% if not producto_editar or producto_editar.0.pro_stock_minimo < producto_editar.0.pro_stock %}active{% endif %}" role="tabpanel" id="step1">
                                <input id="id_producto" name="id_producto" type="hidden" value="{{ producto_editar.0.pro_id }}">
                                <form role="form" enctype="multipart/form-data" id="form_producto_general" name="form_producto_general" onsubmit="return false;" method="post"> {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2">
                                            <!-- Nombre -->
                                            {% trans "Nombre del producto" as i18n_producto_nombre %}
                                            <div class="form-group">
                                                <label>{{ i18n_producto_nombre }} <span class="required">*</span></label>
                                                <input autofocus type="text" placeholder="{{ i18n_producto_nombre }}" id="nombre_producto" name="nombre_producto" class="form-control" value="{{ producto_editar.0.pro_nombre }}" maxlength="50">
                                            </div>
                                            <!-- Categoría -->
                                            <div class="form-group">
                                                <label>{% trans "Categoría" %} <span class="required">*</span></label>
                                                <select name="categoria_producto" id="categoria_producto" class="form-control">
                                                    <option value="0" selected disabled>{% trans "Seleccione una categoría" %}</option>
                                                    {% for categ in categorias %}
                                                    <option value="{{ categ.cat_id }}" {% if categ.cat_id == producto_editar.0.categorias.cat_id %}selected{% endif %}>
                                                        {{ categ.cat_nombre }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <!-- Marca -->
                                            <div class="form-group">
                                                <label>{% trans "Marca" %} <span class="required">*</span></label>
                                                <select name="id_marca_producto" id="id_marca_producto" class="form-control">
                                                    <option value="0" selected disabled>{% trans "Seleccione una marca" %}</option>
                                                    {% for m in marcas %}
                                                    <option value="{{ m.mar_id }}" {% if m.mar_id == producto_editar.0.mar_id.mar_id %}selected{% endif %}>
                                                        {{ m.mar_nombre }}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <!-- Estado-->
                                            <div class="form-group">
                                                <label>{% trans "Estado" %}</label>
                                                 <div align="center">
                                                    <input id="estado_producto" name="estado_producto" type="checkbox" {% if not producto_editar %}checked{% elif producto_editar.0.pro_estado %}checked{% endif %} data-width="100" data-toggle="toggle" data-on="{% trans 'Activo' %}" data-off="{% trans 'Inactivo' %}">
                                                 </div>
                                             </div>
                                            <!-- Descripción corta-->
                                            {% trans "Descripción corta" as i18n_producto_descripcion_corta %}
                                            <div class="form-group">
                                                <label>{{ i18n_producto_descripcion_corta }} <span class="required">*</span></label>
                                                <textarea maxlength="360" style="resize: none; height: 55px; width: 99%" id="descripcion_producto_corta" name="descripcion_producto_corta" class="form-control autogrow" placeholder="{{ i18n_producto_descripcion_corta }}">{{ producto_editar.0.pro_descripcion_corta }}</textarea>
                                            </div>
                                            <!-- Descripción larga-->
                                            {% trans "Descripción larga" as i18n_producto_descripcion_larga %}
                                            <div class="form-group">
                                                <label>{{ i18n_producto_descripcion_larga }}</label>
                                                <textarea style="resize: none; height: 110px" id="descripcion_producto_larga" name="descripcion_producto_larga" class="form-control autogrow" placeholder="{{ i18n_producto_descripcion_larga }}">{{ producto_editar.0.pro_descripcion_corta }}</textarea>
                                            </div>
                                            <!-- Informacion adicional EDITAR CON LO QUE ESTA EN COIP SUBIDO-->
                                            {% trans "Información adicional" as i18n_producto_informacion_ad %}
                                            <div class="form-group">
                                                <label>{{ i18n_producto_informacion_ad }}</label>
                                                <textarea maxlength="200" style="resize: none; height: 80px" id="informacion_ad_producto" name="informacion_ad_producto" class="form-control autogrow" placeholder="{{ i18n_producto_informacion_ad }}">{{ producto_editar.0.pro_info_adicional }}</textarea>
                                            </div>
                                            <br>
                                            <ul class="list-inline pull-right">
                                                <li><button id="btn_prod_paso1" onclick="listo_next_step('btn_prod_paso1', 'form_producto_general')" type="submit" class="btn bg-light-blue next-step">{% trans "Guardar cambios" %}</button></li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane {% if producto_editar and producto_editar.0.pro_stock_minimo >= producto_editar.0.pro_stock %}active{% endif %}" role="tabpanel" id="step2">
                                <form role="form" enctype="multipart/form-data" id="form_producto_inventario" onsubmit="return false;" method="post"> {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2">
                                            <!-- Precio de compra -->
                                            {% trans "Precio de compra" as i18n_producto_precio_compra %}
                                            <div class="form-group">
                                                <label>{{ i18n_producto_precio_compra }} <span class="required">*</span></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">$</span>
                                                    <input type="text" id="precio_compra_producto" name="precio_compra_producto" placeholder="{{ i18n_producto_precio_compra }}" class="form-control" value="{{ producto_editar.0.pro_precio_compra|unlocalize }}">
                                                </div>
                                            </div>
                                            <!-- Precio de venta -->
                                            {% trans "Precio de venta" as i18n_producto_precio_venta %}
                                            <div class="form-group">
                                                <label>{{ i18n_producto_precio_venta }} <span class="required">*</span></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">$</span>
                                                    <input class="form-control" id="precio_venta_producto" name="precio_venta_producto" placeholder="{{ i18n_producto_precio_venta }}" type="text" value="{{ producto_editar.0.pro_precio|unlocalize }}">
                                                </div>
                                            </div>
                                            <!-- Stock productos -->
                                            {% trans "Stock del producto" as i18n_producto_stock %}
                                            <div class="form-group {% if producto_editar %}{% if producto_editar.0.pro_stock <= producto_editar.0.pro_stock_minimo %} has-warning {% endif %}{% endif %}">
                                                <label>{{ i18n_producto_stock }} <span class="required">*</span></label>
                                                <input type="text" id="stock_producto" name="stock_producto" placeholder="{{ i18n_producto_stock }}" class="form-control" value="{{ producto_editar.0.pro_stock|unlocalize }}">
                                            </div>
                                            <!-- Stock minimo -->
                                            {% trans "Notificar stock mínimo" as i18n_producto_stock_min %}
                                            <div class="form-group">
                                                <label>{{ i18n_producto_stock_min }} <span class="required">*</span></label>
                                                <input type="text" id="stock_min_producto" name="stock_min_producto" placeholder="{{ i18n_producto_stock_min }}" class="form-control" value="{{ producto_editar.0.pro_stock_minimo|unlocalize }}">
                                            </div>
                                            {% if producto_editar %}{% if producto_editar.0.pro_stock <= producto_editar.0.pro_stock_minimo %}<span id="span_bajo_stock" style="color: #f39c12">* {% trans "El producto se encuentra por debajo del stock mínimo" %}.</span>{% endif %}{% endif %}
                                            <br>
                                            <ul class="list-inline pull-right">
                                                <li><button type="button" class="btn btn-default prev-step">{% trans "Anterior" %}</button></li>
                                                <li><button id="btn_prod_paso2" onclick="listo_next_step('btn_prod_paso2', 'form_producto_inventario')" type="submit" class="btn bg-light-blue next-step">{% trans "Guardar cambios" %}</button></li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="step3">
                                <form role="form" enctype="multipart/form-data" id="form_producto_oferta" onsubmit="return false;" method="post"> {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2">
                                            <!-- Fecha de inicio -->
                                            <div class="form-group">
                                                <label>{% trans "Fecha de inicio" %} <span class="required">*</span></label>
                                                <input type="hidden" id="producto_id_oferta" name="producto_id_oferta" value="{{ producto_editar.0.pro_oferta.0.ofer_id }}" />
                                                <div class="input-group">
                                                    <input type="text" value="{{ producto_editar.0.pro_oferta.0.ofer_fecha_inicio|date:'Y/n/d' }}" class="form-control datepicker" data-date-format="yyyy/mm/dd" id="producto_fecha_inicio" name="producto_fecha_inicio" required>
                                                    <div class="input-group-addon">
                                                        <i class="entypo-calendar"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Fecha de fin -->
                                            <div class="form-group">
                                                <label>{% trans "Fecha de finalización" %} <span class="required">*</span></label>
                                                <div class="input-group">
                                                    <input type="text" value="{{ producto_editar.0.pro_oferta.0.ofer_fecha_fin|date:'Y/n/d' }}" class="form-control datepicker" data-date-format="yyyy/mm/dd" id="producto_fecha_fin" name="producto_fecha_fin" required>
                                                    <div class="input-group-addon">
                                                        <i class="entypo-calendar"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Precio oferta -->
                                            <div class="form-group">
                                                <label>{% trans "Porcentaje en la oferta" %} <span class="required">*</span></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">%</span>
                                                    <input class="form-control" placeholder='{% trans "Porcentaje" %}' id="producto_precio_oferta" name="producto_precio_oferta" type="text" value="{{ producto_editar.0.pro_oferta.0.ofer_porcentaje|unlocalize }}">
                                                </div>
                                            </div>
                                            {% if producto_editar.0.pro_oferta|length > 1 %}
                                                <hr><span style="color: brown;">{% trans "El historial de ofertas de este producto es mayor a uno, se ha tomado la más reciente. Puede administrar las ofertas en el menú: Productos > Adicional > Ofertas" %}.</span>
                                            {% endif %}
                                            <br><br><br>
                                            <ul class="list-inline pull-right">
                                                <li><button type="button" class="btn btn-default prev-step">{% trans "Anterior" %}</button></li>
                                                <li><button id="btn_prod_saltar" onclick="saltar_next_step()" type="button" class="btn btn-default next-step">{% trans "Saltar" %}</button></li>
                                                <li><button id="btn_prod_paso3" onclick="listo_next_step('btn_prod_paso3', 'form_producto_oferta')" type="submit" class="btn bg-light-blue next-step">{% trans "Guardar cambios" %}</button></li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="complete">
                                <form role="form" enctype="multipart/form-data" id="form_producto_detalles" onsubmit="return false;" method="post"> {% csrf_token %}
                                    <input type="hidden" id="producto_id_imagen" name="producto_id_imagen" value="{{ producto_editar.0.pro_imagen_principal.0.img_id }}" />
                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2">
                                            {% if producto_editar.0.pro_imagen_principal %}
                                            <table class="table" id="tabla_imagenes_producto">
                                                <thead style="background-color: #373a3c;color: #fff;">
                                                    <tr>
                                                        <th style="text-align: center">#</th>
                                                        <th style="text-align: center">{% trans "Imagen" %}</th>
                                                        <th style="text-align: center">{% trans "Tamaño" %}</th>
                                                        <th style="text-align: center">{% trans "Imagen principal" %}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% for i in producto_editar.0.pro_imagen_principal %}
                                                    <tr>
                                                        <th scope="row" style="width: 40px; text-align: center">{{ forloop.counter }}</th>
                                                        <td style="width: 150px; text-align: center">
                                                            <img style="width: 110px; height: 110px; border: 1px solid #ddd; border-radius: 14px" src="{{ i.img_data.url }}" />
                                                        </td>
                                                        <th scope="row" style="width: 80px; text-align: center">{{ i.img_data.size|filesizeformat }}</th>
                                                        <th scope="row" style="width: 100px; text-align: center">
                                                            <div class="radio">
                                                                <label><input type="radio" value="{{ i.img_id }}" name="imagen_principal" {% if i.img_es_principal %}checked{% endif %}>{% trans "Seleccionar" %}</label>
                                                            </div>
                                                        </th>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                            <br />
                                            <div align="center">
                                                <button id="id_cambiar_imagenes" onclick="cambiar_imagenes()" class="btn btn-block bg-navy">{% trans "Cambiar imágenes" %}</button>
                                            </div>
                                            <div align="center">
                                                <button id="id_restablecer_imagenes" onclick="restablecer_imagenes()" class="btn btn-block bg-navy" style="display: none">{% trans "Restablecer imágenes" %}</button>
                                            </div>
                                            <br />
                                            {% endif %}
                                            <div id="cambiar_imagenes_producto" class="form-group" {% if producto_editar.0.pro_imagen_principal %}style="display: none"{% endif %}>
                                                <label>{% trans "Elija las imágenes del producto (hasta" %} {% if num_imagenes %}{{ num_imagenes }}{% else %}3{% endif %})</label>
                                                <div align="center">
                                                    <input type="hidden" value="{{ num_imagenes }}" id="numero_imagenes_actuales">
                                                    <input id="id_imagenes_producto" name="id_imagenes_producto[]" accept="image/*" type="file" multiple>
                                                </div>
                                                {% if num_imagenes == 0 or not producto_editar.0.pro_imagen_principal %}<span>{% trans "La primera imagen será tomada como principal" %}.</span>{% endif %}
                                                {% if producto_editar.0.pro_imagen_principal and num_imagenes == 0 %}
                                                    <hr><span style="color: brown;">{% trans "Todas las imágenes actuales serán reemplazadas por las que elija ahora. Se recomienda realizar esta acción en el menú: Productos > Adicional > Imágenes" %}.</span>
                                                {% endif %}
                                            </div>
                                            <!-- Destacado-->
                                            <br>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>{% trans "Producto destacado" %}</label>
                                                        <br>
                                                        <input id="producto_destacado" name="producto_destacado" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="danger" data-on="{% trans 'SI' %}" data-off="NO" data-size="normal"  {% if producto_editar.0.pro_destacado %}checked{% else %}{% if total_destacados >= 3 %}disabled{% endif %}{% endif %}>
                                                    </div>
                                                <div id="div_producto_destacado"><span class="help">{% trans "Actualmente" %} <b>{{ total_destacados }}</b> {% trans "de" %} <b>3</b></span></div>
                                                </div>
                                                <!-- Valoración-->
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>{% trans "Valoración" %}</label>
                                                        <br>
                                                        <div id="close_estrella"><input type="hidden" id="producto_valoracion" name="producto_valoracion" value="{{ producto_editar.0.pro_valoracion|unlocalize }}" class="rating" /></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Tags-->
                                            <br>
                                            <div class="form-group">
                                                <label>{% trans "Etiquetas" %} <span class="required">*</span></label>
                                                <ul id="tags_producto">
                                                    {% if pro_tag %}
                                                        {% for t in pro_tag %}
                                                            <li data-value="{{ t.tag_id }}">{{ t.tag_nombre }}</li>
                                                        {% endfor %}
                                                    {% endif %}
                                                </ul>
                                            </div>
                                            <br>
                                            <ul class="list-inline pull-right">
                                                <li><button type="button" class="btn btn-default prev-step">{% trans "Anterior" %}</button></li>
                                                <li><button id="btn_prod_paso4" onclick="listo_next_step('btn_prod_paso4', 'form_producto_detalles')" type="submit" class="btn bg-light-blue next-step">{% trans "Guardar cambios" %}</button></li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock contenido %}

{% block scripts %}

    <script type="text/javascript">
        $(document).on('ready', function() {
            $(".bootstrap-tagsinput").css('width', '100%');
            $("#close_estrella span").css("font-size", "30px");

            $('#menu_productos').addClass("active");
            $('#menu_productos_agregar').addClass("active");
            $('#menu_productos_agregar').children('a').removeAttr('href');

            var eventTags = $('#tags_producto');
            eventTags.tagit({
                availableTags: todos,
                fieldName: "tags_producto[]",
                singleField: true,
                placeholderText: "{% trans 'Etiquetas' %}",
                removeConfirmation: true
            });

            //Subida de magen
            $("#id_imagenes_producto").fileinput({
                allowedFileExtensions: ["jpg", "jpeg", "png", "gif"],
                removeLabel: "{% trans 'Eliminar' %}",
                browseLabel: "{% trans 'Buscar' %}...",
                maxFileSize: 1024,
                minFileCount: 0,
                maxFileCount: 3,
                showUpload: false
            });
        });

        function cambiar_imagenes() {
            $('#id_cambiar_imagenes').hide();
            $('#id_restablecer_imagenes').show();
            $('#tabla_imagenes_producto').hide();
            $('#cambiar_imagenes_producto').show();
        }

        function restablecer_imagenes() {
            $('#id_cambiar_imagenes').show();
            $('#id_restablecer_imagenes').hide();
            $('#tabla_imagenes_producto').show();
            $('#cambiar_imagenes_producto').hide();
        }

        var todos = [];
        $.getJSON("{% url 'dashboard_app:url_cargar_todos_tags' %}", function(data) {
            $.each(data, function(key, val) {
                todos.push(val);
            });
        });

        //$("input[name$='bento4_tags']" ).val()
        //https://fiddle.jshell.net/656pnLsd/light/

        //METODOS PARA TAGS

            //BORRAR TODOS LOS TAGS
        //$('#allowSpacesTags').tagit("removeAll");

        //OBTENER TEXTO DE TAGS
        //$('#tags_producto').tagit("assignedTags");
    </script>
{% endblock scripts %}