{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block titulo %}{% trans "Daylisoft: Productos en cuarentena" %}{% endblock titulo %}
{% block estilos %}
{% endblock estilos %}

<!--Notificacion de productos por debajo del stock-->
{% block notif_prod_numero %}
    {% if notif_stock|length > 0 %}
        <span class="label label-danger">{{ notif_stock|length }}</span>
    {% endif %}
{% endblock notif_prod_numero %}

{% block notif_prod_mensaje %}
    {% for p in notif_stock%}
        <li>
            <a href="{% url 'dashboard_app:url_form_editar_producto' id_prod=p.pro_id %}">
                <div class="pull-left">
                    <img src="{% if p.pro_imagen_principal %}
                    {% for i in p.pro_imagen_principal %}
                        {{ i.img_data.url }}
                    {% endfor %}
                    {% else %}{% static 'daylisoft/dashboard/img/no-imagen.png' %}{% endif %}" class="img-circle" />
                </div>
                <h4 style="padding-bottom:6px; font-weight: 600;">{{ p.pro_nombre|truncatechars:20 }} <span class="label label-danger">{% trans "Stock" %}: {{ p.pro_stock }}</span></h4>
                <p>{% trans "Categoría" %}: {{ p.categorias.cat_nombre}}</p>
            </a>
        </li>
    {% endfor %}
{% endblock notif_prod_mensaje %}

{% block notif_prod_ver %}
    {% if notif_stock %}
        <li class="footer"><a href="{% url 'dashboard_app:url_listar_productos_bajo_stock' %}">{% trans "Ver todas las notificaciones" %}</a></li>
    {% else %}
        <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
    {% endif %}
{% endblock %}

<!--Notificacion de pedidos pendientes-->
{% block notif_pedido_numero %}
    {% if notif_pedidos|length > 0 %}
        <span class="label label-warning">{{ notif_pedidos|length }}</span>
    {% endif %}
{% endblock notif_pedido_numero %}

{% block notif_pedidos_mensaje %}
    {% for p in notif_pedidos%}
        <li>
            <a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}">
                <h4 style="padding-bottom:6px">
                    {% trans "Cód:" %} {{ p.ped_id }} <small>{% trans "Cliente" %}:  {{ p.cliente.us_nombre }} {{ p.cliente.us_apellidos }}</small>
                </h4>
                <p style="padding-bottom:6px">$ {{ p.ped_total_pagar }}
                <span class="label label-{% if p.ped_estado == 'pendiente' %}warning{% else %}info{% endif %}" style="margin-left: 50px; font-size: 12px;">{{ p.ped_estado|capfirst }}</span></p>
            </a>
        </li>
    {% endfor %}
{% endblock notif_pedidos_mensaje %}

{% block notif_pedidos_ver %}
    {% if notif_pedidos %}
        <li class="footer"><a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}">{% trans "Ver todas las notificaciones" %}</a></li>
    {% else %}
        <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
    {% endif %}
{% endblock %}

{% block contenido %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header box-header-background with-border">
                        <h3 class="box-title ">{% trans "Productos en cuarentena" %}</h3>
                    </div>
                    <div class="box-body">
                    {% if productos %}
                        <div align="center">
                            <button onclick="abrir_modal_cuarentena()" class="btn bg-light-blue"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> {% trans "Incluir un producto" %}</button>
                        </div>
                    {% endif %}
                        <br />
                        <!-- Tabla -->
                        <table class="table table-bordered table-striped" id="tabla_productos_cuarentena" cellspacing="0" width="100%">
                            <thead >
                                <tr>
                                    <th class="active">{% trans "Nombre del producto" %}</th>
                                    <th class="active">{% trans "Categoría" %}</th>
                                    <th class="active" style="width: 45px;">{% trans "Cantidad" %}</th>
                                    <th class="active">{% trans "Observación" %}</th>
                                    <th class="active" style="width: 80px;">{% trans "Acción" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for p in productos_cuarentena %}
                                <tr class="custom-tr">
                                    <td class="vertical-td">{{ p.producto.pro_nombre }}</td>
                                    <td class="vertical-td">{{ p.producto.categorias.cat_nombre }}</td>
                                    <td class="vertical-td">{{ p.pro_c_cantidad }}</td>
                                    <td class="vertical-td">{{ p.pro_c_nota }}</td>
                                    <td class="vertical-td">
                                        <div class="btn-group">
                                            <button class="btn bg-navy btn-xs" onclick="prod_cargar_cuarentena('{% url "dashboard_app:url_cargar_cuarentena" %}?id={{ p.pro_c_id }}', this)" title="{% trans 'Editar' %}"><i class="glyphicon glyphicon-edit"></i></button>
                                            <button class="btn btn-success btn-xs" onclick="prod_restaurar_cuarentena('{% url "dashboard_app:url_restaurar_cuarentena" %}?id={{ p.pro_c_id }}', this)" title="{% trans 'Restaurar' %}" ><i class="fa fa-exchange"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Modal incluir producto-->
    <div class="modal fade" id="modal_productos_cuarentena" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title" id="myModalLabel" style="font-weight: 600;">{% trans "Cuarentena: incluir un producto" %}</h4>
                </div>
                <div class="modal-body">
                    <form role="form" enctype="multipart/form-data" id="formulario_producto_cuarentena" name="formulario_producto_cuarentena" method="post" onsubmit="return false">{% csrf_token %}
                        <div class="box-body">
                            <!-- Producto -->
                            {% trans "Elija un producto" as i18n_cuarentena_producto %}
                            <div class="form-group">
                                <label>{{ i18n_cuarentena_producto }}<span class="required">*</span></label>
                                <select id="id_producto_cuarentena" style="width: 99%;" name="id_producto_cuarentena" required>
                                    <option disabled value="0">{{ i18n_cuarentena_producto }}</option>
                                    {% for prod in productos %}
                                    <option value="{{ prod.pro_id }}">{{ prod.pro_nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- Cantidad -->
                            {% trans "Cantidad" as i18n_cuarentena_cantidad%}
                            <div class="form-group">
                                <label>{{ i18n_cuarentena_cantidad }} <span class="required">*</span></label>
                                <input type="text" id="cuarentena_cantidad" name="cuarentena_cantidad" placeholder="{{ i18n_cuarentena_cantidad }}" class="form-control">
                            </div>
                            <!-- Nota-->
                            {% trans "Nota/Observación" as i18n_cuarentena_nota %}
                            <div class="form-group">
                                <label>{{ i18n_cuarentena_nota }}</label>
                                <textarea style="resize: none; height: 110px" id="cuarentena_nota" name="cuarentena_nota" class="form-control autogrow" placeholder="{{ i18n_cuarentena_nota }}"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{% trans "Cancelar" %}</button>
                            <button type="submit" onclick="prod_agregar_cuarentena('{% url "dashboard_app:url_agregar_cuarentena" %}')" class="btn btn-primary">{% trans "Guardar" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}

{% block scripts %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            var table = $('#tabla_productos_cuarentena').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'print',
                        exportOptions: {columns: ':visible'}
                    },
                    {
                        extend: 'excel',
                        exportOptions: {columns: ':visible'}
                    },
                    {
                        extend: 'pdf',
                        exportOptions: {columns: ':visible'}
                    },
                    {
                        extend: 'copy',
                        exportOptions: {columns: ':visible'}
                    },
                    'colvis'
                ]
            });

            table.buttons().container().appendTo('#tabla_productos_cuarentena_wrapper .col-sm-6:eq(0)');

            $('#menu_productos').addClass("active");
            $('#menu_productos_cuarentena').addClass("active");
            $('#menu_productos_cuarentena').children('a').removeAttr('href');

            $("#id_producto_cuarentena").select2({
                allowClear: true
            });

            $("#menu_productos_cuarentena").data("test", {cuarentena_id: "", producto_editar_id: ""});
        });
    </script>
{% endblock scripts %}