{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block titulo %}{% trans "Daylisoft: Imágenes de los productos" %}{% endblock titulo %}
{% block estilos %}
{% endblock estilos %}

<!--Notificacion de productos por debajo del stock-->
{% block notif_prod_numero %}
    {% if notif_stock|length > 0 %}
        <span class="label label-danger">{{ notif_stock|length }}</span>
    {% endif %}
{% endblock notif_prod_numero %}

{% block notif_prod_mensaje %}
    {% for p in notif_stock%}
        <li>
            <a href="{% url 'dashboard_app:url_form_editar_producto' id_prod=p.pro_id %}">
                <div class="pull-left">
                    <img src="{% if p.pro_imagen_principal %}
                    {% for i in p.pro_imagen_principal %}
                        {{ i.img_data.url }}
                    {% endfor %}
                    {% else %}{% static 'daylisoft/dashboard/img/no-imagen.png' %}{% endif %}" class="img-circle" />
                </div>
                <h4 style="padding-bottom:6px; font-weight: 600;">{{ p.pro_nombre|truncatechars:20 }} <span class="label label-danger">{% trans "Stock" %}: {{ p.pro_stock }}</span></h4>
                <p>{% trans "Categoría" %}: {{ p.categorias.cat_nombre}}</p>
            </a>
        </li>
    {% endfor %}
{% endblock notif_prod_mensaje %}

{% block notif_prod_ver %}
    {% if notif_stock %}
        <li class="footer"><a href="{% url 'dashboard_app:url_listar_productos_bajo_stock' %}">{% trans "Ver todas las notificaciones" %}</a></li>
    {% else %}
        <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
    {% endif %}
{% endblock %}

<!--Notificacion de pedidos pendientes-->
{% block notif_pedido_numero %}
    {% if notif_pedidos|length > 0 %}
        <span class="label label-warning">{{ notif_pedidos|length }}</span>
    {% endif %}
{% endblock notif_pedido_numero %}

{% block notif_pedidos_mensaje %}
    {% for p in notif_pedidos%}
        <li>
            <a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}">
                <h4 style="padding-bottom:6px">
                    {% trans "Cód:" %} {{ p.ped_id }} <small>{% trans "Cliente" %}:  {{ p.cliente.us_nombre }} {{ p.cliente.us_apellidos }}</small>
                </h4>
                <p style="padding-bottom:6px">$ {{ p.ped_total_pagar }}
                <span class="label label-{% if p.ped_estado == 'pendiente' %}warning{% else %}info{% endif %}" style="margin-left: 50px; font-size: 12px;">{{ p.ped_estado|capfirst }}</span></p>
            </a>
        </li>
    {% endfor %}
{% endblock notif_pedidos_mensaje %}

{% block notif_pedidos_ver %}
    {% if notif_pedidos %}
        <li class="footer"><a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}">{% trans "Ver todas las notificaciones" %}</a></li>
    {% else %}
        <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
    {% endif %}
{% endblock %}

{% block contenido %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header box-header-background with-border">
                        <h3 class="box-title ">{% trans "Imágenes de los productos" %}</h3>
                    </div>
                    <div class="row">
                        <br>
                        <div class="col-md-10 col-md-offset-1">
                            <div align="center">
                                <div class="form-group">
                                    <select style="width: 40%;" id="filtrar_producto_imagenes" onchange="filtrar_nombre_productos('{% url "dashboard_app:url_filtrar_nombre_producto" %}', 'filtrar_producto_imagenes', 'tabla_imagenes')">
                                        <option selected value="0">{% trans 'Mostrar todas las imágenes' %}</option>

                                        {% for prod in productos %}
                                            <option value="{{ prod.pro_id }}">{{ prod.pro_nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <br>
                            <!-- Tabla -->
                            <table class="table table-bordered table-striped" id="tabla_imagenes" cellspacing="0" width="100%">
                                <thead >
                                    <tr>
                                        <th class="active" style="width: 35px;">{% trans "#" %}</th>
                                        <th class="active" style="width: 220px;">{% trans "Imágen" %}</th>
                                        <th class="active" style="width: 300px;">{% trans "Producto asociado" %}</th>
                                        <th class="active" style="width: 150px;">{% trans "Observación" %}</th>
                                        <th class="active" style="width: 150px;">{% trans "Acción" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for ima in imagenes %}
                                    <tr class="custom-tr">
                                        <td class="vertical-td">{{ forloop.counter }}</td>
                                        <td style="width: 150px; text-align: center">
                                            <img style="width: 110px; height: 110px; border: 1px solid #ddd; border-radius: 14px" src="{{ ima.img_data.url }}" />
                                        </td>
                                        <td class="vertical-td"><span class="label label-success">ID: {{ ima.pro_id.pro_id }}</span>  {{ ima.pro_id.pro_nombre }}</td>
                                        <td class="vertical-td" style="font-size: 18px"><span id="img_es_principal{{ ima.img_id }}" class="label label-default">{% if ima.img_es_principal %}{% trans "Imagen principal" %}{% endif %}</span></td>
                                        <td class="vertical-td">
                                            <div class="btn-group">
                                                <button onclick="abrir_modal_subir_imagen('{{ ima.img_id }}', this)" class="btn btn-success btn-xs"><i class="fa fa-upload"></i> {% trans 'Subir' %}</button>
                                                <button onclick="prod_eliminar_objetos('{% url "dashboard_app:url_eliminar_imagenes" %}?id={{ ima.img_id }}', 'IM', 'tabla_imagenes', this)" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> {% trans 'Eliminar' %}</button>
                                                {% if not ima.img_es_principal %}
                                                <button onclick="prod_cambiar_img_principal('{% url "dashboard_app:url_cambiar_imagenes" %}?id={{ ima.img_id }}', this)" class="btn label-success btn-xs">{% trans 'Cambiar' %}</button>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Modal cambiar imagen-->
    <div class="modal fade" id="modal_cambiar_imagen" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title" id="myModalLabel2" style="font-weight: 600;">{% trans "Cambiar imagen" %}</h4>
                </div>
                <div class="modal-body">
                    <form role="form" enctype="multipart/form-data" id="formulario_cambiar_imagen" name="formulario_cambiar_imagen" method="post" onsubmit="return false">{% csrf_token %}
                        <div class="box-body">
                            <!-- Imagen -->
                            <div class="form-group">
                                <label>{% trans "Elija una imagen" %}<span class="required">*</span></label>
                                <input id="id_subir_imagen" name="id_subir_imagen" accept="image/*" type="file">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{% trans "Cancelar" %}</button>
                            <button type="submit" onclick="prod_subir_imagen('{% url "dashboard_app:url_subir_nueva_imagen" %}')" class="btn btn-primary">{% trans "Guardar" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#menu_productos').addClass("active");
            $('#menu_productos_adicional').addClass("active");
            $('#menu_productos_imagenes_administrar').addClass("active");
            $('#menu_productos_imagenes_administrar').children('a').removeAttr('href');

            var table = $('#tabla_imagenes').DataTable( {
                lengthChange: false,
                bSort: false,
                pageLength: 15
            });

            $("#filtrar_producto_imagenes").select2({
                allowClear: true
            });

            //Subida de magen
            $("#id_subir_imagen").fileinput({
                allowedFileExtensions: ["jpg", "jpeg", "png", "gif"],
                removeLabel: "{% trans 'Eliminar' %}",
                browseLabel: "{% trans 'Buscar...' %}",
                maxFileSize: 1024,
                minFileCount: 1,
                maxFileCount: 1,
                showUpload: false
            });
        });
    </script>
{% endblock scripts %}