{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block titulo %}{% trans "Daylisoft: Oferta de productos" %}{% endblock titulo %}
{% block estilos %}
{% endblock estilos %}

<!--Notificacion de productos por debajo del stock-->
{% block notif_prod_numero %}
    {% if notif_stock|length > 0 %}
        <span class="label label-danger">{{ notif_stock|length }}</span>
    {% endif %}
{% endblock notif_prod_numero %}

{% block notif_prod_mensaje %}
    {% for p in notif_stock%}
        <li>
            <a href="{% url 'dashboard_app:url_form_editar_producto' id_prod=p.pro_id %}">
                <div class="pull-left">
                    <img src="{% if p.pro_imagen_principal %}
                    {% for i in p.pro_imagen_principal %}
                        {{ i.img_data.url }}
                    {% endfor %}
                    {% else %}{% static 'daylisoft/dashboard/img/no-imagen.png' %}{% endif %}" class="img-circle" />
                </div>
                <h4 style="padding-bottom:6px; font-weight: 600;">{{ p.pro_nombre|truncatechars:20 }} <span class="label label-danger">{% trans "Stock" %}: {{ p.pro_stock }}</span></h4>
                <p>{% trans "Categoría" %}: {{ p.categorias.cat_nombre}}</p>
            </a>
        </li>
    {% endfor %}
{% endblock notif_prod_mensaje %}

{% block notif_prod_ver %}
    {% if notif_stock %}
        <li class="footer"><a href="{% url 'dashboard_app:url_listar_productos_bajo_stock' %}">{% trans "Ver todas las notificaciones" %}</a></li>
    {% else %}
        <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
    {% endif %}
{% endblock %}

<!--Notificacion de pedidos pendientes-->
{% block notif_pedido_numero %}
    {% if notif_pedidos|length > 0 %}
        <span class="label label-warning">{{ notif_pedidos|length }}</span>
    {% endif %}
{% endblock notif_pedido_numero %}

{% block notif_pedidos_mensaje %}
    {% for p in notif_pedidos%}
        <li>
            <a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}">
                <h4 style="padding-bottom:6px">
                    {% trans "Cód:" %} {{ p.ped_id }} <small>{% trans "Cliente" %}:  {{ p.cliente.us_nombre }} {{ p.cliente.us_apellidos }}</small>
                </h4>
                <p style="padding-bottom:6px">$ {{ p.ped_total_pagar }}
                <span class="label label-{% if p.ped_estado == 'pendiente' %}warning{% else %}info{% endif %}" style="margin-left: 50px; font-size: 12px;">{{ p.ped_estado|capfirst }}</span></p>
            </a>
        </li>
    {% endfor %}
{% endblock notif_pedidos_mensaje %}

{% block notif_pedidos_ver %}
    {% if notif_pedidos %}
        <li class="footer"><a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}">{% trans "Ver todas las notificaciones" %}</a></li>
    {% else %}
        <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
    {% endif %}
{% endblock %}

{% block contenido %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header box-header-background with-border">
                        <h3 class="box-title ">{% trans "Oferta de productos" %}</h3>
                        <div class="box-tools pull-right">
                            <div class="box-tools">
                                <div class="btn-group" role="group" >
                                    <button onclick="abrir_modal_ofertas('0', this)" class="btn btn-default "><i class="fa fa-plus"></i> {% trans "Nueva oferta" %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <br>
                        <div class="col-md-10 col-md-offset-1">
                            <div align="center">
                                <div class="form-group">
                                    <select style="width: 40%;" id="id_producto_ofertas" onchange="filtrar_nombre_productos('{% url "dashboard_app:url_filtrar_nombre_producto" %}', 'id_producto_ofertas', 'tabla_ofertas')">
                                        <option selected value="0">{% trans 'Mostrar todos los productos' %}</option>
                                        {% for prod in productos %}
                                            <option value="{{ prod.pro_id }}">{{ prod.pro_nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <br>
                            <!-- Tabla -->
                            <table class="table table-bordered table-striped" id="tabla_ofertas" cellspacing="0" width="100%">
                                <thead >
                                    <tr>
                                        <th class="active">{% trans "Fecha de inicio" %}</th>
                                        <th class="active">{% trans "Fecha de finalización" %}</th>
                                        <th class="active">{% trans "Porcentaje" %}</th>
                                        <th class="active">{% trans "Producto asociado" %}</th>
                                        <th class="active">{% trans "Acción" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for ofer in ofertas %}
                                    <tr class="custom-tr">
                                        <td class="vertical-td">{{ ofer.ofer_fecha_inicio }}</td>
                                        <td class="vertical-td">{{ ofer.ofer_fecha_fin }}</td>
                                        <td class="vertical-td">{{ ofer.ofer_porcentaje }} %</td>
                                        <td class="vertical-td"><span class="label label-success">ID: {{ ofer.pro_id.pro_id }}</span>  {{ ofer.pro_id.pro_nombre }}</td>
                                        <td class="vertical-td">
                                            <div class="btn-group">
                                                <button onclick="abrir_modal_ofertas('{% url "dashboard_app:url_cargar_ofertas" %}?id={{ ofer.ofer_id }}', this)" class="btn bg-navy btn-xs" title="{% trans 'Editar' %}"><i class="glyphicon glyphicon-edit"></i></button>
                                                <button onclick="prod_eliminar_objetos('{% url "dashboard_app:url_eliminar_ofertas" %}?id={{ ofer.ofer_id }}', 'OF', 'tabla_ofertas', this)" class="btn btn-danger btn-xs" title="{% trans 'Eliminar' %}"><i class="fa fa-trash-o"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Modal ofertas-->
    <div class="modal fade" id="modal_crud_ofertas" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title" id="myModalLabel3" style="font-weight: 600;">{% trans "Ofertas" %}</h4>
                </div>
                <div class="modal-body">
                    <form role="form" enctype="multipart/form-data" id="formulario_crud_ofertas" name="formulario_crud_ofertas" method="post" onsubmit="return false">{% csrf_token %}
                        <div class="box-body">
                            <!-- Fecha de inicio -->
                            <div class="form-group">
                                <label>{% trans "Fecha de inicio" %} <span class="required">*</span></label>
                                <div class="input-group">
                                    <input type="text" class="form-control datepicker" data-date-format="yyyy/mm/dd" id="producto_fecha_inicio_crud" name="producto_fecha_inicio_crud" required>
                                    <div class="input-group-addon">
                                        <i class="entypo-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- Fecha de fin -->
                            <div class="form-group">
                                <label>{% trans "Fecha de finalización" %} <span class="required">*</span></label>
                                <div class="input-group">
                                    <input type="text" class="form-control datepicker" data-date-format="yyyy/mm/dd" id="producto_fecha_fin_crud" name="producto_fecha_fin_crud" required>
                                    <div class="input-group-addon">
                                        <i class="entypo-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- Precio oferta -->
                            <div class="form-group">
                                <label>{% trans "Porcentaje en la oferta" %} <span class="required">*</span></label>
                                <div class="input-group">
                                    <span class="input-group-addon">%</span>
                                    <input class="form-control" placeholder='{% trans "Porcentaje" %}' id="producto_precio_oferta_crud" name="producto_precio_oferta_crud" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{% trans "Cancelar" %}</button>
                            <button type="submit" onclick="prod_agregar_ofertas('{% url "dashboard_app:url_agregar_ofertas" %}')" class="btn btn-primary">{% trans "Guardar" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#menu_productos').addClass("active");
            $('#menu_productos_adicional').addClass("active");
            $('#menu_productos_ofertas_administrar').addClass("active");
            $('#menu_productos_ofertas_administrar').children('a').removeAttr('href');

            var table = $('#tabla_ofertas').DataTable( {
                lengthChange: false,
                bSort: false,
                pageLength: 12
            });

            $("#id_producto_ofertas").select2({
                allowClear: true
            });

            $("#modal_crud_ofertas").data("test", {oferta_id: "", producto_oferta_id: ""});
        });
    </script>
{% endblock scripts %}