{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block titulo %}{% trans "Daylisoft: Comentarios de los productos" %}{% endblock titulo %}
{% block estilos %}
{% endblock estilos %}

<!--Notificacion de productos por debajo del stock-->
{% block notif_prod_numero %}
    {% if notif_stock|length > 0 %}
        <span class="label label-danger">{{ notif_stock|length }}</span>
    {% endif %}
{% endblock notif_prod_numero %}

{% block notif_prod_mensaje %}
    {% for p in notif_stock%}
        <li>
            <a href="{% url 'dashboard_app:url_form_editar_producto' id_prod=p.pro_id %}">
                <div class="pull-left">
                    <img src="{% if p.pro_imagen_principal %}
                    {% for i in p.pro_imagen_principal %}
                        {{ i.img_data.url }}
                    {% endfor %}
                    {% else %}{% static 'daylisoft/dashboard/img/no-imagen.png' %}{% endif %}" class="img-circle" />
                </div>
                <h4 style="padding-bottom:6px; font-weight: 600;">{{ p.pro_nombre|truncatechars:20 }} <span class="label label-danger">{% trans "Stock" %}: {{ p.pro_stock }}</span></h4>
                <p>{% trans "Categoría" %}: {{ p.categorias.cat_nombre}}</p>
            </a>
        </li>
    {% endfor %}
{% endblock notif_prod_mensaje %}

{% block notif_prod_ver %}
    {% if notif_stock %}
        <li class="footer"><a href="{% url 'dashboard_app:url_listar_productos_bajo_stock' %}">{% trans "Ver todas las notificaciones" %}</a></li>
    {% else %}
        <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
    {% endif %}
{% endblock %}

<!--Notificacion de pedidos pendientes-->
{% block notif_pedido_numero %}
    {% if notif_pedidos|length > 0 %}
        <span class="label label-warning">{{ notif_pedidos|length }}</span>
    {% endif %}
{% endblock notif_pedido_numero %}

{% block notif_pedidos_mensaje %}
    {% for p in notif_pedidos%}
        <li>
            <a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}">
                <h4 style="padding-bottom:6px">
                    {% trans "Cód:" %} {{ p.ped_id }} <small>{% trans "Cliente" %}:  {{ p.cliente.us_nombre }} {{ p.cliente.us_apellidos }}</small>
                </h4>
                <p style="padding-bottom:6px">$ {{ p.ped_total_pagar }}
                <span class="label label-{% if p.ped_estado == 'pendiente' %}warning{% else %}info{% endif %}" style="margin-left: 50px; font-size: 12px;">{{ p.ped_estado|capfirst }}</span></p>
            </a>
        </li>
    {% endfor %}
{% endblock notif_pedidos_mensaje %}

{% block notif_pedidos_ver %}
    {% if notif_pedidos %}
        <li class="footer"><a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}">{% trans "Ver todas las notificaciones" %}</a></li>
    {% else %}
        <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
    {% endif %}
{% endblock %}

{% block contenido %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header box-header-background with-border">
                        <h3 class="box-title ">{% trans "Comentarios de los productos" %}</h3>
                    </div>
                    <div class="row">
                        <br>
                        <div class="col-md-10 col-md-offset-1">
                            <div align="center">
                                <div class="form-group">
                                    <select style="width: 40%;" id="id_producto_review" onchange="filtrar_nombre_productos('{% url "dashboard_app:url_filtrar_nombre_producto" %}', 'id_producto_review', 'tabla_comentarios')">
                                        <option selected value="0">{% trans 'Mostrar todos los comentarios' %}</option>

                                        {% for prod in productos %}
                                            <option value="{{ prod.pro_id }}">{{ prod.pro_nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <br>
                            <!-- Tabla -->
                            <table class="table table-bordered table-striped" id="tabla_comentarios" cellspacing="0" width="100%">
                                <thead >
                                    <tr>
                                        <th class="active" style="width: 210px">{% trans "Producto" %}</th>
                                        <th class="active" style="width: 290px">{% trans "Comentario" %}</th>
                                        <th class="active" style="width: 150px">{% trans "Estrellas" %}</th>
                                        <th class="active" style="width: 230px">{% trans "Fecha" %}</th>
                                        <th class="active" style="width: 190px">{% trans "Usuario" %}</th>
                                        <th class="active" style="width: 100px">{% trans "Acción" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for c in reviews %}
                                    <tr class="custom-tr">
                                        <td class="vertical-td">{{ c.rev_producto.pro_nombre }}</td>
                                        <td class="vertical-td">{{ c.rev_texto }}</td>
                                        <td class="vertical-td"><input type="hidden" class="rating" value="{{ c.rev_estrellas }}" data-readonly /></td>
                                        <td class="vertical-td">{{ c.rev_fecha|date:'d/n/Y  H:m' }}</td>
                                        <td class="vertical-td">{{ c.rev_usuario.us_nombre }} {{ c.rev_usuario.us_apellidos }}</td>
                                        <td class="vertical-td">
                                            <div class="btn-group">
                                                <button onclick="prod_eliminar_objetos('{% url "dashboard_app:url_eliminar_reviews" %}?id={{ c.rev_id }}', 'CO', 'tabla_comentarios', this)" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> {% trans 'Eliminar' %}</button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock contenido %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#menu_productos').addClass("active");
            $('#menu_productos_adicional').addClass("active");
            $('#menu_productos_reviews_administrar').addClass("active");
            $('#menu_productos_reviews_administrar').children('a').removeAttr('href');

            var table = $('#tabla_comentarios').DataTable( {
                lengthChange: false,
                bSort: false,
                pageLength: 25
            });

            $("#id_producto_review").select2({
                allowClear: true
            });
        });
    </script>
{% endblock scripts %}