{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block titulo %}{% trans "Daylisoft: Etiquetas de producto" %}{% endblock titulo %}
{% block estilos %}
    <script src="{% static 'daylisoft/dashboard/plugins/tags/tag-it-no-mod.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock estilos %}

<!--Notificacion de productos por debajo del stock-->
{% block notif_prod_numero %}
    {% if notif_stock|length > 0 %}
        <span class="label label-danger">{{ notif_stock|length }}</span>
    {% endif %}
{% endblock notif_prod_numero %}

{% block notif_prod_mensaje %}
    {% for p in notif_stock%}
        <li>
            <a href="{% url 'dashboard_app:url_form_editar_producto' id_prod=p.pro_id %}">
                <div class="pull-left">
                    <img src="{% if p.pro_imagen_principal %}
                    {% for i in p.pro_imagen_principal %}
                        {{ i.img_data.url }}
                    {% endfor %}
                    {% else %}{% static 'daylisoft/dashboard/img/no-imagen.png' %}{% endif %}" class="img-circle" />
                </div>
                <h4 style="padding-bottom:6px; font-weight: 600;">{{ p.pro_nombre|truncatechars:20 }} <span class="label label-danger">{% trans "Stock" %}: {{ p.pro_stock }}</span></h4>
                <p>{% trans "Categoría" %}: {{ p.categorias.cat_nombre}}</p>
            </a>
        </li>
    {% endfor %}
{% endblock notif_prod_mensaje %}

{% block notif_prod_ver %}
    {% if notif_stock %}
        <li class="footer"><a href="{% url 'dashboard_app:url_listar_productos_bajo_stock' %}">{% trans "Ver todas las notificaciones" %}</a></li>
    {% else %}
        <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
    {% endif %}
{% endblock %}

<!--Notificacion de pedidos pendientes-->
{% block notif_pedido_numero %}
    {% if notif_pedidos|length > 0 %}
        <span class="label label-warning">{{ notif_pedidos|length }}</span>
    {% endif %}
{% endblock notif_pedido_numero %}

{% block notif_pedidos_mensaje %}
    {% for p in notif_pedidos%}
        <li>
            <a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}">
                <h4 style="padding-bottom:6px">
                    {% trans "Cód:" %} {{ p.ped_id }} <small>{% trans "Cliente" %}:  {{ p.cliente.us_nombre }} {{ p.cliente.us_apellidos }}</small>
                </h4>
                <p style="padding-bottom:6px">$ {{ p.ped_total_pagar }}
                <span class="label label-{% if p.ped_estado == 'pendiente' %}warning{% else %}info{% endif %}" style="margin-left: 50px; font-size: 12px;">{{ p.ped_estado|capfirst }}</span></p>
            </a>
        </li>
    {% endfor %}
{% endblock notif_pedidos_mensaje %}

{% block notif_pedidos_ver %}
    {% if notif_pedidos %}
        <li class="footer"><a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}">{% trans "Ver todas las notificaciones" %}</a></li>
    {% else %}
        <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
    {% endif %}
{% endblock %}

{% block contenido %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header box-header-background with-border">
                        <h3 class="box-title ">{% trans "Etiquetas de producto" %}</h3>
                    </div>
                    <div class="box-background">
                        <form id="formulario_producto_tag" name="formulario_producto_tag" role="form" enctype="multipart/form-data" method="post" onsubmit="return false;">{% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                    <div class="box-body">
                                        {% trans "Escribe el nombre de las etiquetas" as i18n_nombre_etiqueta%}
                                        <!-- Nombre -->
                                        <div class="form-group">
                                            <label>{{ i18n_nombre_etiqueta }} </label><span class="required">*</span>
                                            <ul id="nombre_tag"></ul>
                                            <span class="help-block">{% trans "Sólo puede ingresar 20 caracteres por cada etiqueta" %}.</span>
                                        </div>
                                        <button onclick="prod_agregar_tag('{% url "dashboard_app:url_agregar_tags" %}')" id="btn_guardar_tags" type="submit" class="btn bg-light-blue">{% trans "Guardar" %}</button><br/><br/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer"></div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <!-- Tabla -->
                            <table class="table table-bordered table-striped" id="tabla_tags" cellspacing="0" width="100%">
                                <thead >
                                    <tr>
                                        <th class="active">{% trans "Cód." %}</th>
                                        <th class="active">{% trans "Nombre de la etiqueta" %}</th>
                                        <th class="active">{% trans "Acción" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for t in tags %}
                                    <tr class="custom-tr">
                                        <td class="vertical-td">{{ forloop.counter }}</td>
                                        <td class="vertical-td">{{ t.tag_nombre }}</td>
                                        <td class="vertical-td">
                                            <div class="btn-group">
                                                <button onclick="prod_cargar_tags('{% url "dashboard_app:url_cargar_tags" %}?id={{ t.tag_id }}', this)" class="btn bg-navy btn-xs" title="{% trans 'Editar' %}"><i class="glyphicon glyphicon-edit"></i></button>
                                                <button onclick="prod_eliminar_objetos('{% url "dashboard_app:url_eliminar_tags" %}?id={{ t.tag_id }}', 'TA', 'tabla_tags', this)" class="btn btn-danger btn-xs" title="{% trans 'Eliminar' %}"><i class="fa fa-trash-o"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock contenido %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#menu_productos').addClass("active");
            $('#menu_productos_adicional').addClass("active");
            $('#menu_productos_tags_administrar').addClass("active");
            $('#menu_productos_tags_administrar').children('a').removeAttr('href');

            var table = $('#tabla_tags').DataTable( {
                lengthChange: false
            });

            $('#nombre_tag').tagit({
                singleField: true,
                allowSpaces: true,
                removeConfirmation : true,
                fieldName: "nombre_tag[]",
                caseSensitive: false,
                placeholderText: "{% trans 'Etiquetas' %}"
            });

            $("#menu_productos_tags_administrar").data("test", {tag_id: ""});
        });
    </script>
{% endblock scripts %}