{% extends "base.html" %} {% load static %} {% block css %} {% endblock css %} {% block content %}
    <div class="wrapper">
        <div class="container">
            <div class="content_block row no-sidebar single_post">
                <div class="fl-container">
                    <div class="posts-block">
                        <div class="contentarea">
                            <div class="blog_post_preview animate" data-anim-type="fadeInUp" data-anim-delay="300">
                                <h1>{{seleccionProyecto.pro_titulo}}</h1>
                                <div class="listing_meta">
                                    <span>{{seleccionProyecto.pro_fecha}}</span>
                                    <span>Categoria: <a href="javascript:void(0);">{{seleccionProyecto.pro_categoria.catp_nombre}}</a></span>
                                    <span>Cliente: <a href="javascript:void(0);">{{seleccionProyecto.pro_proveedor.prov_nombre}}</a></span>
                                </div>
                                <div class="blog_post_image">
                                    <img alt="" src={{seleccionProyecto.pro_imagen.url}}>
                                </div>
                                <div class="blog_content">
                                {% for textos in proyectoTextos %}
                                        <div id="llenar"><p>{{textos.etexp_texto|safe}}</p></div>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="row control_post_links">

                                {% if proyectoTextos|length > 0 %}
                                <div class="col-sm-6 text-right animate" data-anim-type="fadeInRight" data-anim-delay="300">
                                    <div class="prev_next_links">
                                    {% if proyectoTextos.has_previous %}
                                        <a  href="?page={{ proyectoTextos.previous_page_number }}"></i>Prev</a>
                                    {% endif %}
                                    {% if proyectoTextos.has_next %}
                                        <span>/</span>
                                        <a href="?page={{ proyectoTextos.next_page_number }}">Next<i class="icon-angle-right"></i></a>
                                    {% endif %}

                                    </div>
                                </div>
                                {% endif %}
                            </div>

                            <div class="row">
                                <div class="col-sm-12 module_cont pb80 module_feature_portfolio">
                                    <h3 class="mb27">Proyectos recientes</h3>
                                    <div class="featured_items">
                                        <div class="items4 featured_portfolio">
                                            <ul class="item_list">
                                            {% for objeto in ultimosProyectos %}
                                                <li class="animate" data-anim-type="fadeInUp" data-anim-delay="300">
                                                    <div class="item">
                                                        <div class="item_wrapper">
                                                            <div class="img_block wrapped_img">
                                                                <img alt="" src="{{objeto.pro_imagen.url}}" />
                                                                <span class="block_fade"></span>
                                                                <div class="post_hover_info">
                                                                    <div class="featured_items_title">
                                                                        <h5>{{objeto.pro_categoria.catp_nombre}}</h5>
                                                                    </div>
                                                                    <div class="featured_meta">{{objeto.pro_titulo}}</div>
                                                                    <a href="{{objeto.pro_imagen.url}}" class="photozoom featured_ico_link view_link"><i class="icon-expand"></i></a>
                                                                    <a class="featured_ico_link view_link" href="/proyectos/categoria/{{objeto.pro_categoria.catp_nombre}}/{{objeto.pro_id}}"><i class="icon-link"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                             </div>

                             <div class="fw_block bg_start grey_bg pt46 mb0">
                                <div class="row">
                                    <div class="col-sm-12 module_cont pb47 module_partners">
                                        <div class="module_content sponsors_works items6">
                                            <ul>
                                            {% for objeto in redes %}
                                                <li class="animate" data-anim-type="bounceIn" data-anim-delay="250">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="{{objeto.red_link}}" target="_blank"><img src="{{objeto.red_imagen.url}}" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                 </div>
                             </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %} {% block js %} {% endblock js %}