{% extends "base.html" %} {% load static %} {% block css %} {% endblock css %} {% block content %}
   <div class="wrapper">
        <div class="container">
            <div class="page_title_block">
                <div class="bg_title">
                    <h2>Proyectos</h2>
                </div>
                <div class="page_descr">
                    <p>Desarrollamos software corporativo cuyas versiones podrán interactuar con aplicaciones Web (Internet) de forma que un cliente pueda acceder a la información administrativa de su empresa a cualquier hora y desde cualquier punto del planeta.</p>
                </div>
            </div>
            <div class="content_block row no-sidebar">
                <div class="fl-container">
                    <div class="posts-block">
                        <div class="contentarea">

                            <!-- Filter_block -->
                            <div class="filter_block container animate" data-anim-type="bounceIn" data-anim-delay="300">
                                <div class="filter_navigation">
                                    <ul id="options" class="splitter">
                                        <li>
                                            <ul data-option-key="filter" class="optionset">
                                                <li class="selected"><a data-option-value="*" data-catname="all" href="#filter">Todos los trabajos</a></li>
                                                {% for objeto in categorias %}
                                                    <li><a data-option-value=".{{objeto.catp_nombre}}" data-catname="{{objeto.catp_nombre}}" href="#filter">{{objeto.catp_nombre}}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- //Filter_block -->

                            <div class="row pb50 animate" data-anim-type="fadeInUp" data-anim-delay="300">
                                <div class="sorting_block image-grid featured_items photo_gallery" id="list">
                                    {% for objeto in proyectos %}
                                        <div class="col-sm-4 {{objeto.pro_categoria.catp_nombre}} element">
                                            <div class="item">
                                                <div class="item_wrapper">
                                                    <div class="img_block wrapped_img">
                                                        <img src="{{objeto.pro_imagen.url}}" alt="">
                                                        <span class="block_fade"></span>
                                                        <div class="post_hover_info">
                                                            <div class="featured_items_title">
                                                                <h5>{{objeto.pro_titulo}}</h5>
                                                            </div>
                                                            <div class="featured_meta">{{objeto.pro_categoria.catp_nombre}}</div>
                                                            <a href="{{objeto.pro_imagen.url}}" class="photozoom featured_ico_link view_link"><i class="icon-expand"></i></a>
                                                            <a class="featured_ico_link view_link" href="/proyectos/categoria/{{objeto.pro_categoria.catp_nombre}}/{{objeto.pro_id}}"><i class="icon-link"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="clear"></div>
                                <div class="text-center"><a href="javascript:void(0);" class="load_more_works shortcode_button btn_normal btn_type5">Cargar más</a></div>
                            </div>

                            <div class="fw_block bg_start grey_bg mb0 pt46">
                                <div class="row">
                                    <div class="col-sm-12 module_cont pb47 module_partners">
                                        <div class="module_content sponsors_works items6">
                                            <ul>
                                            {% for objeto in redes %}
                                                <li class="animate" data-anim-type="bounceIn" data-anim-delay="250">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="{{objeto.red_link}}" target="_blank"><img src="{{objeto.red_imagen.url}}" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                 </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio -->

{% endblock content %} {% block js %}
 <script type="text/javascript" src="/static/daylisoft/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="/static/daylisoft/js/sorting.js"></script>
    {% endblock js %}