{% extends "base.html" %} {% load static %} {% block css %} {% endblock css %} {% block content %}
    <div class="wrapper">
        <div class="container">
            <div class="page_title_block">
                <div class="bg_title">
                    <h2>Dí Hola</h2>
                </div>
                <div class="page_descr">
                    <p>¡Escríbenos un mensaje para ayudarte en lo que necesites!</p>
                </div>
            </div>
            <div class="content_block row no-sidebar">
                <div class="fl-container">
                    <div class="posts-block">
                        <div class="contentarea">
                            <div class="row">
                                <div class="col-sm-9 module_cont pb20 animate" data-anim-type="fadeInLeft" data-anim-delay="300">
                                    <h3 class="mb27 mt_5">Escríbenos un mail</h3>
                                    <div class="module_content contact_form">
                                        <div id="note"></div>
                                        <div id="fields">
                                        <form id="ajax-contact-form1" method="post" action="{% url 'portal_app:enviarmail' %}">{% csrf_token %}
                                            {% if request.user.is_authenticated %}
                                                <div class="row row20">
                                            {% else %}
                                                <div class="row row20">
                                                    <div class="col-sm-12"><input type="text" name="nombre" id="nombre" value="" placeholder="Nombre *" /></div>
                                                    <div class="col-sm-12"><input type="text" name="email" id="email" value="" placeholder="Email *" /></div>
                                            {% endif %}
                                                      <div class="col-sm-12"><input type="text" name="tema" id="tema" value="" placeholder="Título" /></div>
                                                </div>
                                                <textarea name="mensaje" id="mensaje" placeholder="Escriba su mensaje aquí..."></textarea>
                                                <input type="submit" value="Enviar mensaje">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 module_cont contact_info pb40 animate" data-anim-type="fadeInRight" data-anim-delay="300">
                                    <h3 class="mb20 mt_5">Información de contacto</h3>
                                    <p><span>Número:</span> +593 990171512</p>
                                    <p><span>Oficina:</span> Quito, Ecuador</p>
                                    <p class="mb29"><span>Email:</span> <a href="mailto:#">daylisoft@gmail.com</a></p>

                                    <h3 class="mb26">Siguenos en</h3>
                                    <div class="shortcode_icons_wrapper">
                                        <a href="https://www.facebook.com/daylisoft/" title="Facebook"><span><i class="icon-facebook"></i></span></a>
                                        <a href="https://twitter.com/daylisoft" title="Twitter"><span><i class="icon-twitter"></i></span></a>
                                        <a href="https://plus.google.com/u/0/109232023950965083720" title="Google+"><span><i class="icon-google-plus"></i></span></a>
                                        <a href="https://www.linkedin.com/in/dayli-soft-b8715a12a" title="Linkedin"><span><i class="icon-linkedin"></i></span></a>
                                        <a href="https://instagram.com/daylisoft" title="Instagram"><span><i class="icon-instagram"></i></span></a>
                                    </div>
                                </div>
                            </div>

                            <div class="fw_block bg_start wall_wrap full_map mb0">
                                <div class="row">
                                    <div class="col-sm-12 module_cont pb0 module_google_map">
                                        <div class="module_content">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15932.377050300069!2d-79.80674575344239!3d-3.326885086041365!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb7d2e392ffa05f65!2sDaylisoft+Cia+Ltda!5e0!3m2!1ses!2sec!4v1480196393689" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block js %}
    <script>
        $("#menu_contactenos").addClass("current-menu-parent");
    </script>
{% endblock js %}