{% extends "base.html" %} {% load static %} {% block css %} {% endblock css %} {% block content %}
<div class="breadcrumbs">
    <div class="container">
        <a href="/">Inicio</a><span>/</span>Equipo
        <h1 class="title-page">Nuestro equipo experto</h1>
    </div>
</div>
<div class="wrapper">
        <div class="container">
            <div class="content_block row no-sidebar">
                <div class="fl-container">
                    <div class="posts-block">
                        <div class="contentarea">

                            <div class="row">
                                <div class="col-sm-12 module_cont module_team">
                                    <div class="team_slider">
                                        <div class="carouselslider teamslider items2">
                                            <ul class="item_list">
                                                <li class="animate" data-anim-type="fadeInLeft" data-anim-delay="300">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="img_block">
                                                                        <img src="{{fundador.por_imagen.url}}" alt="" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="carousel_body">
                                                                        <div class="team_title">
                                                                            <h6>Danilo Sánchez</h6>
                                                                            <div class="op">Fundador</div>
                                                                        </div>
                                                                        <div class="team_desc">{{fundador.por_texto}}</div>
                                                                        <div class="team_icons_wrapper shortcode_icons_wrapper">
                                                                            <a href="https://www.facebook.com" class="teamlink team_fb" title="Facebook"><span><i class="icon-facebook"></i></span></a>
                                                                            <a href="https://www.twitter.com" class="teamlink team_twitter" title="Twitter"><span><i class="icon-twitter"></i></span></a>
                                                                            <a href="https://www.google.com" class="teamlink team_google" title="Google+"><span><i class="icon-google-plus"></i></span></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="animate" data-anim-type="fadeInRight" data-anim-delay="300">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="img_block">
                                                                        <img src="{{cofundador.por_imagen.url}}" alt="" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="carousel_body">
                                                                        <div class="team_title">
                                                                            <h6>Jennifer Honores</h6>
                                                                            <div class="op">Co-Founder</div>
                                                                        </div>
                                                                        <div class="team_desc">{{cofundador.por_texto}}</div>
                                                                        <div class="team_icons_wrapper shortcode_icons_wrapper">
                                                                            <a href="https://www.facebook.com" class="teamlink team_fb" title="Facebook"><span><i class="icon-facebook"></i></span></a>
                                                                            <a href="https://www.twitter.com" class="teamlink team_twitter" title="Twitter"><span><i class="icon-twitter"></i></span></a>
                                                                            <a href="https://www.google.com" class="teamlink team_google" title="Google+"><span><i class="icon-google-plus"></i></span></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                         </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 module_cont module_team pb80">
                                    <div class="team_slider">
                                        <div class="carouselslider teamslider items4">
                                            <ul class="item_list type2">
                                                <li class="animate" data-anim-type="fadeInUp" data-anim-delay="400">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="img_block">
                                                                        <img src="{{administrador.por_imagen.url}}" alt="" />
                                                                        <span class="team_fade"></span>
                                                                        <div class="team_icons_wrapper shortcode_icons_wrapper">
                                                                            <a href="https://www.facebook.com/giovanni.ochoa.372" class="teamlink team_fb" title="Facebook"><span><i class="icon-facebook"></i></span></a>
                                                                            <a href="https://twitter.com/giogeral" class="teamlink team_twitter" title="Twitter"><span><i class="icon-twitter"></i></span></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="carousel_body">
                                                                        <div class="team_title">
                                                                            <h6>Giovanni Ochoa</h6>
                                                                            <div class="op">Área administrativa y publicitaria</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="animate" data-anim-type="fadeInUp" data-anim-delay="250">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="img_block">
                                                                        <img src="{{fundador.por_imagen.url}}" alt="" />
                                                                        <span class="team_fade"></span>
                                                                        <div class="team_icons_wrapper shortcode_icons_wrapper">
                                                                            <a href="https://www.facebook.com/danilos92" class="teamlink team_fb" title="Facebook"><span><i class="icon-facebook"></i></span></a>
                                                                            <a href="https://twitter.com/Danilo_S92" class="teamlink team_twitter" title="Twitter"><span><i class="icon-twitter"></i></span></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="carousel_body">
                                                                        <div class="team_title">
                                                                            <h6>Danilo Sánchez</h6>
                                                                            <div class="op">Área de desarrollo y Diseño</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="animate" data-anim-type="fadeInUp" data-anim-delay="250">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="img_block">
                                                                        <img src="{{cofundador.por_imagen.url}}" alt="" />
                                                                        <span class="team_fade"></span>
                                                                        <div class="team_icons_wrapper shortcode_icons_wrapper">
                                                                            <a href="https://www.facebook.com/jennifer.honores" class="teamlink team_fb" title="Facebook"><span><i class="icon-facebook"></i></span></a>
                                                                            <a href="https://twitter.com/BEBJENI" class="teamlink team_twitter" title="Twitter"><span><i class="icon-twitter"></i></span></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="carousel_body">
                                                                        <div class="team_title">
                                                                            <h6>Jennifer Honores</h6>
                                                                            <div class="op">Área de desarrollo y Contable</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="animate" data-anim-type="fadeInUp" data-anim-delay="400">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="img_block">
                                                                        <img src="/static/daylisoft/img/portal/desarrollador.png" alt="" />
                                                                        <span class="team_fade"></span>
                                                                        <div class="team_icons_wrapper shortcode_icons_wrapper">
                                                                            <a href="https://www.facebook.com/" class="teamlink team_fb" title="Facebook"><span><i class="icon-facebook"></i></span></a>
                                                                            <a href="https://twitter.com/" class="teamlink team_twitter" title="Twitter"><span><i class="icon-twitter"></i></span></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="carousel_body">
                                                                        <div class="team_title">
                                                                            <h6>Carlos Herrera</h6>
                                                                            <div class="op">Área de desarrollo y servicio técnico</div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                         </div>
                                    </div>
                                </div>
                            </div>

                            <div class="fw_block bg_start grey_bg pt46 mb0">
                                <div class="row">
                                    <div class="col-sm-12 module_cont pb47 module_partners">
                                        <div class="module_content sponsors_works items6">
                                            <ul>
                                            {% for objeto in redes %}
                                                <li class="animate" data-anim-type="bounceIn" data-anim-delay="250">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="{{objeto.red_link}}" target="_blank"><img src="{{objeto.red_imagen.url}}" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                 </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock content %} {% block js %} {% endblock js %}