{% extends "base.html" %} {% load static %} {% block css %} {% endblock css %} {% block content %}
<div class="breadcrumbs">
    <div class="container">
        <a href="/">Inicio</a><span>/</span>Galería
        <h1 class="title-page">Galería</h1>
    </div>
</div>
<div class="wrapper">
    <div class="container">
        <div class="content_block row no-sidebar">
            <div class="fl-container">
                <div class="posts-block">
                    <div class="contentarea">
                        <div class="row">
                            <div class="col-sm-12 module_cont pb80 module_gallery photo_gallery">
                                <div class="featured_items">
                                    <div class="items4 featured_portfolio">
                                        <ul class="item_list">
                                        {% for objeto in galeria %}
                                            <li class="animate" data-anim-type="bounceIn" data-anim-delay="250">
                                                <div class="item">
                                                    <div class="gallery_item_padding">
                                                        <div class="gallery_item_wrapper">
                                                            <img src="{{objeto.gal_imagen.url}}" alt="" />
                                                            <span class="block_fade"></span>
                                                            <div class="post_hover_info">
                                                                <a href="{{objeto.gal_imagen.url}}" class="photozoom view_link"><i class="icon-expand"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                        </ul>
                                     </div>
                                </div>
                            </div>
                        </div>

                        <div class="fw_block bg_start grey_bg pt46 mb0">
                            <div class="row">
                                <div class="col-sm-12 module_cont pb47 module_partners">
                                    <div class="module_content sponsors_works items6">
                                        <ul>
                                            {% for objeto in redes %}
                                                <li class="animate" data-anim-type="bounceIn" data-anim-delay="250">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="{{objeto.red_link}}" target="_blank"><img src="{{objeto.red_imagen.url}}" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                             </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
    <script>
        $("#menu_paginas").addClass("current-menu-parent");
    </script>
{% endblock js %}