{% extends "base.html" %} {% load static %} {% block css %} {% endblock css %} {% block content %}
    <div class="wrapper">
        <div class="container">
            <div class="content_block row no-sidebar single_post">
                <div class="fl-container">
                    <div class="posts-block">
                        <div class="contentarea">
                            <div class="blog_post_preview animate" data-anim-type="fadeInUp" data-anim-delay="300">
                                <h1>Lo que ofrecemos</h1>
                                <div class=" blog_post_image">
                                                        <div class="slider-wrapper theme-default">
                                                            <div class="nivoSlider">
                                                                    <img  src="/static/daylisoft/img/portal/servicios/1z.jpg" alt="">
                                                                    <img   height="42" width="42" src="/static/daylisoft/img/portal/servicios/2z.jpg" alt="">
                                                                    <img  height="42" width="42"align=" " src="/static/daylisoft/img/portal/servicios/3z.jpg" alt="">
                                                                    <img  height="42" width="42" src="/static/daylisoft/img/portal/servicios/4z.jpg" alt="">
                                                                    <img  height="42" width="42" src="/static/daylisoft/img/portal/servicios/5z.jpg" alt="">
                                                                    <img  src="/static/daylisoft/img/portal/servicios/r1z.jpg" alt="">
                                                                    <img  src="/static/daylisoft/img/portal/servicios/r2z.jpg" alt="">
                                                                    <img  src="/static/daylisoft/img/portal/servicios/ct1z.jpg" alt="">
                                                                    <img   height="42" width="42" src="/static/daylisoft/img/portal/servicios/ct2z.jpg" alt="">

                                                            </div>
                                                        </div>
                                </div>
                                <div style="background:#eee;border:1px solid #ccc;padding:5px 10px;"><span style="font-family:times new roman,times,serif;"><strong>Mantenimiento de Computadoras
                                </strong></span></div>
                                    <ol style="margin-top: 5px; margin-left: 35px; padding-left: 5px; margin-bottom: 20px; color: rgb(68, 85, 85); font-family: Georgia, &quot;Times New Roman&quot;, Times, serif; font-size: 14px;">
                                        <li style="margin-top: 0px; margin-left: 0px; padding-left: 0px;"><b>Diagn&oacute;stico.</b></li>
                                        <li style="margin-top: 0px; margin-left: 0px; padding-left: 0px;"><b>Limpieza.</b></li>
                                        <li style="margin-top: 0px; margin-left: 0px; padding-left: 0px;"><b>Formateo de computadoras.</b></li>
                                        <li style="margin-top: 0px; margin-left: 0px; padding-left: 0px;"><b>Partición de discos duros</b></li>
                                        <li style="margin-top: 0px; margin-left: 0px; padding-left: 0px;"><b>Instalación de antivirus</b></li>
                                        <li style="margin-top: 0px; margin-left: 0px; padding-left: 0px;"><b>Optimización de Pc</b></li>
                                    </ol>

                                </div>
                                <div style="background:#eee;border:1px solid #ccc;padding:5px 10px;"><span style="font-family:times new roman,times,serif;"><strong>Instalación de Redes y Cámaras Web</strong></span></div>
                                    <ol style="margin-top: 5px; margin-left: 35px; padding-left: 5px; margin-bottom: 20px; color: rgb(68, 85, 85); font-family: Georgia, &quot;Times New Roman&quot;, Times, serif; font-size: 14px;">
                                        <li style="margin-top: 0px; margin-left: 0px; padding-left: 0px;"><b>Instalación de redes informáticas.</b></li>
                                        <li style="margin-top: 0px; margin-left: 0px; padding-left: 0px;"><b>Mantenimiento de infraestructuras de telecomunicaciones</b></li>
                                        <li style="margin-top: 0px; margin-left: 0px; padding-left: 0px;"><b>Instalación de Cámaras de seguridad</b></li>
                                    </ol>

                                </div>
                                <div style="background:#eee;border:1px solid #ccc;padding:5px 10px;"><span style="font-family:times new roman,times,serif;"><strong>Consultoría Tecnologíca</strong></span></div>
                                    <ol style="margin-top: 5px; margin-left: 35px; padding-left: 5px; margin-bottom: 20px; color: rgb(68, 85, 85); font-family: Georgia, &quot;Times New Roman&quot;, Times, serif; font-size: 14px;">
                                        <li style="margin-top: 0px; margin-left: 0px; padding-left: 0px;"><b>Entendemos tus necesidades</b></li>
                                        <li style="margin-top: 0px; margin-left: 0px; padding-left: 0px;"><b>Analizamos tus proyectos</b></li>
                                        <li style="margin-top: 0px; margin-left: 0px; padding-left: 0px;"><b>Sugerimos alternativas</b></li>
                                    </ol>

                                </div>
                            </div>

                            </div>
                             <div class="fw_block bg_start grey_bg pt46 mb0">
                                <div class="row">
                                    <div class="col-sm-12 module_cont pb47 module_partners">
                                        <div class="module_content sponsors_works items6">
                                            <ul>
                                            {% for objeto in redes %}
                                                <li class="animate" data-anim-type="bounceIn" data-anim-delay="250">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="{{objeto.red_link}}" target="_blank"><img src="{{objeto.red_imagen.url}}" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                 </div>
                             </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %} {% block js %} {% endblock js %}