{% extends "base.html" %} {% load static %} {% block css %} {% endblock css %} {% block content %}
<div class="breadcrumbs">
    <div class="container">
        <a href="/">Inicio</a><span>/</span>Servicios
        <h1 class="title-page">Lo mejor que podemos ofrecer</h1>
    </div>
</div>
    <div class="wrapper">
        <div class="container">
            <div class="content_block row no-sidebar">
                <div class="fl-container">
                    <div class="posts-block">
                        <div class="contentarea">
                            <div class="row">
                                <div class="col-sm-3 module_cont module_iconboxes pb75 pt50 animate" data-anim-delay="250" data-anim-type="fadeInDown">
                                    <div class="module_content shortcode_iconbox type2">
                                        <a href="javascript:void(0);">
                                            <div class="iconbox_wrapper">
                                                <div class="icon_title_wrap">
                                                    <div class="ico"><img src="/static/daylisoft/img/icons/icon12.png" class="icon_def" width="80" height="80" alt="" /><img src="/static/daylisoft/img/retina/icons/icon12.png" class="icon_retina" width="80" height="80" alt="" /></div>
                                                    <h5 class="iconbox_title">Desarrollo y diseño</h5>
                                                </div>
                                                <div class="iconbox_body">
                                                    <p>Ofrecemos soluciones eficaces para sacar partido a tu negocio en Internet cubriendo todas las opciones disponibles; Tiendas virtuales, Catálogos, Webs Corporativas, Portales informativos y Blogs, Galerías o aplicaciones a medida</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3 module_cont module_iconboxes pb75 pt50 animate" data-anim-delay="150" data-anim-type="fadeInLeft">
                                    <div class="module_content shortcode_iconbox type2">
                                        <a href="javascript:void(0);">
                                            <div class="iconbox_wrapper">
                                                <div class="icon_title_wrap">
                                                    <div class="ico"><img src="/static/daylisoft/img/icons/icon13.png" class="icon_def" width="80" height="80" alt="" /><img src="/static/daylisoft/img/retina/icons/icon13.png" class="icon_retina" width="80" height="80" alt="" /></div>
                                                    <h5 class="iconbox_title">Alojamiento Web</h5>
                                                </div>
                                                <div class="iconbox_body">
                                                    <p>Nos adecuamos a tus necesidades de Hospedaje web, creando un paquete para cada cliente</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3 module_cont module_iconboxes pb75 pt50 animate" data-anim-delay="200" data-anim-type="fadeInUp">
                                    <div class="module_content shortcode_iconbox type2">
                                        <a href="javascript:void(0);">
                                            <div class="iconbox_wrapper">
                                                <div class="icon_title_wrap">
                                                    <div class="ico"><img src="/static/daylisoft/img/icons/icon14.png" class="icon_def" width="80" height="80" alt="" /><img src="/static/daylisoft/img/retina/icons/icon14.png" class="icon_retina" width="80" height="80" alt="" /></div>
                                                    <h5 class="iconbox_title">Servicio personalizado</h5>
                                                </div>
                                                <div class="iconbox_body">
                                                    <p>Se tiene contacto permanente con el cliente, con la mayor adaptación posible a sus necesidades mediante una gran flexibilidad y creatividad.</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3 module_cont module_iconboxes pb75 pt50 animate" data-anim-delay="150" data-anim-type="fadeInRight">
                                    <div class="module_content shortcode_iconbox type2">
                                        <a href="javascript:void(0);">
                                            <div class="iconbox_wrapper">
                                                <div class="icon_title_wrap">
                                                    <div class="ico"><img src="/static/daylisoft/img/icons/icon15.png" class="icon_def" width="80" height="80" alt="" /><img src="/static/daylisoft/img/retina/icons/icon15.png" class="icon_retina" width="80" height="80" alt="" /></div>
                                                    <h5 class="iconbox_title">Intranet Online</h5>
                                                </div>
                                                <div class="iconbox_body">
                                                    <p>Servicios para negocios que necesiten estar conectados en red desde cualquier parte del mundo, te ofrecemos un servicio de excelente calidad adecuado a las necesidades de tu negocio, nuestros ingenieros cuentan con experiencia de sobre en redes e intranet.</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                             </div>

                            <div class="fw_block bg_start pt74 pb50 grey_bg mb60">
                                <div class="row">
                                    <div class="col-sm-12 module_cont pb0">
                                        <div class="bg_title">
                                            <h2 class="fleft">Otros Servicios</h2>
                                            <!-- Filter_block -->
                                            <div class="filter_block">
                                                <div class="filter_navigation">
                                                    <ul id="options" class="splitter">
                                                        <li>
                                                            <ul data-option-key="filter" class="optionset">
                                                                <li class="selected"><a data-option-value="*" data-catname="all" href="#filter">Todos</a></li>
                                                                <li><a data-option-value=".branding" data-catname="branding" href="#filter">Mantenimiento y Reparaciónde Pc's</a></li>
                                                                <li><a data-option-value=".polygraphy" data-catname="polygraphy" href="#filter">Redes y Cámaras Web</a></li>
                                                                <li><a data-option-value=".textstyle" data-catname="textstyle" href="#filter">Consultoría tecnologica</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <!-- //Filter_block -->
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="sorting_block image-grid featured_items photo_gallery" id="list">
                                        <div class="col-sm-4 branding element">
                                            <div class="item animate" data-anim-delay="250" data-anim-type="bounceIn">
                                                <div class="item_wrapper">
                                                    <div class="img_block wrapped_img">
                                                        <img src="/static/daylisoft/img/portal/servicios/1.jpg" alt="">
                                                        <span class="block_fade"></span>
                                                        <div class="post_hover_info">
                                                            <div class="featured_items_title">
                                                                <h5>Mantenimiento Hardware</h5>
                                                            </div>
                                                            <div class="featured_meta">Reparaciones y mantenimientos</div>
                                                            <a href="/static/daylisoft/img/portal/servicios/1z.jpg" class="photozoom featured_ico_link view_link"><i class="icon-expand"></i></a>
                                                            <a class="featured_ico_link view_link" href="/portal/serviciosAdicionales/"><i class="icon-link"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 polygraphy element">
                                            <div class="item animate" data-anim-delay="250" data-anim-type="bounceIn">
                                                <div class="item_wrapper">
                                                    <div class="img_block wrapped_img">
                                                        <img src="/static/daylisoft/img/portal/servicios/r1.jpg" alt="">
                                                        <span class="block_fade"></span>
                                                        <div class="post_hover_info">
                                                            <div class="featured_items_title">
                                                                <h5>Redes</h5>
                                                            </div>
                                                            <div class="featured_meta">Configuración e instalación</div>
                                                            <a href="/static/daylisoft/img/portal/servicios/r1z.jpg" class="photozoom featured_ico_link view_link"><i class="icon-expand"></i></a>
                                                            <a class="featured_ico_link view_link" href="/portal/serviciosAdicionales/"><i class="icon-link"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 textstyle element">
                                            <div class="item animate" data-anim-delay="250" data-anim-type="bounceIn">
                                                <div class="item_wrapper">
                                                    <div class="img_block wrapped_img">
                                                        <img src="/static/daylisoft/img/portal/servicios/ct1.jpg" alt="">
                                                        <span class="block_fade"></span>
                                                        <div class="post_hover_info">
                                                            <div class="featured_items_title">
                                                                <h5>Consultoría</h5>
                                                            </div>
                                                            <div class="featured_meta">Tecnologías y Otros</div>
                                                            <a href="/static/daylisoft/img/portal/servicios/ct1z.jpg" class="photozoom featured_ico_link view_link"><i class="icon-expand"></i></a>
                                                            <a class="featured_ico_link view_link" href="/portal/serviciosAdicionales/"><i class="icon-link"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 branding element">
                                            <div class="item animate" data-anim-delay="250" data-anim-type="bounceIn">
                                                <div class="item_wrapper">
                                                    <div class="img_block wrapped_img">
                                                        <img src="/static/daylisoft/img/portal/servicios/3.jpg" alt="">
                                                        <span class="block_fade"></span>
                                                        <div class="post_hover_info">
                                                            <div class="featured_items_title">
                                                                <h5>Laptos</h5>
                                                            </div>
                                                            <div class="featured_meta">Mantenimiento Preventivo y correctivo</div>
                                                            <a href="/static/daylisoft/img/portal/servicios/3z.jpg" class="photozoom featured_ico_link view_link"><i class="icon-expand"></i></a>
                                                            <a class="featured_ico_link view_link" href="/portal/serviciosAdicionales/"><i class="icon-link"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 polygraphy element">
                                            <div class="item animate" data-anim-delay="250" data-anim-type="bounceIn">
                                                <div class="item_wrapper">
                                                    <div class="img_block wrapped_img">
                                                        <img src="/static/daylisoft/img/portal/servicios/r2.jpg" alt="">
                                                        <span class="block_fade"></span>
                                                        <div class="post_hover_info">
                                                            <div class="featured_items_title">
                                                                <h5>Cámaras de Seguridad</h5>
                                                            </div>
                                                            <div class="featured_meta">Configuración e instalacióntc</div>
                                                            <a href="/static/daylisoft/img/portal/servicios/r2z.jpg" class="photozoom featured_ico_link view_link"><i class="icon-expand"></i></a>
                                                            <a class="featured_ico_link view_link" href="/portal/serviciosAdicionales/"><i class="icon-link"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 textstyle element">
                                            <div class="item animate" data-anim-delay="250" data-anim-type="bounceIn">
                                                <div class="item_wrapper">
                                                    <div class="img_block wrapped_img">
                                                        <img src="/static/daylisoft/img/portal/servicios/ct2.jpg" alt="">
                                                        <span class="block_fade"></span>
                                                        <div class="post_hover_info">
                                                            <div class="featured_items_title">
                                                                <h5>Consultoría</h5>
                                                            </div>
                                                            <div class="featured_meta">Entendemos tu necesidad</div>
                                                            <a href="/static/daylisoft/img/portal/servicios/ct2z.jpg" class="photozoom featured_ico_link view_link"><i class="icon-expand"></i></a>
                                                            <a class="featured_ico_link view_link" href="/portal/serviciosAdicionales/"><i class="icon-link"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 branding element">
                                            <div class="item animate" data-anim-delay="250" data-anim-type="bounceIn">
                                                <div class="item_wrapper">
                                                    <div class="img_block wrapped_img">
                                                        <img src="/static/daylisoft/img/portal/servicios/2.jpg" alt="">
                                                        <span class="block_fade"></span>
                                                        <div class="post_hover_info">
                                                            <div class="featured_items_title">
                                                                <h5>Hardware</h5>
                                                            </div>
                                                            <div class="featured_meta">Instalación de repuestos</div>
                                                            <a href="/static/daylisoft/img/portal/servicios/2z.jpg" class="photozoom featured_ico_link view_link"><i class="icon-expand"></i></a>
                                                            <a class="featured_ico_link view_link" href="/portal/serviciosAdicionales/"><i class="icon-link"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear"></div>
                                    <div class="text-center animate" data-anim-delay="250" data-anim-type="fadeInUp"><a href="javascript:void(0);" class="load_more_works shortcode_button btn_normal btn_type5">Cargar más</a></div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 module_cont pb0">
                                    <div class="bg_title">
                                        <h2>Paquetes</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 module_cont pb80 module_price_table items3">
                                    <div class="price_table_wrapper">
                                        <div class="price_item">
                                            <div class="price_item_wrapper animate" data-anim-delay="300" data-anim-type="fadeInLeft">
                                                <div class="price_item_wrap">
                                                    <div class="price_item_title">
                                                        <h5>Plan Económico</h5>
                                                        <h6>5 Clients y Formatos básicos</h6>
                                                    </div>
                                                    <div class="item_cost_wrapper">
                                                        <div class="price_item_cost">
                                                            <h1>300<span>$</span></h1>
                                                        </div>
                                                    </div>
                                                    <div class="price_item_body">
                                                        <div class="price_item_text">Página web HTML, PHP, Jquery</div>
                                                        <div class="price_item_text">Dominio gratis por un año</div>
                                                        <div class="price_item_text">Hosting gratis por un año</div>
                                                        <div class="price_item_text">Diseño personalizado</div>
                                                        <div class="price_item_text">Opción de incluir redes sociales</div>
                                                        <div class="price_item_btn"><a class="shortcode_button btn_large btn_type1" href="javascript:void(0);">Escoger Plan</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="price_item animate" data-anim-delay="300" data-anim-type="fadeIn">
                                            <div class="price_item_wrapper">
                                                <div class="price_item_wrap">
                                                    <div class="price_item_title">
                                                        <h5>Plan Empresarial</h5>
                                                        <h6>Clientes ilimitados y todos los formatos!</h6>
                                                    </div>
                                                    <div class="item_cost_wrapper">
                                                        <div class="price_item_cost">
                                                            <h1>600<span>$</span></h1>
                                                        </div>
                                                    </div>
                                                    <div class="price_item_body">
                                                        <div class="price_item_text">Página web HTML, PHP, Jquery, Msql, CMS</div>
                                                        <div class="price_item_text">Diseño personalizado</div>
                                                        <div class="price_item_text">Dominio gratis por un año</div>
                                                        <div class="price_item_text">Hosting gratis por un año</div>
                                                        <div class="price_item_text">Servidor gratis por un año</div>
                                                        <div class="price_item_text">Respaldo semanal de base de datos</div>
                                                        <div class="price_item_text">Optimización para buscadores</div>
                                                        <div class="price_item_text">Formularios de consulta</div>
                                                        <div class="price_item_text">Opción para incluir redes sociales</div>
                                                        <div class="price_item_text">Imágenes ilimitadas</div>
                                                        <div class="price_item_btn"><a class="shortcode_button btn_large btn_type1" href="javascript:void(0);">Escoger Plan</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="price_item animate" data-anim-delay="300" data-anim-type="fadeInRight">
                                            <div class="price_item_wrapper">
                                                <div class="price_item_wrap">
                                                    <div class="price_item_title">
                                                        <h5>Plan Tienda</h5>
                                                        <h6>Clientes ilimitados y todos los formatos!</h6>
                                                    </div>
                                                    <div class="item_cost_wrapper">
                                                        <div class="price_item_cost">
                                                            <h1>1000<span>$</span></h1>
                                                        </div>
                                                    </div>
                                                    <div class="price_item_body">
                                                        <div class="price_item_text">Página web HTML, PHP, Jquery, Msql, CMS</div>
                                                        <div class="price_item_text">Diseño personalizado</div>
                                                        <div class="price_item_text">Dominio gratis por un año</div>
                                                        <div class="price_item_text">Hosting gratis por un año</div>
                                                        <div class="price_item_text">Sistema automadministrable avanzado</div>
                                                        <div class="price_item_text">Respaldo semanal de base de datos</div>
                                                        <div class="price_item_text">Sistema estadistico</div>
                                                        <div class="price_item_text">Carrito de compras</div>
                                                        <div class="price_item_text">Opción para incluir redes sociales</div>
                                                        <div class="price_item_text">Imágenes ilimitadas</div>
                                                        <div class="price_item_btn"><a class="shortcode_button btn_large btn_type1" href="javascript:void(0);">Escoger Plan</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             </div>

                            <div class="fw_block bg_start grey_bg pt46 mb0">
                                <div class="row">
                                    <div class="col-sm-12 module_cont pb47 module_partners">
                                        <div class="module_content sponsors_works items6">
                                            <ul>
                                            {% for objeto in redes %}
                                                <li class="animate" data-anim-type="bounceIn" data-anim-delay="250">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="{{objeto.red_link}}" target="_blank"><img src="{{objeto.red_imagen.url}}" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                 </div>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %} {% block js %}
<!-- Portfolio -->
    <script type="text/javascript" src="/static/daylisoft/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="/static/daylisoft/js/sorting.js"></script>
    <script>
        $("#menu_servicios").addClass("current-menu-parent");

        items_set = [
            {src : '/static/daylisoft/img/portal/servicios/4.jpg', zoom : '/static/daylisoft/img/portal/servicios/5z.jpg', url : '/portal/serviciosAdicionales', columnclass: 'col-sm-4', sortcategory: 'branding', title: 'Software', itemcategory: 'Instalación de Sistemas Operativos'},
            {src : '/static/daylisoft/img/portal/servicios/5.jpg', zoom : '/static/daylisoft/img/portal/servicios/5z.jpg', url : '/portal/serviciosAdicionales', columnclass: 'col-sm-4', sortcategory: 'branding', title: 'Dolores Magni', itemcategory: 'Instalación programas'}
        ];
        jQuery('#list').portfolio_addon({
            type : 2, // 2-4 columns portfolio
            load_count : 3,
            items : items_set
        });
    </script>
    {% endblock js %}
