{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head lang="{{ LANGUAGE_CODE }}">
        <meta charset="UTF-8">
        <title>{% block titulo %}{% endblock titulo %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- Theme style -->
        <link href="{% static 'daylisoft/dashboard/css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'daylisoft/dashboard/css/bootstrap-select.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'daylisoft/dashboard/css/flags-icons/css/flag-icon.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'daylisoft/dashboard/css/admin.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'daylisoft/dashboard/css/skins.css' %}" rel="stylesheet" type="text/css" />
        <!-- All Icon  CSS -->
        <link href="{% static 'daylisoft/dashboard/css/font-icons/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{% static 'daylisoft/dashboard/css/font-icons/entypo/css/entypo.css' %}" >
        <link rel="icon" href="{% static 'daylisoft/dashboard/img/icono.ico' %}"/>
        <!-- Jquery y bootstrap -->
        <script src="{% static 'daylisoft/dashboard/js/jquery-1.10.2.min.js' %}"></script>
        <script src="{% static 'daylisoft/dashboard/js/bootstrap.min.js' %}" type="text/javascript"></script>
        <!-- Data Table  CSS y JS -->
        <link href="{% static 'daylisoft/dashboard/plugins/datatables/dataTables.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'daylisoft/dashboard/plugins/datatables/extras/buttons.bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'daylisoft/css/toastr.min.css' %}" rel="stylesheet">
        <link href="{% static 'daylisoft/sweetAlert/sweetalert.css' %}" rel="stylesheet">
        <script src="{% static 'daylisoft/dashboard/plugins/datatables/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'daylisoft/dashboard/plugins/datatables/dataTables.bootstrap.min2.js' %}"></script>
        <script src="{% static 'daylisoft/dashboard/plugins/datatables/extras/dataTables.buttons.min.js' %}"></script>
        <script src="{% static 'daylisoft/dashboard/plugins/datatables/extras/buttons.bootstrap.min.js' %}"></script>
        <script src="{% static 'daylisoft/dashboard/plugins/datatables/extras/jszip.min.js' %}"></script>
        <script src="{% static 'daylisoft/dashboard/plugins/datatables/extras/pdfmake.min.js' %}"></script>
        <script src="{% static 'daylisoft/dashboard/plugins/datatables/extras/vfs_fonts.js' %}"></script>
        <script src="{% static 'daylisoft/dashboard/plugins/datatables/extras/buttons.html5.min.js' %}"></script>
        <script src="{% static 'daylisoft/dashboard/plugins/datatables/extras/buttons.print.min.js' %}"></script>
        <script src="{% static 'daylisoft/dashboard/plugins/datatables/extras/buttons.colVis.min.js' %}"></script>
        <!-- Scripts admin y bootstrap-->
        <script src="{% static 'daylisoft/dashboard/js/admin.js' %}"></script>
        <script src="{% static 'daylisoft/dashboard/js/bootstrap-select.min.js' %}" type="text/javascript"></script>
        <!--Checkbox toogle-->
        <link href="{% static 'daylisoft/dashboard/plugins/bootstrap-toggle/bootstrap-toggle.min.css' %}" rel="stylesheet" type="text/css" />
        <script src="{% static 'daylisoft/dashboard/plugins/bootstrap-toggle/bootstrap-toggle.min.js' %}"></script>
        <!--Estilos a select-->
        <link href="{% static 'daylisoft/dashboard/plugins/select/select2.css' %}" rel="stylesheet" type="text/css" />
        <script src="{% static 'daylisoft/dashboard/plugins/select/select2.js' %}"></script>
        <!--Subida de imagenes-->
        <link href="{% static 'daylisoft/dashboard/plugins/imagen/css/fileinput.css' %}" rel="stylesheet" type="text/css" />
        <script src="{% static 'daylisoft/dashboard/plugins/imagen/js/fileinput.js' %}"></script>
        <!--Para los tags-->
        <script src="{% static 'daylisoft/dashboard/js/jquery-ui.min.js' %}" type="text/javascript" charset="utf-8"></script>
        <link href="{% static 'daylisoft/dashboard/plugins/tags/jquery.tagit.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'daylisoft/dashboard/css/jquery-ui.css' %}" rel="stylesheet" type="text/css" />
        <script src="{% static 'daylisoft/dashboard/plugins/tags/tag-it.js' %}" type="text/javascript" charset="utf-8"></script>
        <!--Raiting (estrellas)-->
        <link href="{% static 'daylisoft/dashboard/plugins/raiting/bootstrap-rating.css' %}" rel="stylesheet" type="text/css" />
        <script src="{% static 'daylisoft/dashboard/plugins/raiting/bootstrap-rating.js' %}"></script>
        <!-- Date and Time Picker CSS -->
        <link href="{% static 'daylisoft/dashboard/css/datepicker.css' %}" rel="stylesheet" type="text/css" />
        <script src="{% static 'daylisoft/dashboard/js/bootstrap-datepicker.js' %}" ></script>

        {% block estilos %}
        {% endblock estilos %}
    </head>
    <body class="skin-blue">
        <div class="wrapper">
            <header class="main-header">
                <!-- Logo -->
                <a href="{% url 'dashboard_app:url_inicio' %}" class="logo"><b>DayliSoft </b> Admin</a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">{% trans "Navegación" %}</span>
                    </a>
                    <div class="navbar-custom-menu pull-left">
                        <ul class="nav navbar-nav">
                            <li><a href="/"><i class="fa fa-chevron-circle-left"></i> {% trans "Inicio Daylisoft" %}</a></li>
                        </ul>
                    </div>
                    <!-- Inicio bloque para notificaciones -->
                    <div id="notificaciones_panel" class="navbar-custom-menu pull-right">
                        <ul class="nav navbar-nav">
                            <!--Inicio area notificacion productos bajo stock-->
                            <li class="dropdown messages-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-flag-o"></i>
                                    {% block notif_prod_numero %}{% endblock %}
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">{% trans "Productos por debajo del stock mínimo" %}</li>
                                    <li>
                                        <ul class="menu">
                                            {% block notif_prod_mensaje %}

                                            {% endblock %}
                                        </ul>
                                    </li>
                                    {% block notif_prod_ver %}{% endblock %}
                                </ul>
                            </li>
                            <!--Fin area notificacion productos bajo stock-->
                            <!--Inicio area notificacion pedidos pendientes-->
                            <li class="dropdown messages-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-bell-o"></i>
                                    {% block notif_pedido_numero %}{% endblock %}
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">{% trans "Estado de pedidos" %}</li>
                                    <li>
                                        <ul class="menu">
                                            {% block notif_pedidos_mensaje %}

                                            {% endblock %}
                                        </ul>
                                    </li>
                                    {% block notif_pedidos_ver %}{% endblock %}
                                </ul>
                            </li>
                            <!--Fin area notificacion pedidos pendientes-->
                            <!--Inicio boton cerrar sesion-->
                            <li>
                                <a href="{% url 'users_app:logout' %}" >
                                    <span class="glyphicon glyphicon-off"></span> {% trans "Cerrar sesión" %}
                                </a>
                            </li>
                            <!--Fin boton cerrar sesion-->
                        </ul>
                    </div>
                    <!--Fin bloque para notificaciones-->
                </nav>
            </header>
        <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <aside class="main-sidebar">
                        <!-- sidebar: style can be found in sidebar.less -->
                        <section class="sidebar">
                        <!-- Sidebar user panel -->
                            <div class="user-panel">
                                <div class="pull-left image">
                                    <img src="{% if user.us_avatar %}{{ user.us_avatar.url }}{% else %}{% static 'daylisoft/img/sin-imagen-user.png' %}{% endif %}" class="img-circle" />
                                </div>
                                <div class="pull-left info" style="padding-top: 15px">
                                    <p>{{ user.username|upper }}</p>
                                    <!--<a href="/" style="font-size: 12px"><i class="fa fa-chevron-circle-left"></i> {% trans "Inicio Daylisoft" %}</a>-->
                                </div>
                            </div>
                            <ul class='sidebar-menu'>
                                <li id="menu_inicio">
                                  <a href="{% url 'dashboard_app:url_inicio' %}"> <i class='fa fa-dashboard'></i><span>{% trans "Inicio" %}</span></a>
                                </li>
                                <li id="menu_productos" class='treeview'>
                                    <a href='#'> <i class='glyphicon glyphicon-th-large'></i><span>{% trans "Productos" %}</span> <i class='fa fa-angle-left pull-right'></i> </a>
                                    <ul class='treeview-menu'>
                                        <li id="menu_productos_agregar">
                                            <a href="{% url 'dashboard_app:url_form_agregar_producto' %}"> <i class='glyphicon glyphicon-plus'></i><span>{% trans "Agregar producto" %}</span></a>
                                        </li>
                                        <li id="menu_productos_administrar">
                                            <a href="{% url 'dashboard_app:url_listar_productos' %}"> <i class='glyphicon glyphicon-th-list'></i><span>{% trans "Administrar productos" %}</span></a>
                                        </li>
                                        <li id="menu_productos_cuarentena">
                                            <a href="{% url 'dashboard_app:url_productos_cuarentena' %}"> <i class='glyphicon glyphicon-trash'></i><span>{% trans "Productos en cuarentena" %}</span></a>
                                        </li>
                                        <li id="menu_productos_adicional" class='treeview'>
                                            <a href='#'> <i class='fa fa-sitemap'></i><span>{% trans "Adicional" %}</span> <i class='fa fa-angle-left pull-right'></i> </a>
                                            <ul class='treeview-menu'>
                                                <li id="menu_productos_imagenes_administrar">
                                                    <a href="{% url 'dashboard_app:url_listar_imagenes' %}"> <i class='fa fa-picture-o'></i><span>{% trans "Imágenes" %}</span></a>
                                                </li>
                                                <li id="menu_productos_ofertas_administrar">
                                                    <a href="{% url 'dashboard_app:url_listar_ofertas' %}"> <i class='fa fa-ship'></i><span>{% trans "Ofertas" %}</span></a>
                                                </li>
                                                <li id="menu_productos_tags_administrar">
                                                    <a href="{% url 'dashboard_app:url_listar_tags' %}"> <i class='fa fa-ticket'></i><span>{% trans "Etiquetas" %}</span></a>
                                                </li>
                                                <li id="menu_productos_reviews_administrar">
                                                    <a href="{% url 'dashboard_app:url_listar_reviews' %}"> <i class='fa fa-comments'></i><span>{% trans "Comentarios" %}</span></a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu_pedidos" class='treeview'>
                                    <a href='#'> <i class='glyphicon glyphicon-shopping-cart'></i><span>{% trans "Gestión de pedidos" %}</span> <i class='fa fa-angle-left pull-right'></i> </a>
                                    <ul class='treeview-menu'>
                                        <li id="menu_pedidos_administrar">
                                            <a href="{% url 'dashboard_app:url_listar_pedidos' %}"> <i class='glyphicon glyphicon-th-list'></i><span>{% trans "Administrar pedidos" %}</span></a>
                                        </li>
                                        <!--
                                        <li id="menu_pedidos_factura">
                                            <a href='order-manageinvoice.html'> <i class='glyphicon glyphicon-list-alt'></i><span>{% trans "Gestionar factura" %}</span></a>
                                        </li>-->
                                    </ul>
                                </li>
                                <li id="menu_clientes" class='treeview'>
                                    <a href='#'> <i class='glyphicon glyphicon-user'></i><span>{% trans "Gestión de usuarios" %}</span> <i class='fa fa-angle-left pull-right'></i> </a>
                                    <ul class='treeview-menu'>
                                        <li id="menu_clientes_agregar">
                                            <a href="{% url 'dashboard_app:url_form_agregar_cliente' %}"> <i class='glyphicon glyphicon-plus'></i><span>{% trans "Agregar usuario" %}</span></a>
                                        </li>
                                        <li id="menu_clientes_administrar">
                                            <a href="{% url 'dashboard_app:url_listar_clientes' %}"> <i class='glyphicon glyphicon-th-list'></i><span>{% trans "Administrar usuarios" %}</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu_proveedores" class='treeview'>
                                    <a href='#'> <i class='fa fa-truck'></i><span>{% trans "Gestión de proveedores" %}</span> <i class='fa fa-angle-left pull-right'></i> </a>
                                    <ul class='treeview-menu'>
                                        <li id="menu_proveedores_agregar">
                                            <a href="{% url 'dashboard_app:url_form_agregar_proveedor' %}"> <i class='glyphicon glyphicon-plus'></i><span>{% trans "Agregar proveedor" %}</span></a>
                                        </li>
                                        <li id="menu_proveedores_administrar">
                                            <a href="{% url 'dashboard_app:url_listar_proveedores' %}"> <i class='glyphicon glyphicon-th-list'></i><span>{% trans "Administrar proveedores" %}</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu_ajustes" class='treeview'>
                                    <a href='#'> <i class='fa fa-cogs'></i><span>{% trans "Ajustes" %}</span> <i class='fa fa-angle-left pull-right'></i> </a>
                                    <ul class='treeview-menu'>
                                        <li id="menu_ajustes_empresa">
                                            <a href="{% url 'dashboard_app:url_perfil_empresa' %}"> <i class='glyphicon glyphicon-briefcase'></i><span>{% trans "Perfil de la empresa" %}</span></a>
                                        </li>
                                        <li id="menu_ajustes_impuesto">
                                            <a href="{% url 'dashboard_app:url_listar_impuestos' %}"> <i class='glyphicon glyphicon-credit-card'></i><span>{% trans "Reglas de impuesto" %}</span></a>
                                        </li>
                                        <li id="menu_ajustes_transporte">
                                            <a href="{% url 'dashboard_app:url_listar_transporte' %}"> <i class='fa fa-truck'></i><span>{% trans "Transporte" %}</span></a>
                                        </li>
                                        <li id="menu_ajustes_categorias" class='treeview'>
                                            <a href='#'> <i class='glyphicon glyphicon-tasks'></i><span>{% trans "Categoría/Marcas" %}</span> <i class='fa fa-angle-left pull-right'></i> </a>
                                            <ul class='treeview-menu'>
                                                <li id="menu_ajustes_categorias_administrar">
                                                    <a href="{% url 'dashboard_app:url_listar_categorias_tabla' %}"> <i class='glyphicon glyphicon-indent-left'></i><span>{% trans "Administrar categorías" %}</span></a>
                                                </li>
                                                <li id="menu_ajustes_marcas_administrar">
                                                    <a href="{% url 'dashboard_app:url_listar_marcas' %}"> <i class='glyphicon glyphicon-tags'></i><span>{% trans "Administrar marcas" %}</span></a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li id="menu_ajustes_notificaciones" class='treeview'>
                                            <a href='#'> <i class='fa fa-bell'></i><span>{% trans "Notificaciones" %}</span> <i class='fa fa-angle-left pull-right'></i> </a>
                                            <ul class='treeview-menu'>
                                                <li id="menu_ajustes_notificaciones_stock">
                                                    <a href="{% url 'dashboard_app:url_listar_productos_bajo_stock' %}"> <i class='fa fa-desktop'></i><span>{% trans "Stock de productos" %}</span></a>
                                                </li>
                                                <li id="menu_ajustes_notificaciones_pedidos">
                                                    <a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}"> <i class='fa fa-cart-arrow-down'></i><span>{% trans "Pedidos" %}</span></a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu_reportes" class='treeview'>
                                    <a href='#'> <i class='fa fa-bar-chart'></i><span>{% trans "Reportes" %}</span> <i class='fa fa-angle-left pull-right'></i> </a>
                                    <ul class='treeview-menu'>
                                        <li id="menu_reportes_ventas">
                                            <a href='{% url "dashboard_app:url_reporte_ventas" %}'> <i class='fa fa-line-chart'></i><span>{% trans "Reporte de ventas" %}</span></a>
                                        </li>
                                        <li id="menu_reportes_compras">
                                            <a href='{% url "dashboard_app:url_reporte_compras" %}'> <i class='fa fa-pie-chart'></i><span>{% trans "Reporte de compras" %}</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li id="menu_campania" class='treeview'>
                                    <a href='#'> <i class='glyphicon glyphicon-send'></i><span>{% trans "Campaña Email" %}</span> <i class='fa fa-angle-left pull-right'></i> </a>
                                    <ul class='treeview-menu'>
                                        <li id="menu_campania_agregar">
                                            <a href="{% url 'dashboard_app:url_form_agregar_email' %}"> <i class='glyphicon glyphicon-envelope'></i><span>{% trans "Agregar campaña" %}</span></a>
                                        </li>
                                        <li id="menu_campania_administrar">
                                            <a href="{% url 'dashboard_app:url_listar_email' %}"> <i class='fa fa-outdent'></i><span>{% trans "Administrar campañas" %}</span></a>
                                        </li>
                                        <li id="menu_campania_historial">
                                            <a href="{% url 'dashboard_app:url_listar_historial_email' %}"> <i class='fa fa-history'></i><span>{% trans "Historial de campañas" %}</span></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </section>
                    </aside>
                </section>
            </aside>
            <div class="right-side">
                <br/>
                <!--Inicio bloc conenido-->
                <div class="container-fluid">
                    {% block contenido %}
                    {% endblock contenido %}
                </div>
                <br />
                <!--termina bloc conenido-->
            </div>

            <footer class="main-footer">
                <table border="0" width="100%">
                    <tr>
                        <td><strong>Copyright &copy; 2016 <a href="/">DayliSoft</a>.</strong> {% trans "Todos los derechos reservados" %}.</td>
                        <td align="right">
                            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                                <input name="next" type="hidden" value="/" />
                                {% get_language_info_list for LANGUAGES as lenguajes %}
                                <select id = "idiomas" class="selectpicker" data-width="fit" onchange="this.form.submit()" name="language">
                                {% for l in lenguajes %}
                                    <option data-content='<span class="flag-icon flag-icon-{% if l.code == "en" %}us{% else %}es{% endif %}"></span>
                                    {{ l.name_local |title }}' value="{{ l.code }}">{{ l.code | upper }}</option>

                                    {% if l.code == LANGUAGE_CODE %}
                                        <script>
                                            $('#idiomas').val("{{ l.code }}");
                                            $('#idiomas').selectpicker("refresh");
                                        </script>
                                    {% endif %}
                                {% endfor %}
                                </select>
                            </form>
                        </td>
                    </tr>
                </table>
            </footer>
        </div>

        <!--Modal estado pedido-->
        <div class="modal fade" id="modal_estado_pedido" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
                        <h4 class="modal-title" id="myModalLabel" style="font-weight: 600;">{% trans "Confirmación de pedido" %}</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" enctype="multipart/form-data" id="formulario_estado_pedido" name="formulario_estado_pedido" method="post" onsubmit="return false">{% csrf_token %}
                            <div class="box-body">
                                <!-- Fecha -->
                                <div class="form-group">
                                    <label>{% trans "Fecha de envío" %} <span class="required">*</span></label>
                                    <div class="input-group">
                                        <input type="text" value="{{ producto_editar.0.pro_oferta.0.ofer_fecha_fin|date:'Y/n/d' }}" class="form-control datepicker" data-date-format="yyyy/mm/dd" id="id_pedido_fecha" name="id_pedido_fecha" required>
                                        <div class="input-group-addon">
                                            <i class="entypo-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                                <!-- Estado -->
                                <div class="form-group">
                                    <label>{% trans "Cambiar estado" %}</label>
                                    <select id="id_estado_pedido" name="id_estado_pedido" class="form-control" style="width: 100%;">
                                        <option value="enviado">{% trans "Enviado" %}</option>
                                        <option value="pendiente">{% trans "Pendiente" %}</option>
                                        <option value="verificacion">{% trans "Verificación" %}</option>
                                        <option value="cancelado">{% trans "Cancelado" %}</option>
                                    </select>
                                </div>
                                <!-- Cod guia -->
                                {% trans "Código de guía" as i18n_codigo_guia %}
                                <div class="form-group">
                                    <label>{{ i18n_codigo_guia }} <span class="required">*</span></label>
                                    <input type="text" id="id_gui_pedido" name="id_gui_pedido" placeholder="{{ i18n_codigo_guia }}" class="form-control" style="width: 100%;">
                                </div>
                                <hr>
                                <div class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" href="#deposito">{% trans "Mostrar depósito" %}</a>
                                            </h4>
                                        </div>
                                        <div id="deposito" class="panel-collapse collapse">
                                            <ul class="list-group">
                                                <li class="list-group-item"><div align="center"><img width="350" id="deposito_ped_img"></div></li>
                                                <li class="list-group-item"><h3 align="center" id="deposito_ped_cod"></h3></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">{% trans "Cancelar" %}</button>
                                <button type="submit" onclick="cambiar_estado_pedido('{% url "dashboard_app:url_cambiar_estado_pedidos" %}')" class="btn bg-navy">{% trans "Guardar" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--Modal datos cliente-->
        <div class="modal fade" id="modal_datos_cliente" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
                        <h4 class="modal-title" id="myModalLabel" style="font-weight: 600;">{% trans "Datos del cliente y pedido" %}</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td class="active bg-navy" colspan="2" style="font-weight: 600;" align="center"><strong>{% trans "INFORMACIÓN DEL CLIENTE" %}</strong></td>
                                </tr>
                                <tr>
                                    <td class="active" style="width: 170px;"><strong>{% trans "Avatar" %}</strong></td>
                                    <td align="center"><img id="cli_ped_avatar" src="" width="150"></td>
                                </tr>
                                <tr>
                                    <td class="active"><strong>{% trans "Usuario" %}</strong></td>
                                    <td><strong id="cli_ped_usuario"></strong></td>
                                </tr>
                                <tr>
                                    <td class="active"><strong>{% trans "Nombre" %}</strong></td>
                                    <td><strong id="cli_ped_nombre"></strong></td>
                                </tr>
                                <tr>
                                    <td class="active"><strong>{% trans "Teléfono" %}</strong></td>
                                    <td><strong id="cli_ped_telefono"></strong></td>
                                </tr>
                                <tr>
                                    <td class="active"><strong>{% trans "Email" %}</strong></td>
                                    <td><strong id="cli_ped_email"></strong></td>
                                </tr>
                                <tr>
                                    <td class="active bg-navy" colspan="2" style="font-weight: 600;" align="center"><strong>{% trans "INFORMACIÓN DEL PEDIDO" %}</strong></td>
                                </tr>
                                <tr>
                                    <td class="active"><strong>{% trans "Fecha de envío" %}</strong></td>
                                    <td><strong id="cli_ped_fecha"></strong></td>
                                </tr>
                                <tr>
                                    <td class="active"><strong>{% trans "Dirección de envío" %}</strong></td>
                                    <td><strong id="cli_ped_direccion"></strong></td>
                                </tr>
                                <tr>
                                    <td class="active"><strong>{% trans "Ciudad de envío" %}</strong></td>
                                    <td><strong id="cli_ped_ciudad"></strong></td>
                                </tr>
                                <tr>
                                    <td class="active"><strong>{% trans "Código postal" %}</strong></td>
                                    <td><strong id="cli_ped_cod_postal"></strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- AdminLTE App -->
        <script src="{% static 'daylisoft/dashboard/js/jquery.validate.js' %}" type="text/javascript"></script>
        <script src="{% static 'daylisoft/dashboard/js/app.js' %}" type="text/javascript"></script>
        <script src="{% static 'daylisoft/dashboard/js/form-validation.js' %}" type="text/javascript"></script>
        <script src="{% static 'daylisoft/dashboard/plugins/graficos/Chart.min.js' %}" type="text/javascript"></script>
        <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>

        <!--Mensajes--->
        <script src="{% static 'daylisoft/js/toastr.min.js' %}"></script>
        <script src="{% static 'daylisoft/sweetAlert/sweetalert.min.js' %}"></script>
        <!--Eventos plantillas-->
        <script src="{% static 'daylisoft/dashboard/plugins/eventos/ajustes.js' %}"></script>
        <script src="{% static 'daylisoft/dashboard/plugins/eventos/productos.js' %}"></script>
        <script src="{% static 'daylisoft/dashboard/plugins/eventos/objetos.js' %}"></script>

        <script>
            $(document).ready(function() {
                $('#idiomas').selectpicker("refresh");
                $("#modal_estado_pedido").data("test", {id_pedido: "" });
            });
        </script>

        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>