{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block titulo %}{% trans "Bienvenido a la administración de Daylisoft" %}{% endblock titulo %}
{% block estilos %}
{% endblock estilos %}

<!--Notificacion de productos por debajo del stock-->
{% block notif_prod_numero %}
    {% if notif_stock|length > 0 %}
        <span class="label label-danger">{{ notif_stock|length }}</span>
    {% endif %}
{% endblock notif_prod_numero %}

{% block notif_prod_mensaje %}
    {% for p in notif_stock%}
        <li>
            <a href="{% url 'dashboard_app:url_form_editar_producto' id_prod=p.pro_id %}">
                <div class="pull-left">
                    <img src="{% if p.pro_imagen_principal %}
                    {% for i in p.pro_imagen_principal %}
                        {{ i.img_data.url }}
                    {% endfor %}
                    {% else %}{% static 'daylisoft/dashboard/img/no-imagen.png' %}{% endif %}" class="img-circle" />
                </div>
                <h4 style="padding-bottom:6px; font-weight: 600;">{{ p.pro_nombre|truncatechars:20 }} <span class="label label-danger">{% trans "Stock" %}: {{ p.pro_stock }}</span></h4>
                <p>{% trans "Categoría" %}: {{ p.categorias.cat_nombre}}</p>
            </a>
        </li>
    {% endfor %}
{% endblock notif_prod_mensaje %}

{% block notif_prod_ver %}
    {% if notif_stock %}
        <li class="footer"><a href="{% url 'dashboard_app:url_listar_productos_bajo_stock' %}">{% trans "Ver todas las notificaciones" %}</a></li>
    {% else %}
        <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
    {% endif %}
{% endblock %}

<!--Notificacion de pedidos pendientes-->
{% block notif_pedido_numero %}
    {% if notif_pedidos|length > 0 %}
        <span class="label label-warning">{{ notif_pedidos|length }}</span>
    {% endif %}
{% endblock notif_pedido_numero %}

{% block notif_pedidos_mensaje %}
    {% for p in notif_pedidos%}
        <li>
            <a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}">
                <h4 style="padding-bottom:6px">
                    {% trans "Cód:" %} {{ p.ped_id }} <small>{% trans "Cliente" %}:  {{ p.cliente.us_nombre }} {{ p.cliente.us_apellidos }}</small>
                </h4>
                <p style="padding-bottom:6px">$ {{ p.ped_total_pagar }}
                <span class="label label-{% if p.ped_estado == 'pendiente' %}warning{% else %}info{% endif %}" style="margin-left: 50px; font-size: 12px;">{{ p.ped_estado|capfirst }}</span></p>
            </a>
        </li>
    {% endfor %}
{% endblock notif_pedidos_mensaje %}

{% block notif_pedidos_ver %}
    {% if notif_pedidos %}
        <li class="footer"><a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}">{% trans "Ver todas las notificaciones" %}</a></li>
    {% else %}
        <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
    {% endif %}
{% endblock %}

{% block contenido %}
<section class="content">
    <div class="row">
        <div class="col-md-9">
            <div class="box">
                <div class="box-header box-header-background with-border">
                    <h3 class="box-title">{% trans "Reportes de venta" %}</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-10 col-sm-8">
                            <p class="text-center"><strong>{{ label_ventas }}</strong></p>
                            <div class="chart-responsive">
                                <canvas width="860" style="width: 860px; height: 190px;" id="salesChart" height="300"></canvas>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="pad box-pane-right bg-green" style="min-height: 280px">
                                <div class="description-block margin-bottom">
                                    <div class="sparkbar pad" data-color="#fff"><canvas height="30" width="34" style="display: inline-block; width: 34px; height: 30px; vertical-align: top;"></canvas></div>
                                    <h5 class="description-header">$ {{ parametros.0 }}</h5>
                                    <span class="description-text">INGRESOS TOTALES</span>
                                </div>
                                <div class="description-block margin-bottom">
                                    <div class="sparkbar pad" data-color="#fff"><canvas height="30" width="34" style="display: inline-block; width: 34px; height: 30px; vertical-align: top;"></canvas></div>
                                    <h5 class="description-header">$ {{ parametros.1 }}</h5>
                                    <span class="description-text">COSTOS TOTALES</span>
                                </div>
                                <div class="description-block">
                                    <div class="sparkbar pad" data-color="#fff"><canvas height="30" width="34" style="display: inline-block; width: 34px; height: 30px; vertical-align: top;"></canvas></div>
                                    <h5 class="description-header">$ {{ parametros.2 }}</h5>
                                    <span class="description-text">GANANCIAS</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            {% trans "Más información" as i18n_mas_informacion%}
            <div class="info-box bg-yellow">
                    <div class="info-box">
                        <span class="info-box-icon bg-blue"><i class="fa fa-desktop"></i></span>
                        <div class="info-box-content box-color">
                            <span class="info-box-text">{% trans "Productos" %}</span>
                            <span class="info-box-number">{{ productos|length }}</span>
                            <a href="{% url 'dashboard_app:url_listar_productos' %}" class="small-box-footer">{{ i18n_mas_informacion }} <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
            </div>
            <div class="info-box bg-green">
                <div class="info-box">
                    <span class="info-box-icon bg-olive"><i class="glyphicon glyphicon-shopping-cart"></i></span>
                    <div class="info-box-content box-color">
                        <span class="info-box-text">{% trans "Pedidos" %}</span>
                        <span class="info-box-number">{{ pedidos|length }}</span>
                        <a href="{% url 'dashboard_app:url_listar_pedidos' %}" class="small-box-footer">{{ i18n_mas_informacion }} <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="info-box bg-red">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="glyphicon glyphicon-list-alt"></i></span>
                    <div class="info-box-content box-color">
                        <span class="info-box-text">{% trans "Facturas" %}</span>
                        <span class="info-box-number">{{ facturas|length }}</span>
                        <a href="#" class="small-box-footer">{{ i18n_mas_informacion }} <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="info-box bg-aqua">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="fa fa-users"></i></span>
                    <div class="info-box-content box-color">
                        <span class="info-box-text">{% trans "Clientes" %}</span>
                        <span class="info-box-number">{{ clientes|length }}</span>
                        <a href="{% url 'dashboard_app:url_listar_clientes' %}" class="small-box-footer">{{ i18n_mas_informacion }} <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="box">
                <div class="box-header box-header-background with-border">
                    <h3 class="box-title">{% trans "Últimos pedidos" %}</h3>
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        {% if pedidos %}
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>{% trans "#" %}</th>
                                    <th>{% trans "Cliente" %}</th>
                                    <th>{% trans "Fecha" %}</th>
                                    <th>{% trans "Estado" %}</th>
                                    <th>{% trans "Total" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for p in pedidos %}
                                <tr><!--Mostrar 8 pedidos  label-warning -->
                                    <td><a href="{% url 'dashboard_app:url_ver_detalle_pedido' id_ped=p.ped_id %}" title="{% trans 'Ver detalles' %}" target="_blank">{{ forloop.counter}}</a></td>
                                    <td>{{ p.cliente.us_nombre }} {{ p.cliente.us_apellidos }}</td>
                                    <td>{{ p.ped_fecha_pedido }}</td>
                                    <td><span class="label label-{% if p.ped_estado == 'cancelado' %}danger{% elif p.ped_estado == 'verificacion' %}info{% elif p.ped_estado == 'enviado' %}{{ p.ped_estado }}{% else %}warning{% endif %}">{{ p.ped_estado|upper }}</span></td>
                                    <td>$ {{ p.ped_total_pagar }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <h4>{% trans 'No hay pedidos que mostrar' %}</h4>
                    {% endif %}
                    </div>
                </div>
                <div class="box-footer clearfix">
                    {% if pedidos %}
                    <a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}" class="btn btn-sm bg-light-blue btn-flat pull-left">{% trans "Atender pedidos" %}</a>
                    <a href="{% url 'dashboard_app:url_listar_pedidos' %}" class="btn btn-sm bg-purple btn-flat pull-right">{% trans "Ver todos los pedidos" %}</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header box-header-background with-border">
                    <h3 class="box-title">{% trans "Productos agregados recientemente" %}</h3>
                </div>
                <div class="box-body">
                    <!--Listar 5 productos-->
                    <ul class="products-list product-list-in-box">
                    {% if productos %}
                    {% for p in productos|slice:":5" %}
                        <li class="item">
                            <div class="product-img">
                                <img src="{% if p.pro_imagen_principal %}
                                {% for i in p.pro_imagen_principal %}
                                    {{ i.img_data.url }}
                                {% endfor %}
                                {% else %}{% static 'daylisoft/dashboard/img/no-imagen.png' %}{% endif %}" class="img-circle" />
                            </div>
                            <div class="product-info">
                                <span class="product-title">{{ p.pro_nombre }}<span class="label label-warning pull-right" style="font-size: 16px">${{ p.pro_precio }}</span></span>
                                <span class="product-description">{% trans "Categoría" %}: {{ p.categorias.cat_nombre }}</span>
                            </div>
                        </li>
                    {% endfor %}
                    {% else %}
                        <h4>{% trans 'No nay productos agregados' %}</h4>
                    {% endif %}
                    </ul>
                </div>
                <div class="box-footer text-center">
                    {% if productos %}
                        <a href="{% url 'dashboard_app:url_listar_productos' %}" class="uppercase">{% trans "Ver todos los productos" %}</a>
                    {% else %}
                        <a href="{% url 'dashboard_app:url_form_agregar_producto' %}" class="uppercase">{% trans "Agregar un producto" %}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(function () {
        // Get context with jQuery - using jQuery's .get() method.
        var salesChartCanvas = $("#salesChart").get(0).getContext("2d");
        // This will get the first returned node in the jQuery collection.
        var salesChart = new Chart(salesChartCanvas);
        var salesChartData = {
            labels: [
                {% for v in meses %}
                    "{{ v }}",
                {% endfor %}
            ],
            datasets: [{
                label: "Valores",
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                data: [
                    {% for v in valores %}
                        {{ v }},
                    {% endfor %}
                ]
            }]
        };

        var options = {
            animation: false,
            scaleLabel:
                function(label){return  ' $' + label.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");}
        };

        var salesChartOptions = {
            //Boolean - If we should show the scale at all
            showScale: true,
            //Boolean - Whether grid lines are shown across the chart
            scaleShowGridLines: true,
            //String - Colour of the grid lines
            scaleGridLineColor: "rgba(0,0,0,.05)",
            //Number - Width of the grid lines
            scaleGridLineWidth: 1,
            //Boolean - Whether to show horizontal lines (except X axis)
            scaleShowHorizontalLines: true,
            //Boolean - Whether to show vertical lines (except Y axis)
            scaleShowVerticalLines: true,
            //Boolean - Whether the line is curved between points
            bezierCurve: true,
            //Number - Tension of the bezier curve between points
            bezierCurveTension: 0.4,
            //Boolean - Whether to show a dot for each point
            pointDot: true,
            //Number - Radius of each point dot in pixels
            pointDotRadius: 4,
            //Number - Pixel width of point dot stroke
            pointDotStrokeWidth: 1,
            //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
            pointHitDetectionRadius: 20,
            //Boolean - Whether to show a stroke for datasets
            datasetStroke: true,
            //Number - Pixel width of dataset stroke
            datasetStrokeWidth: 2,
            //Boolean - Whether to fill the dataset with a color
            datasetFill: true,

            // String - Template string for single tooltips
            tooltipTemplate: "$ <%if (label)%><%= addCommas(value) %>",

            maintainAspectRatio: false,
            //Boolean - whether to make the chart responsive to window resizing
            responsive: true,

            scaleLabel:
                function(label){return  ' $' + label.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");}
        };

        //Create the line chart
        salesChart.Line(salesChartData, salesChartOptions);
    });

    function addCommas(nStr)
    {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }
</script>
{% endblock contenido %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#menu_inicio').addClass("active");
            $('#menu_inicio').children('a').removeAttr('href');

            //Muestra alerta en caso de existir notificaciones
            toastr.options = {
                "progressBar": true,
                "showDuration": "1500",
                "hideDuration": "8000",
                "timeOut": "11000",
                "extendedTimeOut": "15000",
                "closeButton": true,
            };
            {% if alerta_notificaciones %}
                toastr.info("{{ alerta_notificaciones }}.", '¡Atención!');
            {% endif %}
        });
    </script>
{% endblock scripts %}