{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block titulo %}{% trans "Daylisoft: Categorías de producto" %}{% endblock titulo %}
{% block estilos %}
{% endblock estilos %}

<!--Notificacion de productos por debajo del stock-->
{% block notif_prod_numero %}
    {% if notif_stock|length > 0 %}
        <span class="label label-danger">{{ notif_stock|length }}</span>
    {% endif %}
{% endblock notif_prod_numero %}

{% block notif_prod_mensaje %}
    {% for p in notif_stock%}
        <li>
            <a href="{% url 'dashboard_app:url_form_editar_producto' id_prod=p.pro_id %}">
                <div class="pull-left">
                    <img src="{% if p.pro_imagen_principal %}
                    {% for i in p.pro_imagen_principal %}
                        {{ i.img_data.url }}
                    {% endfor %}
                    {% else %}{% static 'daylisoft/dashboard/img/no-imagen.png' %}{% endif %}" class="img-circle" />
                </div>
                <h4 style="padding-bottom:6px; font-weight: 600;">{{ p.pro_nombre|truncatechars:20 }} <span class="label label-danger">{% trans "Stock" %}: {{ p.pro_stock }}</span></h4>
                <p>{% trans "Categoría" %}: {{ p.categorias.cat_nombre}}</p>
            </a>
        </li>
    {% endfor %}
{% endblock notif_prod_mensaje %}

{% block notif_prod_ver %}
    {% if notif_stock %}
        <li class="footer"><a href="{% url 'dashboard_app:url_listar_productos_bajo_stock' %}">{% trans "Ver todas las notificaciones" %}</a></li>
    {% else %}
        <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
    {% endif %}
{% endblock %}

<!--Notificacion de pedidos pendientes-->
{% block notif_pedido_numero %}
    {% if notif_pedidos|length > 0 %}
        <span class="label label-warning">{{ notif_pedidos|length }}</span>
    {% endif %}
{% endblock notif_pedido_numero %}

{% block notif_pedidos_mensaje %}
    {% for p in notif_pedidos%}
        <li>
            <a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}">
                <h4 style="padding-bottom:6px">
                    {% trans "Cód:" %} {{ p.ped_id }} <small>{% trans "Cliente" %}:  {{ p.cliente.us_nombre }} {{ p.cliente.us_apellidos }}</small>
                </h4>
                <p style="padding-bottom:6px">$ {{ p.ped_total_pagar }}
                <span class="label label-{% if p.ped_estado == 'pendiente' %}warning{% else %}info{% endif %}" style="margin-left: 50px; font-size: 12px;">{{ p.ped_estado|capfirst }}</span></p>
            </a>
        </li>
    {% endfor %}
{% endblock notif_pedidos_mensaje %}

{% block notif_pedidos_ver %}
    {% if notif_pedidos %}
        <li class="footer"><a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}">{% trans "Ver todas las notificaciones" %}</a></li>
    {% else %}
        <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
    {% endif %}
{% endblock %}

{% block contenido %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header box-header-background with-border">
                        <h3 class="box-title ">{% trans "Categorías de producto" %}</h3>
                    </div>
                    <div class="box-background">
                        <form id="formulario_producto_categoria" name="formulario_producto_categoria" role="form" enctype="multipart/form-data" method="post" onsubmit="return false;">{% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                    <div class="box-body">
                                        {% trans "Categoría" as i18n_nombre_categoria_producto%}
                                        {% trans "Subcategoría" as i18n_nombre_subcategoria_producto%}
                                        <div id="id_tipo_entrada_ui" class="form-group" align="center" style="display: none">
                                            <input id="tipo_entrada" type="checkbox" checked data-toggle="toggle" data-on="{{ i18n_nombre_categoria_producto }}" data-off="{{ i18n_nombre_subcategoria_producto }}" data-onstyle="warning" data-offstyle="info" data-width="110">
                                        </div>
                                        <!-- Categoria -->
                                        {% if categorias %}
                                        {% trans "Seleccione una categoría" as i18n_seleccione_categoria%}
                                        <div id="id_categoria_padre_ui" class="form-group" style="display: none">
                                            <label>{{ i18n_nombre_categoria_producto }}</label>
                                            <select id="id_categoria_padre" name="id_categoria_padre" style="width: 99%;">
                                                <option disabled value="0">{{ i18n_seleccione_categoria }}</option>
                                            </select>
                                        </div>
                                        {% endif %}
                                        <!-- Subcategoria -->
                                        <div class="form-group">
                                            <label id="label_categoria_padre">{{ i18n_nombre_categoria_producto }} </label><span class="required">*</span>
                                            <input id="id_categoria_hijo" name="id_categoria_hijo" type="text" placeholder="{{ i18n_nombre_categoria_producto }}" class="form-control" maxlength="30" required>
                                        </div>
                                        <!-- Descripcion-->
                                        {% trans "Descripción" as i18n_categoria_descripcion %}
                                        <div class="form-group">
                                            <label>{{ i18n_categoria_descripcion }}</label>
                                            <textarea style="resize: none; height: 90px" id="categoria_descripcion" name="categoria_descripcion" class="form-control autogrow" placeholder="{{ i18n_categoria_descripcion }}"></textarea>
                                        </div>
                                        <button onclick="ajus_agregar_categoria('{% url "dashboard_app:url_agregar_categoria" %}')" id="btn_guardar_categoria" type="submit" class="btn bg-light-blue">{% trans "Guardar" %}</button>
                                        <button type="button" onclick="ajus_cancelar_categoria()" class="btn btn-default">{% trans "Cancelar" %}</button><br/><br/><br/><br/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer"></div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <!-- Tabla -->
                            <table class="table table-bordered table-striped" id="tabla_categorias" cellspacing="0" width="100%">
                                <thead >
                                    <tr>
                                        <th class="active" style="width: 35px;">{% trans "Cód." %}</th>
                                        <th class="active">{% trans "Nombre de la categoría" %}</th>
                                        <th class="active" style="width: 50px;">{% trans "Acción" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for c in categorias %}
                                    <tr class="custom-tr">
                                        <td class="vertical-td">{{ c.cat_id }}</td>
                                        <td class="vertical-td">{{ c.cat_nombre }} {% if c.cat_id_padre_id > 0 %}, <span class="label label-waring"> {{ c.cat_id_padre.cat_nombre}}</span>{% endif %}</td>
                                        <td class="vertical-td">
                                            <div class="btn-group">
                                                <button onclick="ajus_cargar_categoria('{% url "dashboard_app:url_cargar_categoria" %}?id={{ c.cat_id }}', this)" class="btn bg-navy btn-xs" title="{% trans 'Editar' %}"><i class="glyphicon glyphicon-edit"></i></button>
                                                <button onclick="prod_eliminar_objetos('{% url "dashboard_app:url_eliminar_categoria" %}?id={{ c.cat_id }}', 'CC', 'tabla_categorias', this)" class="btn btn-danger btn-xs" title="{% trans 'Eliminar' %}"><i class="fa fa-trash-o"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock contenido %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            {% if categorias %}
                cargar_productos_select("{% url 'dashboard_app:url_cargar_categorias_select' %}", "{{ i18n_seleccione_categoria }}", "id_categoria_padre");
                $("#id_tipo_entrada_ui").show();
                $("#id_categoria_padre").val("0");
                $("#id_categoria_padre").select2({ selected: "0" });
            {% endif %}

            $('#menu_ajustes').addClass("active");
            $('#menu_ajustes_categorias').addClass("active");
            $('#menu_ajustes_categorias_administrar').addClass("active");
            $('#menu_ajustes_categorias_administrar').children('a').removeAttr('href');

            var table = $('#tabla_categorias').DataTable({
                lengthChange: false
            });

            //Toggle categoria-subcategoria
            $('#tipo_entrada').change(function() {
                if($(this).prop('checked') == true){
                    $('#id_categoria_padre_ui').hide();
                    $("#label_categoria_padre").text("Categoría");
                    $("#id_categoria_hijo").attr("placeholder", $("#label_categoria_padre").text())
                }else{
                    $('#id_categoria_padre_ui').show();
                    $("#label_categoria_padre").text("Sub-categoría");
                    $("#id_categoria_hijo").attr("placeholder", $("#label_categoria_padre").text())
                }
            });

            $("#menu_ajustes_categorias").data("test", {categoria_id: ""});
        });
    </script>
{% endblock scripts %}