{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load l10n %}
{% load staticfiles %}

{% block titulo %}{% trans "Daylisoft: Reglas de impuesto" %}{% endblock titulo %}
{% block estilos %}
{% endblock estilos %}

<!--Notificacion de productos por debajo del stock-->
{% block notif_prod_numero %}
    {% if notif_stock|length > 0 %}
        <span class="label label-danger">{{ notif_stock|length }}</span>
    {% endif %}
{% endblock notif_prod_numero %}

{% block notif_prod_mensaje %}
    {% for p in notif_stock%}
        <li>
            <a href="{% url 'dashboard_app:url_form_editar_producto' id_prod=p.pro_id %}">
                <div class="pull-left">
                    <img src="{% if p.pro_imagen_principal %}
                    {% for i in p.pro_imagen_principal %}
                        {{ i.img_data.url }}
                    {% endfor %}
                    {% else %}{% static 'daylisoft/dashboard/img/no-imagen.png' %}{% endif %}" class="img-circle" />
                </div>
                <h4 style="padding-bottom:6px; font-weight: 600;">{{ p.pro_nombre|truncatechars:20 }} <span class="label label-danger">{% trans "Stock" %}: {{ p.pro_stock }}</span></h4>
                <p>{% trans "Categoría" %}: {{ p.categorias.cat_nombre}}</p>
            </a>
        </li>
    {% endfor %}
{% endblock notif_prod_mensaje %}

{% block notif_prod_ver %}
    {% if notif_stock %}
        <li class="footer"><a href="{% url 'dashboard_app:url_listar_productos_bajo_stock' %}">{% trans "Ver todas las notificaciones" %}</a></li>
    {% else %}
        <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
    {% endif %}
{% endblock %}

<!--Notificacion de pedidos pendientes-->
{% block notif_pedido_numero %}
    {% if notif_pedidos|length > 0 %}
        <span class="label label-warning">{{ notif_pedidos|length }}</span>
    {% endif %}
{% endblock notif_pedido_numero %}

{% block notif_pedidos_mensaje %}
    {% for p in notif_pedidos%}
        <li>
            <a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}">
                <h4 style="padding-bottom:6px">
                    {% trans "Cód:" %} {{ p.ped_id }} <small>{% trans "Cliente" %}:  {{ p.cliente.us_nombre }} {{ p.cliente.us_apellidos }}</small>
                </h4>
                <p style="padding-bottom:6px">$ {{ p.ped_total_pagar }}
                <span class="label label-{% if p.ped_estado == 'pendiente' %}warning{% else %}info{% endif %}" style="margin-left: 50px; font-size: 12px;">{{ p.ped_estado|capfirst }}</span></p>
            </a>
        </li>
    {% endfor %}
{% endblock notif_pedidos_mensaje %}

{% block notif_pedidos_ver %}
    {% if notif_pedidos %}
        <li class="footer"><a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}">{% trans "Ver todas las notificaciones" %}</a></li>
    {% else %}
        <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
    {% endif %}
{% endblock %}

{% block contenido %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header box-header-background with-border">
                        <h3 class="box-title ">{% trans "Reglas de impuesto" %}</h3>
                    </div>
                    <div class="box-background">
                        <form id="formulario_ajustes_impuesto" name="formulario_ajustes_impuesto" role="form" enctype="multipart/form-data" method="post" onsubmit="return false;" novalidate>{% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                    <div class="box-body">
                                        {% trans "Nombre del impuesto" as i18n_nombre_impuesto%}
                                        <input id="ajustes_id_impuesto" name="ajustes_id_impuesto" type="hidden">
                                        <!-- Nombre -->
                                        <div class="form-group">
                                            <label>{{ i18n_nombre_impuesto }} </label><span class="required">*</span>
                                            <input id="ajustes_impuesto_nombre" name="ajustes_impuesto_nombre" type="text" placeholder="{{ i18n_nombre_impuesto }}" class="form-control" maxlength="100" required>
                                        </div>
                                        {% trans "Porcentaje (%)" as i18n_porcentaje_impuesto%}
                                        <!-- Porcentaje -->
                                        <div class="form-group">
                                            <label>{{ i18n_porcentaje_impuesto }} </label><span class="required">*</span>
                                            <input id="ajustes_impuesto_porcentaje" name="ajustes_impuesto_porcentaje" type="text" placeholder="{{ i18n_porcentaje_impuesto }}" class="form-control" maxlength="100" required>
                                        </div>
                                        <button id="btn_guardar_impuesto" type="submit" onclick="ajus_agregar_impuesto('{% url "dashboard_app:url_agregar_impuestos" %}')" class="btn bg-light-blue">{% trans "Guardar" %}</button>
                                        <button type="button" onclick="reset_formulario('formulario_ajustes_impuesto','ajustes_impuesto_nombre')" class="btn btn-default">{% trans "Cancelar" %}</button><br/><br/>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="box-footer"></div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <!-- Tabla -->
                            <table class="table table-bordered table-striped" id="tabla_impuesto" cellspacing="0" width="100%">
                                <thead >
                                    <tr>
                                        <th class="active">{% trans "Impuesto actual" %}</th>
                                        <th class="active">{% trans "Nombre del impuesto" %}</th>
                                        <th class="active">{% trans "Porcentaje" %}</th>
                                        <th class="active" style="width: 50px;">{% trans "Acción" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for i in impuesto %}
                                    <tr class="custom-tr">
                                        <td class="vertical-td">
                                            <div class="radio">
                                                <label><input onchange="ajus_impuesto_actual('{% url "dashboard_app:url_impuesto_actual" %}?id={{ i.imp_id }}')" type="radio" value="{{ i.imp_id }}" name="impuesto_actual" {% if i.imp_actual %}checked{% endif %}> {% trans "Seleccionar" %}</label>
                                            </div>
                                        </td>
                                        <td class="vertical-td">{{ i.imp_nombre}}</td>
                                        <td class="vertical-td">{{ i.imp_porcentaje|unlocalize}} %</td>
                                        <td class="vertical-td">
                                            <div class="btn-group">
                                                <button onclick="ajus_cargar_impuesto('{% url "dashboard_app:url_cargar_impuestos" %}', {{ i.imp_id }}, this)" class="btn bg-navy btn-xs" title="{% trans 'Editar' %}"><i class="glyphicon glyphicon-edit"></i></button>
                                                <button onclick="prod_eliminar_objetos('{% url "dashboard_app:url_eliminar_impuestos" %}?id={{ i.imp_id }}', 'IVA', 'tabla_impuesto', this)" class="btn btn-danger btn-xs" title="{% trans 'Eliminar' %}"><i class="fa fa-trash-o"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock contenido %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#menu_ajustes').addClass("active");
            $('#menu_ajustes_impuesto').addClass("active");
            $('#menu_ajustes_impuesto').children('a').removeAttr('href');

            var table = $('#tabla_impuesto').DataTable( {
                lengthChange: false,
                bSort: false
            });
        });
    </script>
{% endblock scripts %}
