{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block titulo %}{% trans "Daylisoft: Notificación de pedidos" %}{% endblock titulo %}
{% block estilos %}
{% endblock estilos %}

<!--Notificacion de productos por debajo del stock-->
{% block notif_prod_numero %}
    {% if notif_stock|length > 0 %}
        <span class="label label-danger">{{ notif_stock|length }}</span>
    {% endif %}
{% endblock notif_prod_numero %}

{% block notif_prod_mensaje %}
    {% for p in notif_stock%}
        <li>
            <a href="{% url 'dashboard_app:url_form_editar_producto' id_prod=p.pro_id %}">
                <div class="pull-left">
                    <img src="{% if p.pro_imagen_principal %}
                    {% for i in p.pro_imagen_principal %}
                        {{ i.img_data.url }}
                    {% endfor %}
                    {% else %}{% static 'daylisoft/dashboard/img/no-imagen.png' %}{% endif %}" class="img-circle" />
                </div>
                <h4 style="padding-bottom:6px; font-weight: 600;">{{ p.pro_nombre|truncatechars:20 }} <span class="label label-danger">{% trans "Stock" %}: {{ p.pro_stock }}</span></h4>
                <p>{% trans "Categoría" %}: {{ p.categorias.cat_nombre}}</p>
            </a>
        </li>
    {% endfor %}
{% endblock notif_prod_mensaje %}

{% block notif_prod_ver %}
    {% if notif_stock %}
        <li class="footer"><a href="{% url 'dashboard_app:url_listar_productos_bajo_stock' %}">{% trans "Ver todas las notificaciones" %}</a></li>
    {% else %}
        <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
    {% endif %}
{% endblock %}

<!--Notificacion de pedidos pendientes-->
{% block notif_pedidos_ver %}
    <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
{% endblock %}

{% block contenido %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header box-header-background with-border">
                        <h3 class="box-title ">{% trans "Pedidos a Daylisoft" %}</h3>
                        <div class="box-tools pull-right">
                            <div class="box-tools">
                                <div class="btn-group" role="group">
                                    <select style="height: 30px" id="id_filtrar_pedido" class="form-control" onclick="filtrar_pedidos('tabla_notificaciones_pedidos','id_filtrar_pedido')">
                                        <option selected value="">{% trans "Todos" %}</option>
                                        <option value="pendiente">{% trans "Pendiente" %}</option>
                                        <option value="verificacion">{% trans "En verificación" %}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered table-striped" id="tabla_notificaciones_pedidos">
                            <thead >
                            <tr>
                                <th class="active">{% trans "Cód." %}</th>
                                <th class="active">{% trans "Fecha de pedido" %}</th>
                                <th class="active">{% trans "Estado" %}</th>
                                <th class="active">{% trans "Total" %}</th>
                                <th class="active">{% trans "Cliente" %}</th>
                                <th class="active">{% trans "Transporte" %}</th>
                                <th class="active">{% trans "Acción" %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for p in notif_pedidos %}
                                <tr class="custom-tr">
                                    <td class="vertical-td">PED-{{ p.ped_id }}</td>
                                    <td class="vertical-td">{{ p.ped_fecha_pedido }}</td>
                                    <td class="vertical-td"><span class="label label-{% if p.ped_estado == 'verificacion' %}info{% else %}warning{% endif %}">{{ p.ped_estado|upper }}</span></td>
                                    <td class="vertical-td currency">$ {{ p.ped_total_pagar }}</td>
                                    <td class="vertical-td">{{ p.cliente.us_nombre }} {{ p.cliente.us_apellidos }}</td>
                                    <td class="vertical-td">{% if p.trans_id %}{{ p.trans_id.trans_nombre }}{% else %}{% trans "En el local" %}{% endif %}</td>
                                    <td class="vertical-td">
                                        <div class="btn-group">
                                            <a target="_blank" href="{% url 'dashboard_app:url_ver_detalle_pedido' id_ped=p.ped_id %}" title="{% trans 'Ver detalles' %}" class="btn btn-success btn-xs"><i class="glyphicon glyphicon-search"></i></a>
                                            <button onclick="abrir_modal_estado_pedido('{% url "dashboard_app:url_cargar_deposito" %}?id={{ p.ped_id }}', this)" title="{% trans 'Cambiar estado' %}" class="btn bg-navy btn-xs"><i class="glyphicon glyphicon-edit"></i></button>
                                            <button onclick="abrir_modal_datos_cliente('{% url "dashboard_app:url_cargar_ped_cliente" %}?id={{ p.ped_id }}')" title="{% trans 'Datos del cliente' %}" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-user"></i></button>
                                            <button onclick="prod_eliminar_objetos('{% url "dashboard_app:url_eliminar_pedido" %}?id={{ p.ped_id }}', 'PE', 'tabla_notificaciones_pedidos', this)" title="{% trans 'Eliminar pedido' %}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock contenido %}

{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#menu_ajustes').addClass("active");
            $('#menu_ajustes_notificaciones').addClass("active");
            $('#menu_ajustes_notificaciones_pedidos').addClass("active");
            $('#menu_ajustes_notificaciones_pedidos').children('a').removeAttr('href');

            var table = $('#tabla_notificaciones_pedidos').DataTable( {
                pageLength: 15,
                dom: 'Bfrtip',
                bSort: false,
                buttons: [
                    {
                        extend: 'print',
                        exportOptions: {columns: ':visible'}
                    },
                    {
                        extend: 'excel',
                        exportOptions: {columns: ':visible'}
                    },
                    {
                        extend: 'pdf',
                        exportOptions: {columns: ':visible'}
                    },
                    {
                        extend: 'copy',
                        exportOptions: {columns: ':visible'}
                    },
                    'colvis'
                ]
            } );
        });
    </script>
{% endblock scripts %}