{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load l10n %}
{% load staticfiles %}
{% load funciones %}

{% block titulo %}{% trans "Daylisoft: Detalle del pedido" %}{% endblock titulo %}
{% block estilos %}
    <link href="{% static 'daylisoft/dashboard/css/detalle_pedido.css' %}" rel="stylesheet" type="text/css" />
{% endblock estilos %}

<!--Notificacion de productos por debajo del stock-->
{% block notif_prod_numero %}
    {% if notif_stock|length > 0 %}
        <span class="label label-danger">{{ notif_stock|length }}</span>
    {% endif %}
{% endblock notif_prod_numero %}

{% block notif_prod_mensaje %}
    {% for p in notif_stock%}
        <li>
            <a href="{% url 'dashboard_app:url_form_editar_producto' id_prod=p.pro_id %}">
                <div class="pull-left">
                    <img src="{% if p.pro_imagen_principal %}
                    {% for i in p.pro_imagen_principal %}
                        {{ i.img_data.url }}
                    {% endfor %}
                    {% else %}{% static 'daylisoft/dashboard/img/no-imagen.png' %}{% endif %}" class="img-circle" />
                </div>
                <h4 style="padding-bottom:6px; font-weight: 600;">{{ p.pro_nombre|truncatechars:20 }} <span class="label label-danger">{% trans "Stock" %}: {{ p.pro_stock }}</span></h4>
                <p>{% trans "Categoría" %}: {{ p.categorias.cat_nombre}}</p>
            </a>
        </li>
    {% endfor %}
{% endblock notif_prod_mensaje %}

{% block notif_prod_ver %}
    {% if notif_stock %}
        <li class="footer"><a href="{% url 'dashboard_app:url_listar_productos_bajo_stock' %}">{% trans "Ver todas las notificaciones" %}</a></li>
    {% else %}
        <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
    {% endif %}
{% endblock %}

<!--Notificacion de pedidos pendientes-->
{% block notif_pedido_numero %}
    {% if notif_pedidos|length > 0 %}
        <span class="label label-warning">{{ notif_pedidos|length }}</span>
    {% endif %}
{% endblock notif_pedido_numero %}

{% block notif_pedidos_mensaje %}
    {% for p in notif_pedidos%}
        <li>
            <a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}">
                <h4 style="padding-bottom:6px">
                    {% trans "Cód:" %} {{ p.ped_id }} <small>{% trans "Cliente" %}:  {{ p.cliente.us_nombre }} {{ p.cliente.us_apellidos }}</small>
                </h4>
                <p style="padding-bottom:6px">$ {{ p.ped_total_pagar }}
                <span class="label label-{% if p.ped_estado == 'pendiente' %}warning{% else %}info{% endif %}" style="margin-left: 50px; font-size: 12px;">{{ p.ped_estado|capfirst }}</span></p>
            </a>
        </li>
    {% endfor %}
{% endblock notif_pedidos_mensaje %}

{% block notif_pedidos_ver %}
    {% if notif_pedidos %}
        <li class="footer"><a href="{% url 'dashboard_app:url_listar_pedidos_pendientes' %}">{% trans "Ver todas las notificaciones" %}</a></li>
    {% else %}
        <li class="footer"><a href="#">{% trans "Sin notificaciones que mostrar" %}</a></li>
    {% endif %}
{% endblock %}

{% block contenido %}
    <div class="box box-primary">
        <div class="box-header box-header-background with-border">
            {% if ruta %}
                <a href="{{ ruta }}" style="color: #ffffff" title="{% trans 'Regresar' %}"><i class="fa fa-chevron-left fa-lg"></i></a>
            {% endif %}
            <h3 class="box-title">{% trans "Detalle del pedido" %}</h3>
            <div class="box-tools pull-right">
                <div class="box-tools">
                    <div class="btn-group" role="group">
                        <a onclick="print_invoice('ped_detalle_impresion')" style="height: 30px" class="btn btn-default ">{% trans "Imprimir" %}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-body">
            <div id="ped_detalle_impresion">
                <div class="row ">
                    <div class="col-md-10 col-md-offset-1">
                        <header class="clearfix">
                            <img width="130px" src="{{ empresa.per_logo.url }}" title="{{ empresa.per_nombre }}">
                            <div id="invoice">
                                <h3 style="color: #00a7d0">PED-{{ detalle.ped_id }}</h3>
                                <div class="date">{% trans "Fecha del pedido" %}: {{ detalle.ped_fecha_pedido|date:"j M Y" }}</div>
                                <div class="date">{% trans "Cliente" %}: {{ detalle.cliente.us_nombre }} {{ detalle.cliente.us_apellidos }}</div>
                                <div class="date">{% trans "Estado del pedido" %}:
                                    <span class="label label-{% if detalle.ped_estado == 'cancelado' %}danger{% elif detalle.ped_estado == 'verificacion' %}primary{% elif detalle.ped_estado == 'enviado' %}{{ detalle.ped_estado }}{% else %}warning{% endif %}">{{ detalle.ped_estado|capfirst }}</span>
                                </div>
                            </div>
                        </header>
                        <hr>
                        <main>
                            <table border="0" cellspacing="0" cellpadding="0">
                                <thead>
                                    <tr>
                                        <th class="no text-right">#</th>
                                        <th class="desc">{% trans "DESCRIPCIÓN" %}</th>
                                        <th class="unit text-right">{% trans "PRECIO UNIT" %}.</th>
                                        <th class="qty text-right">{% trans "CANT" %}.</th>
                                        <th class="qty text-right">{% trans "DESC" %}.</th>
                                        <th class="total text-right ">{% trans "TOTAL" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in items %}
                                    <tr>
                                        <td class="no">{{ forloop.counter }}</td>
                                        <td class="desc"><h3>{{ i.pro_id.pro_nombre }}</h3></td>
                                        <td class="unit">{{ i.precio_unit|unlocalize }}</td>
                                        <td class="qty">{{ i.cantidad }}</td>
                                        <td class="qty">{{ i.descuento|unlocalize }}</td>
                                        <td class="total">{{ i.total_pagar|unlocalize }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="3"></td>
                                        <td colspan="2">{% trans "SUBTOTAL" %}</td>
                                        <td>{{ detalle.ped_total_pagar|dividir:detalle.ped_iva|unlocalize }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"></td>
                                        <td colspan="2">{% trans "IVA" %} ({{ detalle.ped_iva|unlocalize }} %)</td>
                                        <td>{{ detalle.ped_total_pagar|multiplicar:detalle.ped_iva|unlocalize }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"></td>
                                        <td colspan="2">{% trans "TOTAL " %}</td>
                                        <td>$ {{ detalle.ped_total_pagar|unlocalize }}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </main>
                        <hr>
                        <div class="text-center">
                            {{ empresa.per_direccion }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}

{% block scripts %}
    <script type="text/javascript">
    $(document).ready(function() {
            $('#menu_pedidos').addClass("active");
            $('#menu_pedidos_administrar').addClass("active");
            $('#menu_pedidos_administrar').children('a').removeAttr('href');
    });
    </script>
{% endblock scripts %}