<!DOCTYPE html>
<html>

<head>
    {% load static %}
    {% load extras_tags %}
    <meta name="google-site-verification" content="4WgH8aOZxb9QTH_aR5zQAONOVCQ3HX53WseQ29Zjg-M" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/static/daylisoft/img/logito.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/static/daylisoft/img/apple_icons_57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/daylisoft/img/apple_icons_72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/daylisoft/img/apple_icons_114x114.png">
    <title>DayliSoft | JHC Solutions</title>
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,100,400italic,700,500,900" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Nothing+You+Could+Do" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/daylisoft/css/bootstrap.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/daylisoft/css/theme.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/daylisoft/css/revslider.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/daylisoft/css/custom.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/daylisoft/css/toastr.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/daylisoft/sweetAlert/sweetalert.css">
    <style type="text/css">
        .input-group-addon {
            padding: 6px 12px;
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            color: #f3fafc;
            text-align: center;
            background-color: #22a1c4;
            border: 1px solid #9ba1ac;
            border-radius: 4px;
        }
    </style>
    {% block css %}{% endblock css %}

</head>
<body>
    <div class="main_header type1">
        <div class="tagline">
            <div class="container">
                <div class="fright">
                    <div class="tagline_items">
                        {% if user.is_authenticated %}
                            {% if user.is_superuser %}
                                <div class="log_in_out"><a href="/dashboard/"><i class="icon-user"></i> Hola {{ user.username|capfirst }}</a></div>
                            {% else %}
                                <div class="log_in_out"><a href="#"><i class="icon-user"></i> Hola {{ user.username|capfirst }}</a></div>
                            {% endif %}
                        <div class="log_in_out"><a id="menu_pedidos" href="/shop/pedidos"><i class="icon-shopping-cart"></i> Pedidos</a></div>
                        <div class="log_in_out"><a href="/user/salir"><i class="icon-sign-out"></i> Salir</a></div>
                        {% else %}
                        <div class="log_in_out"><a href="javascript:void(0);" onclick="modalReg();" data-target=".login_popup"><i class="icon-sign-in"></i> Login</a></div>
                        {% endif %}
                        <!-- Modal inicio de sesion -->
                        <div id="modalReg" class="modal fade login_popup" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <h3>Iniciar Sesión</h3>
                                    <div class="row">
                                        <div id="cuentaNoActiva" class="col-sm-12 module_cont pb20 module_messageboxes fadeInRight hide" data-anim-type="fadeInRight" data-anim-delay="250">
                                            <div class="module_content shortcode_messagebox box_type3">
                                                <div class="box_content">
                                                    <p><span class="box_icon"><i class="icon-exclamation"></i></span>Su cuenta aun no ha sido activada, por favor revise su correo.</p>
                                                </div>
                                                <a class="box_close" href="javascript:void(0)"><i class="icon-times"></i></a>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        <div id="noCuentaReg" class="col-sm-12 module_cont pb20 module_messageboxes fadeInRight hide" data-anim-type="fadeInRight" data-anim-delay="250">
                                            <div class="module_content shortcode_messagebox box_type5">
                                                <div class="box_content">
                                                    <p><span class="box_icon"><i class="icon-warning"></i></span>La cuenta con la que intenta ingresar no esta registrada.</p>
                                                </div>
                                                <a class="box_close" href="javascript:void(0)"><i class="icon-times"></i></a>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <form id="form_login">{% csrf_token %}

                                        <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-male"></i>
                                                    </span>
                                                    <input class="form-control" type="text" placeholder="Usuario*" value="" name="name" id="txt_username">
                                                </div>
                                        </div>

                                        <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-unlock-alt"></i>
                                                    </span>
                                                    <input class="form-control password_event" data-toggle="password" type="password" placeholder="Contraseña*" value="" name="password" id="txt_pass">
                                                </div>
                                        </div>

                                        <input type="submit" value="Ingresar">
                                        <div><a href="javascript:void(0)" onclick="modalReceteo();">Olvidé mi contraseña</a></div>
                                    </form>
                                    <div class="forgot_password"></div>
                                    <div>¿No dispone de una cuenta? <a href="javascript:void(0)" onclick="modalRegistro();">Cree una aquí</a></div>
                                    <button type="button" class="close_popup" data-dismiss="modal"><i class="icon-times"></i></button>
                                </div>
                            </div>
                        </div>
                        <!-- Modal receteo de contraseña -->
                        <div id="modalRes" class="modal fade login_popup" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <h3>Resetear Contraseña</h3>
                                    <div class="row">
                                        <div id="msg-no-mail" class="col-sm-12 module_cont pb20 module_messageboxes fadeInRight hide" data-anim-type="fadeInRight" data-anim-delay="250">
                                            <div class="module_content shortcode_messagebox box_type5">
                                                <div class="box_content">
                                                    <p><span class="box_icon"><i class="icon-warning"></i></span>Lo sentimos no tenemos una cuenta registrada con el email ingresado.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div id='msg-envio' class="module_cont pb20 module_messageboxes animate fadeInLeft hide" data-anim-type="fadeInLeft" data-anim-delay="250">
                                            <div class="module_content shortcode_messagebox box_type4">
                                                <div class="box_content">
                                                    <p><span class="box_icon"><i class="icon-thumbs-o-up"></i></span>Su proceso a sido completado con exito!, por favor diríjase a su correo para resetar su contraseña.</p>
                                                </div>
                                                <a class="box_close" href="javascript:void(0)"><i class="icon-times"></i></a>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        <center><i id="espera-reseteo" class="hide fa fa-spinner fa-pulse fa-3x fa-fw"></i><br></center>
                                    </div>
                                    <form id="form_res">{% csrf_token %}
                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-envelope"></i>
                                                </span>
                                                <input class="form-control" type="email" placeholder="Email*" value="" name="email" id="email_res" required>
                                            </div>
                                        </div>
                                        <div class="forgot_password"></div>
                                        <center><input type="submit" value="Resetear Contraseña"></center>
                                    </form>
                                    <button type="button" class="close_popup" data-dismiss="modal"><i class="icon-times"></i></button>
                                </div>
                            </div>
                        </div>

                        <!-- Modal registro de usuario -->
                        <div id="modalRegistro" class="modal fade login_popup" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <h3>Crear nueva cuenta</h3>
                                    <div class="row">
                                        <div id='msg' class="module_cont pb20 module_messageboxes animate fadeInLeft hide" data-anim-type="fadeInLeft" data-anim-delay="250">
                                            <div class="module_content shortcode_messagebox box_type4">
                                                <div class="box_content">
                                                    <p><span class="box_icon"><i class="icon-thumbs-o-up"></i></span>Su cuenta ha sido creada, por favor revise su bandeja de entrada, se le enviará un correo para su activación.</p>
                                                </div>
                                                <a class="box_close" href="javascript:void(0)"><i class="icon-times"></i></a>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                        <center><i id="espera" class="hide fa fa-spinner fa-pulse fa-3x fa-fw"></i><br></center>
                                    </div>
                                        <form id="form_registro" class="m-t" role="form">{% csrf_token %}
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                @
                                                            </span>
                                                            <input type="text" class="form-control" placeholder="Nombre de usuario" name="username" required="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">

                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-envelope"></i>
                                                            </span>
                                                            <input type="email" class="form-control" placeholder="Email" name="email" required="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-male"></i>
                                                            </span>
                                                            <input type="text" class="form-control" placeholder="Nombre" name="nombre" required="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-fax"></i>
                                                            </span>
                                                            <input type="text" class="form-control" placeholder="Teléfono o móvil" name="telf" required="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-male"></i>
                                                            </span>
                                                            <input type="text" class="form-control" placeholder="Apellido" name="apellido" required="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <i class="fa fa-unlock-alt"></i>
                                                            </span>
                                                            <input id="password" type="password" data-toggle="password" class="form-control password_event" placeholder="Contraseña" name="cont" required="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="checkbox i-checks">
                                                    <label>
                                                        <input type="checkbox" required=""><i></i> Estoy de acuerdo a los terminos y servicios. </label>
                                                </div>
                                            </div>
                                            <div class="forgot_password"></div>
                                            <input type="submit" value="Registrarse">
                                        </form>
                                    <button type="button" class="close_popup" data-dismiss="modal"><i class="icon-times"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="fleft">
                    <div class="email hidden-xs"><a href="mailto:#"><i class="icon-envelope"></i>daylisoft@gmail.com</a></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="header_parent_wrap">
            <header>
                <div class="container">
                    <a class="top_menu_toggler" href="javascript:void(0)"></a>
                    <div class="logo_sect">
                        <a href="/" class="logo">
                            <img src="/static/daylisoft/img/logo2.png" class="logo_def" alt="" style="width: 190px;" />
                            <img src="/static/daylisoft/img/logo2.png" class="logo_retina" alt="" style="width: 150px;"/>
                            <br>
                            <span style="float: right;font-weight: bold;">by JHC Solutions</span>
                        </a>
                    </div>
                    <nav>
                        <ul class="menu">
                            <li id="menu_inicio" class="menu-item-has-children"><a href="/">Inicio</a></li>
                            <li id="menu_paginas" class="menu-item-has-children"><a href="#">Páginas</a>
                                <div class="sub-nav">
                                    <ul class="sub-menu">
                                        <li><a href="/portal/quienesSomos/">Quienes Somos</a></li>
                                        <li><a href="/portal/galeria/">Galería</a></li>
<!--                                        <li><a href="/proyectos/inicio/">Trabajos</a></li>-->
                                    </ul>
                                </div>
                            </li>
                            <li id="menu_servicios" class="menu-item"><a href="/portal/servicios/">Servicios</a></li>
                            <li id="menu_blog" class="menu-item-has-children"><a href="/blog/categoria/ver">Blog</a></li>
                            <li id="menu_compras" class="menu-item"><a href="/shop/productos/">Compras</a></li>
                            <li id="menu_contactenos" class="menu-item-has-children"><a href="/portal/contacto/">Contáctenos</a></li>
                        </ul>
                    </nav>
                    <div class="clear"></div>
                </div>
            </header>
        </div>
    </div>
    {% block content %}{% endblock content %}
    <div class="footer">
        <div class="container">
            <div class="pre_footer">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="sidepanel widget_text">
                            <h4 class="title">Contáctenos</h4>
                            <p>Daylisoft / JHC Solutions es una empresa tecnológica que ofrece soluciones informáticas</p>
                            <p><span>Teléfono:</span> <a href="tel:0990171512">+593 990171512</a></p>
                            <p><span>Dirección:</span> Quito, Ecuador</p>
                            <p><span>Email:</span> <a href="mailto:#">daylisoft@gmail.com</a></p>
                            <div class="footer_socials">
                                <ul>
                                    <li><a href="https://www.facebook.com/daylisoft/" class="soc_fb"><i class="icon-facebook"></i></a></li>
                                    <li><a href="https://twitter.com/daylisoft" class="soc_tweet"><i class="icon-twitter"></i></a></li>
                                    <li><a href="https://plus.google.com/u/0/109232023950965083720" class="soc_google"><i class="icon-google-plus"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/dayli-soft-b8715a12a" class="soc_linkedin"><i class="icon-linkedin"></i></a></li>
                                    <li><a href="https://instagram.com/daylisoft" title="Instagram" class="soc_instagram"><i class="icon-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-sm-6">
                        <div class="sidepanel widget_posts">
                            <h4 class="title">Publicaciones Recientes</h4>
                            <ul class="recent_posts">
                            {% for objeto in var|ultimosComentarios %}
                                <li class="with_img">
                                <div class="recent_posts_content">
                                    {% if objeto.images.all.count > 0 %}
                                        {% for img in objeto.images.all %}
                                            {% if  forloop.counter  = objeto.images.all.count %}
                                                <img src="{{img.img_imagen.url}}" alt="" />
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <img src="/static/daylisoft/img/sin-imagen.png" alt="">
                                    {% endif %}
                                    <a href="/blog/categoria/{{objeto.ent_categoria.cat_nombre}}/{{objeto.ent_id}}" class="title">{{objeto.ent_titulo}}</a>
                                    <div class="recent_posts_info">{{objeto.ent_fecha}} /  <a href="/blog/categoria/{{objeto.ent_categoria.cat_nombre}}/{{objeto.ent_id}}">{{objeto.comentarios.all.count}} comments</a></div>
                                </div>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>-->
                    <!--<div class="col-sm-3">
                        <div class="sidepanel widget_twitter">
                            <h4 class="title">Últimos Twitts</h4>
                            <div class="tweet_module">
                                <div class="block social-block social-twitter">
                                    <ul class="recent_posts">
                                    {% for tweet in var|get_tweets %}
                                        <li class="with_img">
                                            <div class="recent_posts_content">
                                                {% if tweet.media.0.media_url_https = None %}
                                                    <a href="https://www.twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id }}" target="_blank" class="title"><img src="/static/daylisoft/img/logo.png" width="" height="32" /></a>
                                                {% else %}
                                                    <a href="{{ tweet.media.0.url }}" target="_blank"><img src="{{ tweet.media.0.media_url_https }}" width="" height="32" /></a>
                                                {% endif %}
                                                <a href="https://www.twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id }}" target="_blank" class="title">{{ tweet|urlize_tweet_text|safe }}</a>
                                                <div class="recent_posts_info">{{ tweet.created_at|twitter_date }}</div>
                                            </div>
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <!--<div class="col-sm-3">
                        <div class="sidepanel widget_review">
                            <h4 class="title">Última Revisión</h4>
                            <div class="last_review">
                                <div class="fb-post" data-href="https://www.facebook.com/daylisoft/posts/1064133273623833" data-width="350" data-show-text="false"><blockquote cite="https://www.facebook.com/daylisoft/posts/1064133273623833:0" class="fb-xfbml-parse-ignore"><p>&#xbf;Un m&#xf3;vil controlado por la vista?

Investigadores del MIT desarrollan un programa para controlar el &#xab;smartphone&#xbb; con...</p>Posted by <a href="https://www.facebook.com/daylisoft/">DayliSoft</a> on&nbsp;<a href="https://www.facebook.com/daylisoft/posts/1064133273623833:0">viernes, 8 de julio de 2016</a></blockquote></div>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
            <div class="footer_bottom">
                <div class="copyright">Copyright {% now 'Y' %}. Todos los derechos reservados by Daylisoft / JHC Solutions.</div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="fixed-menu"></div>
    <script type="text/javascript" src="/static/daylisoft/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/daylisoft/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/daylisoft/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/daylisoft/js/modules.js"></script>
    <script type="text/javascript" src="/static/daylisoft/js/theme.js"></script>
    <script type="text/javascript" src="/static/daylisoft/js/color_panel.js"></script>
    <script type="text/javascript" src="/static/daylisoft/js/jquery.themepunch.plugins.min.js"></script>
    <script type="text/javascript" src="/static/daylisoft/js/jquery.themepunch.revolution.min.js"></script>
    <!-- Toastr script -->
    <script src="/static/daylisoft/sweetAlert/sweetalert.min.js"></script>
    <script src="/static/daylisoft/js/toastr.min.js"></script>
    <script src="/static/daylisoft/js/bootstrap-show-password.js"></script>
    <script src="/static/js/users.js"></script>
    {% block js %}{% endblock js %}
    <script type="text/javascript">
    // document.oncontextmenu = function(){return false;}
    </script>
    <script type="text/javascript">
    document.onload = inicio();
    function inicio() {
        $('.password_event').password('toggle');
        {% if messages %}
            {% for msg in messages %}
                {% if msg.tags == 'success' %}
                    toastr.options={"progressBar": true}
                    toastr.success('{{ msg }}','Estado')
                {% else %}
                    {% if msg.tags == 'warning' %}
                        toastr.options={"progressBar": true ,"showDuration": "500", "hideDuration": "3000", "timeOut": "10000","extendedTimeOut": "3000"}
                        toastr.warning('{{ msg }}','Estado')
                    {% else %}
                        toastr.options={"progressBar": true}
                        toastr.error('{{ msg }}','Estado')
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    }
    jQuery(document).ready(function() {
        "use strict";
        jQuery('.fullscreen_slider').show().revolution({
            delay: 5000,
            startwidth: 1170,
            startheight: 765,
            fullWidth: "off",
            fullScreen: "on",
            navigationType: "bullet",
            fullScreenOffsetContainer: ".main_header",
            fullScreenOffset: ""
        });
    });

    $('#form_login').on("submit",function(){
        $('#noCuentaReg').removeClass('show');
        $('#cuentaNoActiva').removeClass('show');
        event.preventDefault();
        $.ajax({
            type:"POST",
            url: "/user/login/",
            dataType: 'json',
            data:$(this).serialize(),
            success: function(response){
                if(response.msg === 'ok'){
                    location.href='/';
                }else if (response.msg === 'noActivo'){
                    $('#cuentaNoActiva').addClass('show');
                }else{
                    $('#noCuentaReg').addClass('show');
                }
            },

            error: function(){
                console.log('Error');
            }
        });
    });
    </script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82803118-1', 'auto');
  ga('send', 'pageview');

</script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '573156632868467',
      xfbml      : true,
      version    : 'v2.8'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<script>
$.fn.extend({
    treed: function (o) {

      var openedClass = 'glyphicon-minus-sign';
      var closedClass = 'glyphicon-plus-sign';
      var sinHijos = 'glyphicon-minus-sign';

      if (typeof o != 'undefined'){
        if (typeof o.openedClass != 'undefined'){
        openedClass = o.openedClass;
        }
        if (typeof o.closedClass != 'undefined'){
        closedClass = o.closedClass;
        }
      };

        //initialize each of the top levels
        var tree = $(this);
        tree.addClass("tree");
        tree.find('li').has("ul").each(function () {
            var branch = $(this); //li with children ul
            branch.prepend("<i class='indicator glyphicon " + closedClass + "'></i>");
            branch.addClass('branch');
            branch.on('click', function (e) {
                if (this == e.target) {
                    var icon = $(this).children('i:first');
                    icon.toggleClass(openedClass + " " + closedClass);
                    $(this).children().children().toggle();
                }
            })
            branch.children().children().toggle();
        });
        //fire event from the dynamically added icon
      tree.find('.branch .indicator').each(function(){
        $(this).on('click', function () {
            $(this).closest('li').click();
        });
      });
        //fire event to open branch if the li contains an anchor instead of text
        tree.find('.branch>a').each(function () {
            $(this).on('click', function (e) {
                // $(this).closest('li').click();
                // e.preventDefault();
            });
        });
        //fire event to open branch if the li contains a button instead of text
        tree.find('.branch>button').each(function () {
            $(this).on('click', function (e) {
                $(this).closest('li').click();
                e.preventDefault();
            });
        });
    }
});

//Initialization of treeviews

$('#tree1').treed();

$('#tree2').treed({openedClass:'glyphicon-folder-open', closedClass:'glyphicon-folder-close'});
//
$('#tree3').treed({openedClass:'glyphicon-chevron-right', closedClass:'glyphicon-chevron-down'});
</script>
</body>

</html>
