{% extends "base.html" %} {% load static %} {% block css %} {% endblock css %} {% block content %}
<div class="wrapper">
    <div class="container">
        <div class="content_block row no-sidebar">
            <div class="fl-container">
                <div class="posts-block">
                    <div class="contentarea">
                        <!-- Slider -->
                        <div class="fw_block bg_start wall_wrap">
                            <div class="row">
                                <div class="col-sm-12 first-module module_slider module_cont pb0">
                                    <div class="slider_container">
                                        <div class="fullscreen_slider slider_bg">
                                            <ul>
                                                <!-- SLIDE 1 -->
                                                <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                                                    <img src="/static/daylisoft/img/slider/transparent.png" alt="slide1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" />
                                                    <!-- LAYER NR. 1 -->
                                                    <div class="tp-caption lfb ltb tp-resizeme slide_img slide_left_img" data-x="0" data-y="0" data-speed="800" data-start="700" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn"><img src="/static/daylisoft/img/slider/chair_left.png" alt="" />
                                                    </div>
                                                    <!-- LAYER NR. 2 -->
                                                    <div class="tp-caption lfb ltb tp-resizeme slide_img slide_right_img" data-x="0" data-y="0" data-speed="1000" data-start="1200" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn"><img src="/static/daylisoft/img/slider/chair_right.png" alt="" />
                                                    </div>
                                                    <!-- LAYER NR. 3 -->
                                                    <div class="tp-caption lft ltt tp-resizeme slide_title slide_info_center" data-x="0" data-y="214" data-speed="600" data-start="1200" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power4.easeIn">Trabajo de nuestra vida!
                                                    </div>
                                                    <!-- LAYER NR. 4 -->
                                                    <div class="tp-caption lfb ltb tp-resizeme slide_descr slide_info_center" data-x="0" data-y="351" data-speed="600" data-start="1200" data-easing="Power4.easeOut" data-endspeed="600" data-endeasing="Power4.easeIn">Ponemos nuestros corazones y almas en la fabricación de cada proyecto.
                                                        <br>No asumimos lo mejor que pueda ser.
                                                    </div>
                                                    <!-- LAYER NR. 5 -->
                                                    <div class="tp-caption lfb ltb tp-resizeme slide_btn" data-x="419" data-y="479" data-speed="800" data-start="1400" data-easing="Power4.easeOut" data-endspeed="600" data-endeasing="Power4.easeIn"><a href="/shop/productos/">Ir a comprar</a>
                                                    </div>
                                                    <!-- LAYER NR. 6 -->
                                                    <div class="tp-caption lfb ltb tp-resizeme slide_btn type2" data-x="609" data-y="479" data-speed="800" data-start="1500" data-easing="Power4.easeOut" data-endspeed="600" data-endeasing="Power4.easeIn"><a href="/portal/servicios/">Ver servicios</a>
                                                    </div>
                                                </li>
                                                <!-- SLIDE 2 -->
                                                <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                                                    <img src="/static/daylisoft/img/slider/transparent.png" alt="slide2" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" />
                                                    <!-- LAYER NR. 1 -->
                                                    <div class="tp-caption lft ltt tp-resizeme slide_title slide_info_center" data-x="0" data-y="45" data-speed="800" data-start="1400" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power4.easeIn">Mejores Sitios de Internet para Todos
                                                    </div>
                                                    <!-- LAYER NR. 2 -->
                                                    <div class="tp-caption lft ltt tp-resizeme slide_descr slide_info_center" data-x="0" data-y="175" data-speed="700" data-start="1200" data-easing="Power4.easeOut" data-endspeed="600" data-endeasing="Power4.easeIn">Hemos creado sitios web que se destacan de la multitud bellamente artesanal
                                                    </div>
                                                    <!-- LAYER NR. 3 -->
                                                    <div class="tp-caption lfb ltb tp-resizeme slide_img z_index2" data-x="185" data-y="247" data-speed="800" data-start="700" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn"><img src="/static/daylisoft/img/slider/laptop.png" alt="" />
                                                    </div>
                                                    <!-- LAYER NR. 4 -->
                                                    <div class="tp-caption lfl ltl tp-resizeme slide_img z_index3" data-x="58" data-y="380" data-speed="1000" data-start="1200" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn"><img src="/static/daylisoft/img/slider/ipad.png" alt="" />
                                                    </div>
                                                    <!-- LAYER NR. 5 -->
                                                    <div class="tp-caption lfr ltr tp-resizeme slide_img z_index4" data-x="928" data-y="700" data-speed="1000" data-start="1400" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn"><img src="/static/daylisoft/img/slider/mouse.png" alt="" />
                                                    </div>
                                                    <!-- LAYER NR. 6 -->
                                                    <div class="tp-caption lfb ltb tp-resizeme slide_img z_index5" data-x="258" data-y="522" data-speed="1000" data-start="1800" data-easing="Power4.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn"><img src="/static/daylisoft/img/slider/iphone.png" alt="" />
                                                    </div>
                                                </li>
                                                <!-- SLIDE 3 -->
                                                <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                                                    <img src="/static/daylisoft/img/slider/transparent.png" alt="slide3" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" />
                                                    <!-- LAYER NR. 1 -->
                                                    <div class="tp-caption customin z_index2" data-x="692" data-y="0" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:1000;transformOrigin:50% 50%;" data-speed="1500" data-start="500" data-easing="Power3.easeInOut" data-endspeed="300"><img src="/static/daylisoft/img/slider/desktop.png" alt="" />
                                                    </div>
                                                    <!-- LAYER NR. 2 -->
                                                    <div class="tp-caption lfb ltb tp-resizeme slide_img z_index3" data-x="700" data-y="709" data-speed="1400" data-start="1300" data-easing="Back.easeInOut" data-endspeed="1000" data-endeasing="Power4.easeIn"><img src="/static/daylisoft/img/slider/keyboard.png" alt="" />
                                                    </div>
                                                    <!-- LAYER NR. 3 -->
                                                    <div class="tp-caption lfb ltb tp-resizeme slide_img z_index4" data-x="1079" data-y="725" data-speed="1500" data-start="1500" data-easing="Back.easeInOut" data-endspeed="500" data-endeasing="Power4.easeIn"><img src="/static/daylisoft/img/slider/mouse2.png" alt="" />
                                                    </div>
                                                    <!-- LAYER NR. 4 -->
                                                    <div class="tp-caption lft ltt tp-resizeme slide_title font_size130" data-x="0" data-y="118" data-speed="1000" data-start="1800" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power4.easeIn">Altos
                                                    </div>
                                                    <!-- LAYER NR. 5 -->
                                                    <div class="tp-caption lft ltt tp-resizeme slide_title font_size130" data-x="0" data-y="276" data-speed="1000" data-start="1600" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power4.easeIn">Estándares
                                                    </div>
                                                    <!-- LAYER NR. 6 -->
                                                    <div class="tp-caption lfb ltb tp-resizeme slide_descr" data-x="0" data-y="420" data-speed="1000" data-start="1600" data-easing="Power4.easeOut" data-endspeed="600" data-endeasing="Power4.easeIn">Nuestro éxito se debe no sólo a la calidad de nuestro
                                                        <br>trabajo. Es la actitud, nuestro enfoque y la
                                                        forma en que <br>tratamos nuestros clientes.
                                                    </div>
                                                    <!-- LAYER NR. 7 -->
                                                    <div class="tp-caption lfb ltb tp-resizeme slide_btn" data-x="0" data-y="593" data-speed="1000" data-start="1800" data-easing="Power4.easeOut" data-endspeed="600" data-endeasing="Power4.easeIn"><a href="/portal/galeria/">Galería</a>
                                                    </div>
                                                    <!-- LAYER NR. 8 -->
                                                    <div class="tp-caption lfb ltb tp-resizeme slide_btn type2" data-x="190" data-y="593" data-speed="1000" data-start="2000" data-easing="Power4.easeOut" data-endspeed="600" data-endeasing="Power4.easeIn"><a href="/proyectos/inicio/">Trabajos</a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- //Slider -->
                        <div class="row">
                            <div class="col-sm-12 module_cont pb0">
                                <div class="bg_title">
                                    <h2>¡Bienvenido! a Daylisoft / JHC Solutions</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 module_cont pb30">
                                <div class="module_content shortcode_iconbox type4 animate" data-anim-type="fadeInLeft" data-anim-delay="200">
                                    <a href="javascript:void(0);">
                                        <div class="iconbox_wrapper">
                                            <div class="icon_title_wrap">
                                                <div class="ico"><img src="/static/daylisoft/img/icons/icon8.png" class="icon_def" width="80" height="80" alt="" /><img src="/static/daylisoft/img/retina/icons/icon8.png" class="icon_retina" width="80" height="80" alt="" /></div>
                                                <h5 class="iconbox_title">Código Limpio</h5>
                                            </div>
                                            <div class="iconbox_body">
                                                <p>Es imprescindible para cualquier desarrollador, ingeniero de software, director de proyectos, jefe de equipo o analista de sistemas crear código de mejor calidad.</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="module_content shortcode_iconbox type4 animate" data-anim-type="fadeInLeft" data-anim-delay="250">
                                    <a href="javascript:void(0);">
                                        <div class="iconbox_wrapper">
                                            <div class="icon_title_wrap">
                                                <div class="ico"><img src="/static/daylisoft/img/icons/icon9.png" class="icon_def" width="80" height="80" alt="" /><img src="/static/daylisoft/img/retina/icons/icon9.png" class="icon_retina" width="80" height="56" alt="" /></div>
                                                <h5 class="iconbox_title">Totalmente responsivo</h5>
                                            </div>
                                            <div class="iconbox_body">
                                                <p>Proporcionamos a todos los usuarios de la web los mismos contenidos y una experiencia de usuario lo más similar posible, frente a otras aproximaciones al desarrollo web móvil como las apps, el cambio de dominio o webs servidas dinámicamente en función del dispositivo</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="module_content shortcode_iconbox type4 animate" data-anim-type="fadeInLeft" data-anim-delay="300">
                                    <a href="javascript:void(0);">
                                        <div class="iconbox_wrapper">
                                            <div class="icon_title_wrap">
                                                <div class="ico"><img src="/static/daylisoft/img/icons/icon16.png" class="icon_def" width="80" height="80" alt="" /><img src="/static/daylisoft/img/retina/icons/icon16.png" class="icon_retina" width="80" height="56" alt="" /></div>
                                                <h5 class="iconbox_title">Documentacion extendida</h5>
                                            </div>
                                            <div class="iconbox_body">
                                                <p>Se ponen a disposicion todos los manuales de usuario para el mejor manejo del sistema</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-6 module_cont pb30 animate" data-anim-type="fadeIn" data-anim-delay="250">
                                <img src="/static/daylisoft/img/imgs/browser.png" class="img-responsive" alt="" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 module_cont animate" data-anim-type="fadeInUp" data-anim-delay="250">
                                <div class="shortcode_promoblock">
                                    <div class="promoblock_wrapper">
                                        <div class="promo_text_block">
                                            <div class="promo_text_block_wrapper">
                                                <h2 class="promo_text_main_title">Creamos impresionantes páginas web y software para su negocio!</h2>
                                                <h6 class="promo_text_additional_title">DAYLISOFT / JHC Solutions se complace en ofrecer servicios para que logre sus objetivos de mejora de la satisfacción del cliente, ofrecemos la posibilidad de crear sitios web y sistemas modernos y totalmente adaptados a lo que usted necesita.</h6>
                                            </div>
                                        </div>
                                        <div class="promo_button_block"><a class="shortcode_button btn_large btn_type5" href="/portal/contacto/">¡Contáctenos Ahora!</a></div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 module_cont pb0">
                                <div class="bg_title">
                                    <h2>Posibilidades ilimitadas con Daylisoft / JHC Solutions</h2>
                                </div>
                            </div>
                        </div>
                         <div class="row">
                                <div class="col-sm-3 module_cont module_iconboxes pb55 animate" data-anim-type="bounceIn" data-anim-delay="300">
                                    <div class="module_content shortcode_iconbox type3">
                                        <a href="javascript:void(0);">
                                            <div class="iconbox_wrapper">
                                                <div class="icon_title_wrap">
                                                    <div class="ico">
                                                        <img src="/static/daylisoft/img/icons/icon17_b.png" class="icon_def icon_pas" width="80" height="80" alt="" /><img src="/static/daylisoft/img/icons/icon17_b.png" class="icon_retina icon_pas" width="80" height="80" alt="" />
                                                        <img src="/static/daylisoft/img/icons/icon17_b.png" class="icon_def icon_hover" width="80" height="80" alt="" /><img src="/static/daylisoft/img/icons/icon17_b.png" class="icon_retina icon_hover" width="80" height="80" alt="" />
                                                    </div>
                                                    <h5 class="iconbox_title">Fácil de Instalar</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3 module_cont module_iconboxes pb55 animate" data-anim-type="bounceIn" data-anim-delay="350">
                                    <div class="module_content shortcode_iconbox type3">
                                        <a href="javascript:void(0);">
                                            <div class="iconbox_wrapper">
                                                <div class="icon_title_wrap">
                                                    <div class="ico">
                                                        <img src="/static/daylisoft/img/icons/icon18_b.png" class="icon_def icon_pas" width="80" height="80" alt="" /><img src="/static/daylisoft/img/retina/icons/icon18_b.png" class="icon_retina icon_pas" width="80" height="80" alt="" />
                                                        <img src="/static/daylisoft/img/icons/icon18_bl.png" class="icon_def icon_hover" width="80" height="80" alt="" /><img src="/static/daylisoft/img/retina/icons/icon18_bl.png" class="icon_retina icon_hover" width="80" height="80" alt="" />
                                                    </div>
                                                    <h5 class="iconbox_title">Ahorre Dinero</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3 module_cont module_iconboxes pb55 animate" data-anim-type="bounceIn" data-anim-delay="400">
                                    <div class="module_content shortcode_iconbox type3">
                                        <a href="javascript:void(0);">
                                            <div class="iconbox_wrapper">
                                                <div class="icon_title_wrap">
                                                    <div class="ico">
                                                        <img src="/static/daylisoft/img/icons/icon19_b.png" class="icon_def icon_pas" width="80" height="80" alt="" /><img src="/static/daylisoft/img/retina/icons/icon19_b.png" class="icon_retina icon_pas" width="80" height="80" alt="" />
                                                        <img src="/static/daylisoft/img/icons/icon19_bl.png" class="icon_def icon_hover" width="80" height="80" alt="" /><img src="/static/daylisoft/img/retina/icons/icon19_bl.png" class="icon_retina icon_hover" width="80" height="80" alt="" />
                                                    </div>
                                                    <h5 class="iconbox_title">Actualizaciones</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-3 module_cont module_iconboxes pb55 animate" data-anim-type="bounceIn" data-anim-delay="450">
                                    <div class="module_content shortcode_iconbox type3">
                                        <a href="javascript:void(0);">
                                            <div class="iconbox_wrapper">
                                                <div class="icon_title_wrap">
                                                    <div class="ico">
                                                        <img src="/static/daylisoft/img/icons/icon20_b.png" class="icon_def icon_pas" width="80" height="80" alt="" /><img src="/static/daylisoft/img/retina/icons/icon20_b.png" class="icon_retina icon_pas" width="80" height="80" alt="" />
                                                        <img src="/static/daylisoft/img/icons/icon20_bl.png" class="icon_def icon_hover" width="80" height="80" alt="" /><img src="/static/daylisoft/img/retina/icons/icon20_bl.png" class="icon_retina icon_hover" width="80" height="80" alt="" />
                                                    </div>
                                                    <h5 class="iconbox_title">Soporte</h5>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                             </div>
                                                     <div class="fw_block bg_start pt74 pb50 grey_bg mb0">
                            <div class="row">
                                <div class="col-sm-12 module_cont pb0">
                                    <div class="bg_title">
                                        <h2>Nuestas Habilidades</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row skills_start">
                                <div class="col-sm-12 module_cont pb0">
                                    <div class="shortcode_diagram items4">
                                        <ul class="diagram_list" data-bg="#ffffff" data-color="#22a1c4" data-width="5px" data-size="130px" data-fontsize="40px">
                                            <li class="diagram_li animate" data-anim-type="fadeInLeft" data-anim-delay="300">
                                                <div class="diagram_wrapper">
                                                    <div class="diagram_item">
                                                        <div class="chart_wrapper">
                                                            <div class="chart" data-percent="100">100<span>%</span></div>
                                                        </div>
                                                        <div class="diagram_content">
                                                            <h3>Desarrollo Web</h3>
                                                            <div class="diagram_descr">Páginas web sofisticadas</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="diagram_li animate" data-anim-type="fadeInUp" data-anim-delay="250">
                                                <div class="diagram_wrapper">
                                                    <div class="diagram_item">
                                                        <div class="chart_wrapper">
                                                            <div class="chart" data-percent="80">80<span>%</span></div>
                                                        </div>
                                                        <div class="diagram_content">
                                                            <h3>Servidores Web</h3>
                                                            <div class="diagram_descr">Administración de servidores</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="diagram_li animate" data-anim-type="fadeInUp" data-anim-delay="250">
                                                <div class="diagram_wrapper">
                                                    <div class="diagram_item">
                                                        <div class="chart_wrapper">
                                                            <div class="chart" data-percent="100">100<span>%</span></div>
                                                        </div>
                                                        <div class="diagram_content">
                                                            <h3>Equipos Informáticos</h3>
                                                            <div class="diagram_descr">Variedad en modelos y marcas</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="diagram_li animate" data-anim-type="fadeInRight" data-anim-delay="300">
                                                <div class="diagram_wrapper">
                                                    <div class="diagram_item">
                                                        <div class="chart_wrapper">
                                                            <div class="chart" data-percent="95">95<span>%</span></div>
                                                        </div>
                                                        <div class="diagram_content">
                                                            <h3>Facturación Electrónica</h3>
                                                            <div class="diagram_descr">Consulte nuestros planes</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="fw_block bg_start block_plus type1">
                            <div class="item animate" data-anim-type="fadeInLeft" data-anim-delay="400">
                                <h2 class="item_title">¿Por qué nosotros?</h2>
                                <p>Con nuestros productos de software brindamos dar soluciones informáticas corporativas en la parte administrativa, financiera, contable, tributaria y operativa para diferentes tipos de empresas.</p>
                                <a href="/portal/quienesSomos/" class="shortcode_button btn_normal btn_type5">Leer Más</a>
                            </div>
                            <div class="item bg_color2 animate" data-anim-type="fadeIn" data-anim-delay="250">
                                <h2 class="item_title">Lo que obtiene</h2>
                                <p>Sistemas corporativos cuyas nuevas versiones podrán interactuar con aplicaciones Web (Internet) de forma que un cliente pueda acceder a la información administrativa de su empresa a cualquier hora y desde cualquier punto del planeta.</p>
                                <a href="/proyectos/inicio" class="shortcode_button btn_normal btn_type5">Comprar Ahora</a>
                            </div>
                            <div class="item animate" data-anim-type="fadeInRight" data-anim-delay="400">
                                <h2 class="item_title">¿Como lo hacemos?</h2>
                                <p>Nuestro trabajo se fundamenta en un trabajo en equipo, conjugando la implementación de tecnología de punta en el área informática, siempre estamos en constante desarrollo para mejorar nuestros productos y poder ofrecerles siempre lo más actualizado en tecnologías informáticas.</p>
                                <a href="/portal/equipo" class="shortcode_button btn_normal btn_type5">Aprender Más</a>
                            </div>
                        </div>
                        <div class="fw_block bg_start pt74 pb50 grey_bg mb60">
                            <div class="row">
                                <div class="col-sm-12 module_cont pb0">
                                    <div class="bg_title">
                                        <h2>Proporcionar soluciones web de alta calidad</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 module_cont module_main_features">
                                    <div class="featured_items">
                                        <div class="items4 featured_posts">
                                            <ul class="item_list">
                                                <li class="animate" data-anim-type="fadeInUp" data-anim-delay="300">
                                                    <div class="item">
                                                        <div class="item_wrapper">
                                                            <div class="img_block wrapped_img">
                                                                <img alt="" src="/static/daylisoft/img/imgs/responsividad.png" />
                                                            </div>
                                                            <div class="featured_items_body">
                                                                <div class="featured_items_title">
                                                                    <h5>Responsividad</h5>
                                                                </div>
                                                                <div class="featured_item_content"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="animate" data-anim-type="fadeInUp" data-anim-delay="400">
                                                    <div class="item">
                                                        <div class="item_wrapper">
                                                            <div class="img_block wrapped_img">
                                                                <img alt="" src="/static/daylisoft/img/imgs/caracteristicas.png" />
                                                            </div>
                                                            <div class="featured_items_body">
                                                                <div class="featured_items_title">
                                                                    <h5>Características únicas</h5>
                                                                </div>
                                                                <div class="featured_item_content"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="animate" data-anim-type="fadeInUp" data-anim-delay="500">
                                                    <div class="item">
                                                        <div class="item_wrapper">
                                                            <div class="img_block wrapped_img">
                                                                <img alt="" src="/static/daylisoft/img/imgs/personalizar.png" />
                                                            </div>
                                                            <div class="featured_items_body">
                                                                <div class="featured_items_title">
                                                                    <h5>Fácil de personalizar</h5>
                                                                </div>
                                                                <div class="featured_item_content"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="animate" data-anim-type="fadeInUp" data-anim-delay="600">
                                                    <div class="item">
                                                        <div class="item_wrapper">
                                                            <div class="img_block wrapped_img">
                                                                <img alt="" src="/static/daylisoft/img/imgs/social.png" />
                                                            </div>
                                                            <div class="featured_items_body">
                                                                <div class="featured_items_title">
                                                                    <h5>Social</h5>
                                                                </div>
                                                                <div class="featured_item_content"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                             </div>
                        </div>
                           <div class="row">
                                    <div class="col-sm-12 module_cont pb47 module_partners">
                                        <div class="module_content sponsors_works items6">
                                            <ul>
                                            {% for objeto in redes %}
                                                <li class="animate" data-anim-type="bounceIn" data-anim-delay="250">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="{{objeto.red_link}}" target="_blank"><img src="{{objeto.red_imagen.url}}" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                 </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
    <script>
        $("#menu_inicio").addClass("current-menu-parent");
    </script>
{% endblock js %}
