{% extends "base.html" %} {% load static %} {% block css %} {% endblock css %} {% block content %}
    <div class="wrapper_404">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 module_cont pb0">
                    <h1>404</h1>
                    <h2>Oooops, Page not Found!</h2>
                    <div class="module_descr">
                        <p>Apologies! Try to Search for the Best Match or Visit Our Homepage.</p>
                    </div>
                </div>
            </div>
            <div class="form404">
                <form class="search_form search404" action="javascript:void(0);" method="post" name="search_field">
                    <input class="fleft" type="text" placeholder="Search for Pages..." value="" name="s">
                    <input class="fright" type="submit" value="Search">
                    <div class="clear"></div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %} {% block js %}
    {% endblock js %}