<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
	<title>Detalle pedido {{datos_empresa.per_nombre}}</title>
	<style type="text/css">
.ReadMsgBody { width: 100%; background-color: #ffffff; }
.ExternalClass { width: 100%; background-color: #ffffff; }
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div { line-height: 100%; }
html { width: 100%; }
body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; margin: 0; padding: 0; }
table { border-spacing: 0; table-layout: fixed; margin: 0 auto; }
table table table { table-layout: auto; }
img { display: block !important; }
table td { border-collapse: collapse; }
.yshortcuts a { border-bottom: none !important; }
a { color: #91c444; text-decoration: none; }
.textbutton a { font-family: 'open sans', arial, sans-serif !important; color: #ffffff !important; }
.footer-link a { color: #FFFFFF !important; }

@media only screen and (max-width: 640px) {
body { width: auto !important; }
table[class="table600"] { width: 450px !important; }
table[class="table-inner"] { width: 90% !important; }
table[class="table2-2"] { width: 47% !important; text-align: left !important; }
table[class="table3-3"] { width: 100% !important; text-align: center !important; }
table[class="table1-3"] { width: 29% !important; }
table[class="table3-1"] { width: 64% !important; text-align: left !important; }
/* Image */
img[class="img1"] { width: 100% !important; height: auto !important; }
}

@media only screen and (max-width: 479px) {
body { width: auto !important; }
table[class="table600"] { width: 290px !important; }
table[class="table-inner"] { width: 82% !important; }
table[class="table2-2"] { width: 100% !important; text-align: left !important; }
table[class="table3-3"] { width: 100% !important; text-align: center !important; }
table[class="table1-3"] { width: 100% !important; }
table[class="table3-1"] { width: 100% !important; text-align: center !important; }
/* image */
img[class="img1"] { width: 100% !important; }
}
</style>
</head>

<body>

	<!-- header -->

	<table background="images/header-bg.png" bgcolor="#3b3b3b" style="background-size:cover; background-position:center;border-bottom:3px solid #91c444 ; border-collapse:collapse" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
		<tr>
			<td height="55" align="center" background="images/header-fade.png" style=" background-repeat:repeat;">
				<table class="table-inner" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
					<tr>
						<td height="10"></td>
					</tr>
					<tr>
						<td>
							<!--logo-->

							<table class="table3-3" border="0" align="left" cellpadding="0" cellspacing="0">
								<tr>
									<td align="center" style="font-family: 'Open Sans', Arial, sans-serif; font-size:18px; color:#ffffff;letter-spacing: 2px;font-weight: bold;text-transform: uppercase;">
										<span>{{datos_empresa.per_nombre}}</span>
									</td>
								</tr>
							</table>

							<!--end logo-->

							<!--Space-->

							<table width="1" height="15" border="0" cellpadding="0" cellspacing="0" align="left">
								<tr>
									<td height="15" style="font-size: 0;line-height: 0;border-collapse: collapse;">
										<p style="padding-left: 24px;">&nbsp;</p>
									</td>
								</tr>
							</table>

							<!--End Space-->

							<!-- detail -->
							<table class="table3-3" border="0" align="right" cellpadding="0" cellspacing="0">
								<tr>
									<td align="center" style="font-family: 'Open Sans', Arial, sans-serif; font-size:13px;color:#FFFFFF;font-weight: bold;">
										<span style="color:#91c444;">Order ID:</span>
										 #{{ pedido.pk }}
									</td>
								</tr>
							</table>
							<!-- end detail -->
							
						</td>
					</tr>
					<tr>
						<td height="5"></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td align="center">
				<table class="table-inner" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
					<tr>
						<td height="55"></td>
					</tr>
					<!--cta text-->
					<tr align="center">
						<td style="font-family: 'Open Sans', Arial, sans-serif; font-size:38px; color:#ffffff;letter-spacing: 8px;font-weight: bold;text-transform: uppercase;line-height: auto;">Gracias</td>
					</tr>
					<!--end cta text-->

					<tr align="center">
						<td>
							<table align="center" width="30" border="0" cellpadding="0" cellspacing="0">
								<tr>
									<td style="border-bottom:2px solid #91c444;" height="10"></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td height="15"></td>
					</tr>

					<!--detail-->
					<tr align="center">
						<td style="font-family: 'Open Sans', Arial, sans-serif; font-size:12px; color:#ffffff; line-height:28px;letter-spacing: 2px;text-transform: uppercase;">por preferirnos!</td>
					</tr>
					<!--end detail-->
					<tr>
						<td height="55"></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td align="center" style="line-height: 0px;"></td>
		</tr>
	</table>

	<!-- end header -->

	<!-- 1/1 feature title -->
	<table bgcolor="#ffffff" align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
		<tr>
			<td align="center">
				<table class="table-inner" width="550" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-left:20px; margin-right:20px;">
					<tr>
						<td height="50"></td>
					</tr>
					<!-- title -->
					<tr>
						<td align="center" style="font-family: 'Open Sans', Arial, sans-serif; font-size:13px;font-style: italic; color:#91c444; font-weight: bold;"><a href="http://www.daylisoft.com" target="_blank">{{datos_empresa.per_nombre}}</a></td>
					</tr>
					<!-- end title -->
					<tr>
						<td height="15"></td>
					</tr>

					<!-- content -->
					<tr>
						<td align="center" style="font-family: 'Open Sans', Arial, sans-serif; font-size:22px; color:#3b3b3b; line-height:28px;letter-spacing: 2px;font-weight: bold;text-transform: uppercase;">“Soluciones informaticas a un solo click de distancia.”</td>
					</tr>
					<!-- end content -->

					<tr>
						<td align="center">
							<table align="center" width="30" border="0" cellpadding="0" cellspacing="0">
								<tr>
									<td style="border-bottom:2px solid #91c444;" height="30"></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td height="20"></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<!-- end 1/1 feature title -->

	<!-- list -->
	{% for producto in productos %}
	<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
		<tr>
			<td align="center" bgcolor="#ffffff">
				<table align="center" class="table600" width="600" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="30"></td>
					</tr>
					<tr>
						<td align="center">
							<table class="table-inner" width="550" border="0" align="center" cellpadding="0" cellspacing="0">
								<tr>
									<td>
										<!--img-->

										<table class="table3-3" width="100" border="0" align="left" cellpadding="0" cellspacing="0">
											<tr>
												<td align="center" style="line-height: 0px;">
													<img style="display:block; line-height:0px; font-size:0px; border:0px;" class="img1" src="{{producto.img}}" alt="img" width="100" height="100" />
												</td>
											</tr>
										</table>

										<!--end img-->

										<!--Space-->

										<table width="1" height="15" border="0" cellpadding="0" cellspacing="0" align="left">
											<tr>
												<td height="15" style="font-size: 0;line-height: 0;border-collapse: collapse;">
													<p style="padding-left: 24px;">&nbsp;</p>
												</td>
											</tr>
										</table>

										<!--End Space-->

										<table class="table3-3" width="282" border="0" align="left" cellpadding="0" cellspacing="0">
											<tr>
												<td height="5"></td>
											</tr>
											<!--title-->
											<tr>
												<td style="font-family: 'Open Sans', Arial, sans-serif; font-size:16px;color:#3b3b3b;font-weight: bold;">{{producto.prod.pro_id.pro_nombre}}</td>
											</tr>
											<!--end title-->

											<tr>
												<td height="10"></td>
											</tr>

											<!--content-->
											<tr>
												<td style="font-family: 'Open Sans', Arial, sans-serif; font-size:13px;color:#7f8c8d;line-height: 28px;">{{producto.prod.pro_id.pro_descripcion_corta}}</td>
											</tr>
											<!--end content-->

											<tr>
												<td height="5"></td>
											</tr>

											<!--link-->
											<tr>
												<td style="font-family: 'Open Sans', Arial, sans-serif; font-size:13px;color:#7f8c8d;line-height: 28px;">
													<a href="http://www.daylisoft.com/shop/producto_detalle/{{producto.prod.pro_id.pk}}/" target="_blank">mas detalles</a>
												</td>
											</tr>
											<!--end link-->

										</table>

										<!--Space-->

										<table width="1" height="10" border="0" cellpadding="0" cellspacing="0" align="left">
											<tr>
												<td height="10" style="font-size: 0;line-height: 0;border-collapse: collapse;">
													<p style="padding-left: 24px;">&nbsp;</p>
												</td>
											</tr>
										</table>

										<!--End Space-->

										<table class="table3-3" width="118" border="0" align="right" cellpadding="0" cellspacing="0">
											<tr>
												<td height="15"></td>
											</tr>
											<!--price-->
											<tr>
												<td align="center" style="font-family: 'Open Sans', Arial, sans-serif; font-size:20px;color:#3b3b3b;line-height: 28px;font-weight: bold;">${{producto.prod.precio_unit}}</td>
											</tr>
											<!--end price-->

											<tr>
												<td align="center">
													<table width="60" border="0" align="center" cellpadding="0" cellspacing="0">
														<tr>
															<td style="border-bottom:1px solid #d8dcdd;" height="10"></td>
														</tr>
													</table>
												</td>
											</tr>

											<!--quantity-->
											<tr>
												<td  align="center" style="font-family: 'Open Sans', Arial, sans-serif; font-size:12px;color:#91c444;line-height: 28px;font-style: italic;font-weight: bold;">{{producto.prod.cantidad}}Und.</td>
											</tr>
											<!--end quantity-->

										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	{% endfor %}
	<!-- end list -->
	<!-- total -->
	<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
		<tr>
			<td align="center" bgcolor="#ffffff">
				<table align="center" class="table600" width="600" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="30"></td>
					</tr>
					<tr>
						<td align="center" style="border-top:3px solid #ecf0f1;">
							<table class="table-inner" width="550" border="0" align="center" cellpadding="0" cellspacing="0">
								<tr>
									<td height="15"></td>
								</tr>
								<tr>
									<td>
										<table class="table3-3" width="400" border="0" align="left" cellpadding="0" cellspacing="0">

											<!--total-->
											<tr>
												<td height="40" style="font-family: 'Open Sans', Arial, sans-serif; font-size:16px;color:#3b3b3b;">Subtotal</td>
											</tr>
											<tr>
												<td height="40" style="font-family: 'Open Sans', Arial, sans-serif; font-size:16px;color:#3b3b3b;">Iva ({{iva}})</td>
											</tr>
											<tr>
												<td height="40" style="font-family: 'Open Sans', Arial, sans-serif; font-size:16px;color:#3b3b3b;">Envio</td>
											</tr>
											<tr>
												<td height="40" style="font-family: 'Open Sans', Arial, sans-serif; font-size:16px;color:#3b3b3b;">Total</td>
											</tr>
											<!--end total-->

										</table>

										<!--Space-->

										<table width="1" height="15" border="0" cellpadding="0" cellspacing="0" align="left">
											<tr>
												<td height="15" style="font-size: 0;line-height: 0;border-collapse: collapse;">
													<p style="padding-left: 24px;">&nbsp;</p>
												</td>
											</tr>
										</table>

										<!--End Space-->

										<table bgcolor="#f2f2f2" style="border-radius:6px;" align="right" class="table3-3" width="118" border="0" cellspacing="0" cellpadding="0">

											<!--sum-->
											<tr>
												<td height="40" align="center" style="font-family: 'Open Sans', Arial, sans-serif; font-size:16px;font-weight: bold;">${{subtotal}}</td>
											</tr>
											<tr>
												<td height="40" align="center" style="font-family: 'Open Sans', Arial, sans-serif; font-size:16px;font-weight: bold;">${{valor_iva}}</td>
											</tr>
											<tr>
												<td height="40" align="center" style="font-family: 'Open Sans', Arial, sans-serif; font-size:16px;font-weight: bold;">${{envio}}</td>
											</tr>
											<tr>
												<td height="40" align="center" style="font-family: 'Open Sans', Arial, sans-serif; font-size:16px;color:#3b3b3b;font-weight: bold;">${{pedido.ped_total_pagar}}</td>
											</tr>
											<!--end sum-->

										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<!-- end total -->

	<!-- detail -->
	<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
		<tr>
			<td height="50" bgcolor="#FFFFFF"></td>
		</tr>
		<tr>
			<td align="center" bgcolor="#f3f3f3">
				<table align="center" class="table-inner" width="600" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td height="30"></td>
					</tr>
					<tr>
						<td>

							<!--left-->
							<table class="table3-3" width="287" border="0" align="left" cellpadding="0" cellspacing="0">
								<!--title-->
								<tr align="left">
									<td style="font-family: 'Open Sans', Arial, sans-serif; font-size:18px;color:#3b3b3b;font-weight: bold;">Detalle</td>
								</tr>
								<!--end title-->

								<tr>
									<td align="left">
										<table align="left" width="30" border="0" cellpadding="0" cellspacing="0">
											<tr>
												<td style="border-bottom:2px solid #91c444;" height="15"></td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td height="10"></td>
								</tr>

								<!--content-->
								<tr align="left">
									<td style="font-family: 'Open Sans', Arial, sans-serif; font-size:13px;color:#7f8c8d;line-height: 28px;">
										<span style="color:#3b3b3b;font-weight: bold;">ID :</span>
										
										<br />
										<span style="color:#3b3b3b;font-weight: bold;">Client :</span>
										{{pedido.cliente.us_nombre}} {{pedido.cliente.us_apellidos}}
										<br />
										<span style="color:#3b3b3b;font-weight: bold;">Fecha :</span>
										{{pedido.ped_fecha_pedido}}
									</td>
								</tr>
								<!--end content-->
							</table>
							<!--end left-->

							<!--Space-->

							<table width="1" height="15" border="0" cellpadding="0" cellspacing="0" align="left">
								<tr>
									<td height="15" style="font-size: 0;line-height: 0;border-collapse: collapse;">
										<p style="padding-left: 24px;">&nbsp;</p>
									</td>
								</tr>
							</table>

							<!--End Space-->

							<!--right-->
							<table class="table3-3" width="287" border="0" align="right" cellpadding="0" cellspacing="0">
								<!--title-->
								<tr align="left">
									<td style="font-family: 'Open Sans', Arial, sans-serif; font-size:18px;color:#3b3b3b;font-weight: bold;">Contacto</td>
								</tr>
								<!--end title-->

								<tr>
									<td align="left">
										<table align="left" width="30" border="0" cellpadding="0" cellspacing="0">
											<tr>
												<td style="border-bottom:2px solid #91c444;" height="15"></td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td height="10"></td>
								</tr>

								<!--content-->
								<tr align="left">
									<td style="font-family: 'Open Sans', Arial, sans-serif; font-size:13px;color:#7f8c8d;line-height: 28px;">
										Las solicitudes de asistencia las puede realizar enviando un email o con los numeros que se encuentran en <strong><a href="http://www.daylisoft.com/portal/contacto/">nuestra pagina de contacto.</a></strong> 
									</td>
								</tr>
								<!--end content-->
							</table>
							<!--end right-->

						</td>
					</tr>
					<tr>
						<td height="30"></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<!-- end detail -->

	<!-- footer -->
	<table bgcolor="ffffff" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
		<tr>
			<td height="50"></td>
		</tr>
		<tr>
			<td align="center" bgcolor="#3b3b3b">
				<table class="table600" width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-left:20px; margin-right:20px;">
					<tr>
						<td height="15"></td>
					</tr>
					<tr>
						<td>
							<table class="table3-3" width="287" border="0" align="left" cellpadding="0" cellspacing="0">
								<!-- title -->
								<tr>
									<td style="font-family: 'Open Sans', Arial, sans-serif; font-size:16px; color:#ffffff; line-height:26px; font-weight: bold;">Siguenos</td>
								</tr>
								<!-- end title -->
							</table>

							<!--Space-->

							<table width="1" height="30" border="0" cellpadding="0" cellspacing="0" align="left">
								<tr>
									<td height="30" style="font-size: 0;line-height: 0;border-collapse: collapse;">
										<p style="padding-left: 24px;">&nbsp;</p>
									</td>
								</tr>
							</table>

							<!--End Space-->

							<!-- social -->

							<table class="table3-3" width="287" border="0" align="right" cellpadding="0" cellspacing="0">
								<tr>
									<td height="8"></td>
								</tr>
								<tr>
									<td>
										<table class="table3-3" border="0" align="right" cellpadding="0" cellspacing="0">
											<tr>
												<td align="center" style="line-height: 0px;">
													<a href="https://www.facebook.com/daylisoft/">
														<img style="display:block; line-height:0px; font-size:0px; border:0px;" src="images/facebook.png" width="8" height="16"  alt=""/>
													</a>
												</td>
												<td width="25"></td>
												<td align="center" style="line-height: 0px;">
													<a href="https://twitter.com/daylisoft">
														<img style="display:block; line-height:0px; font-size:0px; border:0px;" src="images/twitter.png" width="16" height="13"  alt=""/>
													</a>
												</td>
												<td width="25"></td>
												<td align="center" style="line-height: 0px;">
													<a href="https://plus.google.com/u/0/109232023950965083720">
														<img style="display:block; line-height:0px; font-size:0px; border:0px;" src="images/google.png" width="15" height="16"  alt=""/>
													</a>
												</td>
												<td width="25"></td>
												<td align="center" style="line-height: 0px;">
													<a href="https://www.linkedin.com/in/dayli-soft-b8715a12a">
														<img style="display:block; line-height:0px; font-size:0px; border:0px;" src="images/linkedin.png" width="15" height="15"  alt=""/>
													</a>
												</td>
												<td width="25"></td>
												<td align="center" style="line-height: 0px;">
													<a href="https://www.behance.net/daylisfotc42c">
														<img style="display:block; line-height:0px; font-size:0px; border:0px;" src="images/behance.png" width="16" height="10"  alt=""/>
													</a>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>

							<!-- end social -->
						</td>
					</tr>
					<tr>
						<td height="15"></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td bgcolor="#91c444" align="center">
				<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="table600" style="margin-left:20px; margin-right:20px;">
					<tr>
						<td height="5"></td>
					</tr>
					<tr>
						<td>
							<!-- copyright -->

							<table class="table3-3" width="390" border="0" align="left" cellpadding="0" cellspacing="0">
								<tr>
									<td valign="middle" style="font-family: 'Open Sans', Arial, sans-serif; font-size:13px; color:#ffffff; line-height:28px;">Copyright © Daylisoft 2017, All rights reserved.</td>
								</tr>
							</table>

							<!-- end copyright -->
							<!--Space-->

							<table width="1" height="10" border="0" cellpadding="0" cellspacing="0" align="left">
								<tr>
									<td height="10" style="font-size: 0;line-height: 0;border-collapse: collapse;">
										<p style="padding-left: 24px;">&nbsp;</p>
									</td>
								</tr>
							</table>

							<!--End Space-->

							<table class="table3-3" width="184" border="0" align="right" cellpadding="0" cellspacing="0">
							</table>
						</td>
					</tr>
					<tr>
						<td height="5"></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<!--end footer-->
</body>
</html>