
{% extends "base.html" %} {% load static %} {% block css %} {% endblock css %} {% block content %}

    {% load extras_tags %}
    <div class="wrapper">
    	<div class="container">
        	<div class="content_block row no-sidebar single_post">
            	<div class="fl-container">
                	<div class="posts-block">
                        <div class="contentarea">
                        	<div class="blog_post_preview animate" data-anim-type="fadeInUp" data-anim-delay="300">
                            	<h1>{{seleccionBlog.ent_titulo}}</h1>
                                <div class="listing_meta">
                                    <span>{{seleccionBlog.ent_fecha}}</span>
                                    <span>by <a href="javascript:void(0);">{{seleccionBlog.ent_usuario}}</a></span>
                                    <span><a href="javascript:void(0);">{{seleccionBlog.comentarios.all.count}}</a></span>
                                    <span>Tags:
                                        {% for tag in seleccionBlog.ent_tags.all %}
                                        {% if  forloop.counter  < seleccionBlog.ent_tags.all.count %}
                                            <a href="javascript:void(0);">{{tag.tag_nombre}}</a>,
                                        {% else %}
                                            <a href="javascript:void(0);">{{tag.tag_nombre}}</a>
                                        {% endif %}
                                        {% endfor %}
                                    </span>
                                </div>
                                        {% if seleccionBlog.images.all.count > 0 %}
                                            {% if seleccionBlog.images.all.count == 1 %}
                                            <div class="" align="center">
                                                {% for img in seleccionBlog.images.all %}
                                                    <a href="/blog/categoria/{{seleccionBlog.ent_categoria.cat_nombre}}/{{seleccionBlog.ent_id}}"><img src="{{img.img_imagen.url}}" alt="" /></a>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                            <div class="pf_output_container blog_post_image">
                                                <div class="slider-wrapper theme-default">
                                                    <div class="nivoSlider">
                                                        {% for img in seleccionBlog.images.all %}
                                                            <img src="{{img.img_imagen.url}}"  alt="" />
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% endif %}
                                <div class="blog_content module_content">
                                    <p>{{seleccionBlog.ent_texto|safe}}</p>
                                    {% for textos in blogTextos %}
                                        <div id="llenar"><p>{{textos.etex_texto|safe}}</p></div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row control_post_links">
                                <div class="col-sm-6 animate" data-anim-type="fadeInLeft" data-anim-delay="300">
                                    <div class="shortcode_icons_wrapper">
                                        <div class="fb-like" data-href="http://daylisoft.com/blog/categoria/{{seleccionBlog.ent_categoria.cat_nombre}}/{{seleccionBlog.ent_id}}/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>

                                    </div>
                                </div>
                                {% if blogTextos|length > 0 %}
                                <div class="col-sm-6 text-right animate" data-anim-type="fadeInRight" data-anim-delay="300">
                                    <div class="prev_next_links">
                                    {% if blogTextos.has_previous %}
                                        <a  href="?page={{ blogTextos.previous_page_number }}"></i>Prev</a>
                                    {% endif %}
                                    {% if blogTextos.has_next %}
                                        <span>/</span>
                                        <a href="?page={{ blogTextos.next_page_number }}">Next<i class="icon-angle-right"></i></a>
                                    {% endif %}

                                    </div>
                                </div>
                                {% endif %}
                            </div>
                             <div class="row">
                                <div class="col-sm-12 module_cont pb33 module_feature_posts">
                                	<h3 class="mb27">Últimas Entradas</h3>
                                    <div class="featured_items">
                                        <div class="items4 featured_posts">
                                            <ul class="item_list">
                                            {% for objeto in ultimosBlog %}
                                                <li class="animate" data-anim-type="fadeInUp" data-anim-delay="300">
                                                    <div class="item">
                                                        <div class="item_wrapper">
                                                            <div class="img_block wrapped_img">
                                                            {% if objeto.images.all.count > 0 %}
                                                                {% for img in objeto.images.all %}
                                                                    {% if  forloop.counter  = objeto.images.all.count %}
                                                                        <img src="{{img.img_imagen.url}}" alt="" />
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% else %}
                                                                    <img src="/static/daylisoft/img/sin-imagen.png" alt="">
                                                            {% endif %}
                                                                <span class="block_fade"></span>
                                                                <div class="post_hover_info">
                                                                    <a class="featured_ico_link view_link" href="/blog/categoria/{{objeto.ent_categoria.cat_nombre}}/{{objeto.ent_id}}"><i class="icon-link"></i></a>
                                                                </div>
                                                            </div>
                                                            <div class="featured_items_body">
                                                                <div class="featured_items_title">
                                                                    <h5><a href="/blog/categoria/{{objeto.ent_categoria.cat_nombre}}/{{objeto.ent_id}}">{{objeto.ent_titulo}}</a></h5>
                                                                </div>
                                                                <div class="featured_item_content">{{objeto.ent_descripcion}}.</div>
                                                                <div class="featured_meta">
                                                                    <div class="date">
                                                                        <i class="icon-calendar"></i>{{objeto.ent_fecha}}
                                                                    </div>
                                                                    <div class="comments">
                                                                        <a href="javascript:void(0);">
                                                                            <i class="icon-comments"></i>{{objeto.comentarios.all.count}}
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                             </div>

                             <div id="comments">
                                <h3 class="animate" data-anim-type="fadeInUp" data-anim-delay="350">{{seleccionBlog.comentarios.all.count}} Comments:</h3>
                                <ol class="commentlist animate" data-anim-type="fadeInUp" data-anim-delay="350">
                                    <li class="comment">
                                    <div id="id_comentarios" name="id_comentarios">

                                    </div>
                                    </li>
                                </ol>
                                {% if request.user.is_authenticated %}
                                    <div id="respond" class="animate" data-anim-type="fadeInUp" data-anim-delay="400">
                                        <h3 class="mb22">Deja una respuesta!</h3>
                                        <p class="mb23">Su dirección de correo electrónico no será publicada. Los campos necesarios están marcados *</p>
                                        <form class="comment-form" id="commentform0">
                                            <div class="row row20">
                                                <div class="col-sm-4"><input type="text" id="tema" name="tema" value="" placeholder="Tema*"></div>
                                            </div>
                                            <textarea rows="5" cols="45" name="mensaje" id="mensaje" placeholder="Escriba su mensaje aqui..."></textarea>
                                            <input type="button" value="Enviar Mensaje" id="submit" name="submit" onclick="enviarMensaje(0)">
                                        </form>
                                    </div><!-- #respond -->
                                {% else %}
                                    <div id="respond" class="animate" data-anim-type="fadeInUp" data-anim-delay="400">
                                        <h3 class="mb22">Deja una respuesta!</h3>
                                        <p class="mb23">Su dirección de correo electrónico no será publicada. Los campos necesarios están marcados *</p>
                                        <form class="comment-form" id="commentform1">
                                            <div class="row row20">
                                                <div class="col-sm-4"><input type="text" id="nombre" name="nombre" value="" placeholder="Nombre*"></div>
                                                <div class="col-sm-4"><input type="text" id="email" name="email" value="" placeholder="Email*"></div>
                                                <div class="col-sm-4"><input type="text" id="tema" name="tema" value="" placeholder="Tema*"></div>
                                            </div>
                                            <textarea rows="5" cols="45" name="mensaje" id="mensaje" placeholder="Escriba su mensaje aqui..."></textarea>
                                            <input type="button" value="Enviar Mensaje" id="submit" name="submit" onclick="enviarMensaje(0)">
                                        </form>
                                    </div><!-- #respond -->
                                {% endif %}

                            </div>

                            <div class="fw_block bg_start grey_bg pt46 mb0">
                                <div class="row">
                                    <div class="col-sm-12 module_cont pb47 module_partners">
                                        <div class="module_content sponsors_works items6">
                                            <ul>
                                            {% for objeto in redes %}
                                                <li class="animate" data-anim-type="bounceIn" data-anim-delay="250">
                                                    <div class="item_wrapper">
                                                        <div class="item">
                                                            <a href="{{objeto.red_link}}" target="_blank"><img src="{{objeto.red_imagen.url}}" alt="" /></a>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                 </div>
                             </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Modal responder comentario-->
<div id="modalResponder" class="modal fade login_popup" style="z-index:1000000000" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <h3>Responder comentario</h3>
            <div class="row">
            </div>
                <form id="form_responder" class="m-t" role="form">{% csrf_token %}
                {% if request.user.is_authenticated %}
                {% else %}
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Nombre*" id="nombre_modal" name="nombre_modal" required="">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email*" id="email_modal" name="email_modal" required="">
                    </div>
                {% endif %}
                    <input class="form-control" name="id_comentario" id="id_comentario" type="hidden">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Tema*" id="tema_modal" name="tema_modal" required="">
                    </div>
                    <div class="form-group">
                        <textarea rows="5" cols="45" name="mensaje_modal" id="mensaje_modal" placeholder="Escriba su mensaje aqui..."></textarea>
                    </div>
                    <button onclick="enviarMensaje(1)" type="button" class="btn btn-primary block full-width m-b">
                        <span>Responder</span>
                    </button>
                </form>
            <button type="button" class="close_popup" data-dismiss="modal"><i class="icon-times"></i></button>
        </div>
    </div>
</div>
{% endblock content %} {% block js %}
<script>
document.onload = formarComentarios()
    function formarComentarios() {
    $.ajax({
        data: {'identificador':{{seleccionBlog.ent_id}}},
        url: "/blog/comentarios/",
        type: 'post',
        success: function (data) {
            if(data.length != 0){
                var vector_sectores = new Array();

                $("#id_comentarios").empty();
                mensaje =  "";
                for(var i = 0; i<data.length; i++){
                    var com_id=data[i].com_id+"";
                    var nombre=data[i].com_texto;
                    var padre_id=data[i].com_padre+"";

                    if(com_id == padre_id || padre_id == "0")
                    {
                        mensaje=mensaje+'<div class="stand_comment"><div class="thiscommentbody"><div class="commentava wrapped_img">'+
                                '<img class="avatar" src="'+data[i].com_avatar+'" alt="" /></div>'+
                                '<div class="comment_info">'+
                                '<div class="comment_author_name"><a href="javascript:void(0);">'+data[i].com_usuario+'</a></div>'+
                                '<p>'+data[i].com_texto+'</p>'+
                                '<div class="comment_meta">'+
                                '<span class="date">'+data[i].com_fecha+'</span>'+
                                '<span class="comments"><a onclick="modalResponder('+data[i].com_id+');"  class="comment-reply-link"><i class="icon-reply"></i>'+'Responder</a></span>'+
                                '</div></div></div></div>';
                        agregar_respuestas(com_id, data);
                        mensaje =mensaje + "</li>";
                    }
                }
                mensaje = mensaje + "";
                $("#id_comentarios").append(mensaje);
            }else{
                // error
                var men = "Comments no encontrados.";
                // toastr.options={"progressBar":true};
                // toastr.error(men,'Comments');
            }
        },
        error: function (jqXHR, textStatus, errorThrown) {
            //Error
            var men = "Daylisoft sufrio un error inesperado, vuelva a intentar.";
            toastr.options={"progressBar":true};
            toastr.error(men,'Comments');
            alert(jqXHR.status+"::"+jqXHR.responseText);
        }
    });
}
function agregar_respuestas(id_comentario_aux, data)
{
    mensaje = mensaje + "<ul>";
    for(var i = 0; i<data.length; i++){
        var id_comentario=data[i].com_id+"";
        var nombre=data[i].com_texto;
        var padre_id=data[i].com_padre+"";
        var avatar=data[i].com_avatar+"";
        var usuario=data[i].com_usuario+"";
        if(padre_id == id_comentario_aux && id_comentario != padre_id && id_comentario != "0")
        {
            mensaje=mensaje+'<li class="comment"><div class="stand_comment"><div class="thiscommentbody">'+
                            '<div class="commentava wrapped_img"><img class="avatar" src="'+avatar+'" alt="" />'+
                            '</div><div class="comment_info">'+
                            '<div class="comment_author_name"><a href="javascript:void(0);">'+usuario+'</a></div>'+
                            '<p>'+nombre+'</p>'+
                            '<div class="comment_meta">'+
                            '<span class="date">'+data[i].com_fecha+'</span>'+
                            '<span class="comments"><a onclick="modalResponder('+data[i].com_id+');" class="comment-reply-link"><i class="icon-reply">'+
                            '</i>Responder</a></span></div></div></div></div></li>';
            agregar_respuestas(id_comentario, data);
            mensaje=mensaje+"</li>";
        }
    }
    mensaje = mensaje+ "</ul>";
}
function enviarMensaje(idRespuesta){
        if(idRespuesta==0){
            datos={'entrada':'{{seleccionBlog.ent_id}}', 'nombre': $("#nombre").val(),
               'email': $("#email").val(), 'tema':$("#tema").val(), 'mensaje':$("#mensaje").val()}
        }else{
            datos=datos={'entrada':'{{seleccionBlog.ent_id}}', 'nombre': $("#nombre_modal").val(),
               'email': $("#email_modal").val(), 'tema':$("#tema_modal").val(),
               'id_comentario':$("#id_comentario").val(),'mensaje':$("#mensaje_modal").val()}
        }
        $.ajax({
        data: datos,
        url: '/blog/agregar_comentario/',
        type: 'get',
        success: function(data) {
            if (data.result == "OK") {
                var hhost = document.location.pathname;
                location.href = hhost;
            } else {}
        }
    });
}
function modalResponder(id) {
    $("#id_comentario").val(id);
    $('#modalResponder').modal('show');
}
</script>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.8&appId=573156632868467";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock js %}