{% extends "base.html" %} {% load static %} {% block css %} {% endblock css %} {% block content %}
<div class="breadcrumbs">
    <div class="container">
        <a href="/">Inicio</a><span>/</span>Blog
        <h1 class="title-page">Daylisoft / JHC Solutions</h1>
    </div>
</div>
<div class="wrapper">
    <div class="container">
                <div class="content_block row right-sidebar">
                <div class="fl-container hasRS">
                    <div class="posts-block">
                        <div class="contentarea">
                            <div class="row">
                                <div class="col-sm-12 module_cont pb60 module_blog">
                                    {% for objeto in blogCategoria %}
                                        <div class="blog_post_preview animate" data-anim-type="fadeInLeft" data-anim-delay="300">
                                                {% if objeto.images.all.count == 1 %}
                                                    <div class="blog_post_image">
                                                        {% for img in objeto.images.all %}
                                                            <a href="/blog/categoria/{{objeto.ent_categoria.cat_nombre}}/{{objeto.ent_id}}"><img src="{{img.img_imagen.url}}" alt="" /></a>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    <div class="pf_output_container blog_post_image">
                                                        <div class="slider-wrapper theme-default">
                                                            <div class="nivoSlider">
                                                                {% for img in objeto.images.all %}
                                                                    <img src="{{img.img_imagen.url}}"  alt="" />
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            <div class="blog_content">
                                                <h2 class="blogpost_title"><a href="/blog/categoria/{{objeto.ent_categoria.cat_nombre}}/{{objeto.ent_id}}">{{objeto.ent_titulo}}</a></h2>
                                                <div class="listing_meta">
                                                    <span>{{objeto.ent_fecha}}</span>
                                                    <span>by <a href="javascript:void(0);">{{objeto.ent_usuario}}</a></span>
                                                    <span><a href="javascript:void(0);">{{objeto.comentarios.all.count}}</a></span>
                                                    <span>Tags:
                                                        {% for tag in objeto.ent_tags.all %}
                                                        {% if  forloop.counter  < objeto.ent_tags.all.count %}
                                                            <a href="javascript:void(0);">{{tag.tag_nombre}}</a>,
                                                        {% else %}
                                                            <a href="javascript:void(0);">{{tag.tag_nombre}}</a>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </span>
                                                </div>
                                                <p>{{objeto.ent_descripcion}}. <a href="/blog/categoria/{{objeto.ent_categoria.cat_nombre}}/{{objeto.ent_id}}" class="read_more">Detalles</a></p>
                                            </div>
                                            </div>
                                    {% endfor %}
                                    {% if blogCategoria|length > 0 %}
                                        <ul class="pagerblock animate" data-anim-type="fadeInUp" data-anim-delay="300">
                                            {% if blogCategoria.has_previous %}
                                                <li><a href="?page={{ blogCategoria.previous_page_number }}"><i class="icon-angle-left"></i></a></li>
                                            {% endif %}
                                            {% for i in blogCategoria.paginator.page_range|slice:":10"%}
                                                {% if blogCategoria.number == i %}
                                                    <li><a class="current">{{ i }}</a></li>
                                                {% else %}
                                                    <li><a href="?page={{ i }}">{{i}}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                            {% if blogCategoria.paginator.num_pages > 10 %}
                                                <li><span>...</span></li>
                                                <li><a href="?page={{ blogCategoria.paginator.num_pages }}">{{ blogCategoria.paginator.num_pages }}</a></li>
                                            {% endif %}
                                            <!-- <li><a class="current" href="?page={{blogCategoria.number }}">{{ blogCategoria.number }}</a></li> -->
                                            <!-- <li><span>...</span></li> -->
                                            <!-- <li><a href="?page={{ blogCategoria.paginator.num_pages }}">{{ blogCategoria.paginator.num_pages }}</a></li> -->
                                            {% if blogCategoria.has_next %}
                                                <li><a class="next-page" href="?page={{ blogCategoria.next_page_number }}"><i class="icon-angle-right"></i></a></li>
                                            {% endif %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="right-sidebar-block">

                    <div class="sidepanel widget_search">
                        <form name="search_form" method="get" action="javascript:void(0);" class="search_form">
                            <input type="text" name="s" value="" placeholder="Buscar">
                            <input type="submit" value="Go">
                        </form>
                    </div>

                    <div class="sidepanel widget_categories animate" data-anim-type="fadeInUp" data-anim-delay="300">
                        <h4 class="title">Categorías</h4>
                        <ul>
                            <li class="cat-item current-menu-item"><a href="/blog/categoria/{{ categoria.cat_nombre }}">{{ categoria.cat_nombre }}</a></li>
                            {% for cat in categorias %}
                                <li class="cat-item"><a href="/blog/categoria/{{ cat.cat_nombre }}">{{ cat.cat_nombre }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="sidepanel widget_posts animate" data-anim-type="fadeInUp" data-anim-delay="300">
                        <h4 class="title">Últimas Entradas</h4>
                        <ul class="recent_posts">
                        {% for objeto in ultimosBlog %}
                            <li class="with_img">
                                <div class="recent_posts_content">
                                {% if objeto.images.all.count > 0 %}
                                    {% for img in objeto.images.all %}
                                        {% if  forloop.counter  = objeto.images.all.count %}
                                            <img src="{{img.img_imagen.url}}" alt="" />
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                        <img src="/static/daylisoft/img/sin-imagen.png" alt="">
                                {% endif %}
                                    <a href="javascript:void(0);" class="title">{{objeto.ent_titulo}}</a>
                                    <div class="recent_posts_info">{{objeto.ent_fecha}} /  <a href="javascript:void(0);">{{objeto.comentarios.all.count}} comments</a></div>
                                </div>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>

                    <div class="sidepanel widget_tag_cloud animate" data-anim-type="fadeInUp" data-anim-delay="300">
                        <h4 class="title">Etiquetas</h4>
                        <div class="tagcloud">
                            {% for objeto in etiquetasBlog %}
                                <a href="javascript:void(0);">{{ objeto }}</a>
                            {% endfor %}
                        </div>
                    </div>

<!--                    <div class="sidepanel widget_twitter animate" data-anim-type="fadeInUp" data-anim-delay="300">-->
<!--                        <h4 class="title">Últimos Twitts</h4>-->
<!--                        <div class="tweet_module">-->
<!--                                <div class="block social-block social-twitter">-->
<!--                                {% load extras_tags %}-->
<!--                                    <ul class="recent_posts">-->
<!--                                    {% for tweet in var|get_tweets %}-->
<!--                                        <li class="with_img">-->
<!--                                            <div class="recent_posts_content">-->
<!--                                                {% if tweet.media.0.media_url_https = None %}-->
<!--                                                    <a href="https://www.twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id }}" target="_blank" class="title"><img src="/static/daylisoft/img/logo.png" width="" height="32" /></a>-->
<!--                                                {% else %}-->
<!--                                                    <a href="{{ tweet.media.0.url }}" target="_blank"><img src="{{ tweet.media.0.media_url_https }}" width="" height="32" /></a>-->
<!--                                                {% endif %}-->
<!--                                                <a href="https://www.twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id }}" target="_blank" class="title">{{ tweet|urlize_tweet_text|safe }}</a>-->
<!--                                                <div class="recent_posts_info">{{ tweet.created_at|twitter_date }}</div>-->
<!--                                            </div>-->
<!--                                        </li>-->
<!--                                    {% endfor %}-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                    </div>-->

<!--                    <div class="sidepanel widget_flickr animate" data-anim-type="fadeInUp" data-anim-delay="300">-->
<!--                        <h4 class="title">Facebook</h4>-->
<!--                        <div class="fb-page"-->
<!--                          data-href="https://www.facebook.com/daylisoft"-->
<!--                          data-width="340"-->
<!--                          data-hide-cover="false"-->
<!--                          data-show-facepile="true">-->
<!--                          </div>-->
<!--                    </div>-->

                </div>
                <div class="clear"></div>
            </div>
    </div>
</div>
{% endblock content %}
{% block js %}
    <script>
        $("#menu_blog").addClass("current-menu-parent");
    </script>
{% endblock js %}